{% extends 'base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
    <main class="w3-container w3-theme-d2 w3-text-theme w3-padding-bottom-16">
        {% block main %}
            <div id="posts" class="w3-ul w3-threequarter">
                <h2>Sign Up</h2>

                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                <form class="w3-container" method="post" action="{% url 'signup' %}">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                    {% endfor %}

                    <input type="submit" class="w3-btn w3-theme-dark" value="Signup" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        {% endblock main %}
    </main>
{% endblock content %}