{% extends 'pages/base_page.html' %}

{% block page_head %}
    {% if flatpage.page_head %}
        {% autoescape off %}
            {{ flatpage.page_head }}
        {% endautoescape %}
    {% endif %}

    {{ block.super }}
{% endblock page_head %}

{% block main %}
    <div class="card mb-2">
        <div class="card-header">
            <span class="d-flex">
                <span class="col">
                    <h2>Page #{{ flatpage.id }}</h2>
                </span>
            </span>
        </div>

        <div class="card-body">
            {% autoescape off %}
                <span class="card-text">{{ flatpage.content }}</span>
            {% endautoescape %}
        </div>
    </div>
{% endblock main %}
