{% extends 'pages/base_page.html' %}

{% block page_top_title %}
    <h2 class="clearfix">{{ title }}</h2>
{% endblock page_top_title %}

{% block page_head %}
    {% if flatpage.page_head %}
        {% autoescape off %}
            {{ flatpage.page_head }}
        {% endautoescape %}
    {% endif %}

    <!-- Primary Meta Tags -->
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ flatpage.description }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:url" content="{{ flatpage.get_absolute_url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ flatpage.description }}">

    <!-- Twitter -->
    <meta property="twitter:url" content="{{ flatpage.get_absolute_url }}">
    <meta property="twitter:title" content="{{ title }}">
    <meta property="twitter:description" content="{{ flatpage.description }}">
{% endblock page_head %}

{% block main %}
        <div class="card text-white border-secondary bg-dark mb-2">
            <div class="card-header border-secondary">
                <span class="d-flex">
                    <span class="col">
                        <h2>Post #{{ flatpage.id }}</h2>
                    </span>
                </span>
            </div>

            <div class="card-body">
                {% autoescape off %}
                    <span class="card-text">{{ flatpage.content }}</span>
                {% endautoescape %}
            </div>
        </div>
{% endblock main %}
