$coolLinksColor: rgb(255, 123, 75);
$coolLinksColorBlue: #0c93e4;
$centPourcent: 100%;
$positionZero: 0;
$important: !important;
$white: #fff;
$black: #000;
$darkGrayBase: #555;
$lightGrayBase: #ddd;
$easeOut: ease-out;
$easeInOut: ease-in-out;

html {
    box-sizing: border-box !important;
    width: calc(100vw - 100%);
}

* {
    scrollbar-color: #2a2c2e #1c1e1f !important;

    &,
    &::before,
    &::after {
        margin: 0;
        padding: 0;
    }
}

/* use viewport-relative units to cover page fully */
body {
    height: 100vh !important;
    width: 100vw !important;
}

.khoBold {
    font-weight: bold;
}

.khoRed {
    color: red;
}

.khoWhite {
    color: #fff;
}

.khoGray {
    color: #999;
}

.khoGray-2 {
    color: #ddd;
}

.khoOrange {
    color: orange !important;
}

.khoPaddingLeftM-16 {
    margin-left: -16px !important;
}

/* full-sized  container that fills up the page */
.w3-main-div {
    height: 100% !important;
    width: 100% !important;
    overflow-y: scroll !important;
}

#menuSidebar {
    overflow: none;
}

.kho-timeline {
    height: 100%;
    width: 100%;
    border: none;
}

.w3-Montserrat {
    font-family: 'Montserrat';
}

.w3-padding-bottom-16 {
    padding-bottom: 16px;
}

.w3-padding-bottom-8 {
    padding-bottom: 8px;
}

.w3-padding-sides-16 {
    padding: 0 16px;
}

.iconify {
    font-size: 16pt;
    line-height: 26px;
}

a .iconify {
    opacity: 1;
    -webkit-transition: 0.3s $easeInOut;
    transition: 0.3s $easeInOut;

    &:hover {
        opacity: 0.5;
    }
}

#posts.w3-ul li {
    padding: 0;
}

// CSS of Main Nav Menu
#openMenu {
    position: fixed;
    top: $positionZero;
    left: $positionZero;
    transition: margin 0.5s $important;
    outline: none;
}

#uselessInfos li {
    border-bottom-color: #ddd6;
}

#logo {
    width: 75px;
    float: right;
}

.niceButtons {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #333;
    margin: 7px;
    border-radius: 100%;
    box-shadow: 0 5px 15px -5px black;
    color: #999;
    overflow: hidden;
    position: relative;
    text-align: center;

    & i {
        line-height: 40px;
        font-size: 20px;
        transition: 0.2s linear;
    }

    &:hover i {
        transform: scale(1.3);
        color: #333;
    }

    &::before {
        content: '';
        position: absolute;
        width: 120%;
        height: 120%;
        background: $darkGrayBase;
        transform: rotate(45deg);
        left: -110%;
        top: 90%;
    }

    &:hover::before {
        animation: bouton 0.7s 1;
        top: -10%;
        left: -10%;
    }
}

@keyframes bouton {
    0% {
        left: -110%;
        top: 90%;
    }

    50% {
        left: 10%;
        top: -30%;
    }

    100% {
        top: -10%;
        left: -10%;
    }
}

// Cool Random CSS

.coolLinks {
    color: orange;
    text-decoration: underline;
    text-decoration-skip: ink;

    &.khoBlue {
        color: $coolLinksColorBlue;
    }

    &:focus,
    &:hover {
        text-decoration: none;
    }
}

// Image links
.linkHome {
    & img {
        opacity: 1;
        -webkit-transition: 0.3s $easeInOut;
        transition: 0.3s $easeInOut;
        width: 50px;

        &#detail {
            width: 30px;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    &.isHome {
        pointer-events: none;
        cursor: default;
    }
}

.superuser {
    color: red;
    font-weight: bold;
}

.staff {
    color: gold;
    font-weight: bold;
}

.comment {
    padding: 0 16px 0 16px;

    & .w3-btn {
        margin-bottom: 4px;
    }
}

.postContainer,
.todo {
    background-color: #252525;

    & .post {
        border-bottom: 1px #777 solid !important;
    }

    & .todo-completed {
        text-decoration: line-through;
        background-color: #222;
        padding: 16px !important;
        border-bottom: none;
    }

    & .todoTodo {
        padding: 16px !important;
    }

    & .postText {
        font-size: 18px;
        font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
        font-variant-ligatures: common-ligatures;
        line-height: 1.67;
        color: hsla(0, 0%, 100%, 0.75);

        border-bottom: 4px #333 solid !important;
        margin-bottom: 4px;
        word-wrap: break-word;

        & a {
            color: $coolLinksColorBlue;
            text-decoration: underline;
            text-decoration-skip: ink;
        }

        & a:focus,
        & a:hover {
            text-decoration: none;
        }

        & p {
            margin: 1.2em 0;
        }

        & ol,
        ul {
            padding: 0 32px;

            & li {
                border: none;
            }
        }

        & img {
            max-width: 100%;
        }

        & .highlight {
            display: block;
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
            margin-bottom: 16px;
            padding: 0.01em 16px;
            overflow-x: auto !important;
            resize: both;

            & .lineno {
                user-select: none;
            }
        }

        & dt {
            font-weight: 700;
        }

        & dd {
            margin: 0 0 0 16px;
        }

        & .emojione {
            width: 18px;
        }

        & blockquote {
            padding-left: 1.5em;
            border-left: 5px solid rgba(0, 0, 0, 0.1);
            margin: 1.2em 0;
            color: hsla(0, 0%, 100%, 0.4);
            border-left-color: hsla(0, 0%, 100%, 0.1);

            & dt {
                font-weight: 700;
            }

            & dd {
                margin: 0 0 0 16px;
            }
        }

        /*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
        html {
            line-height: 1.15;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        body {
            margin: 0;
        }

        article,
        aside,
        footer,
        header,
        nav,
        section {
            display: block;
        }

        h1 {
            font-size: 2em;
            margin: 0.67em 0;
        }

        figcaption,
        figure {
            display: block;
        }

        figure {
            margin: 1em 40px;
        }

        hr {
            box-sizing: content-box;
            height: 0;
            overflow: visible;
        }

        main {
            display: block;
        }

        pre {
            font-family: monospace, monospace;
            font-size: 1em;
        }

        a {
            background-color: transparent;
            -webkit-text-decoration-skip: objects;
        }

        abbr[title] {
            border-bottom: none;
            text-decoration: underline;
            text-decoration: underline dotted;
        }

        b,
        strong {
            font-weight: inherit;
            font-weight: bolder;
        }

        code,
        kbd,
        samp {
            font-family: monospace, monospace;
            font-size: 1em;
        }

        dfn {
            font-style: italic;
        }

        mark {
            background-color: #ff0;
            color: #000;
        }

        small {
            font-size: 80%;
        }

        sub,
        sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline;
        }

        sub {
            bottom: -0.25em;
        }

        sup {
            top: -0.5em;
        }

        audio,
        video {
            display: inline-block;
        }

        audio:not([controls]) {
            display: none;
            height: 0;
        }

        img {
            border-style: none;
        }

        svg:not(:root) {
            overflow: hidden;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: sans-serif;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button {
            overflow: visible;
        }

        button,
        select {
            text-transform: none;
        }

        [type='reset'],
        [type='submit'],
        button,
        html [type='button'] {
            -webkit-appearance: button;
        }

        [type='button']::-moz-focus-inner,
        [type='reset']::-moz-focus-inner,
        [type='submit']::-moz-focus-inner,
        button::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        [type='button']:-moz-focusring,
        [type='reset']:-moz-focusring,
        [type='submit']:-moz-focusring,
        button:-moz-focusring {
            outline: 1px dotted ButtonText;
        }

        input {
            overflow: visible;
        }

        [type='checkbox'],
        [type='radio'] {
            box-sizing: border-box;
            padding: 0;
        }

        [type='number']::-webkit-inner-spin-button,
        [type='number']::-webkit-outer-spin-button {
            height: auto;
        }

        [type='search'] {
            -webkit-appearance: textfield;
            outline-offset: -2px;
        }

        [type='search']::-webkit-search-cancel-button,
        [type='search']::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        ::-webkit-file-upload-button {
            -webkit-appearance: button;
            font: inherit;
        }

        fieldset {
            padding: 0.35em 0.75em 0.625em;
        }

        legend {
            box-sizing: border-box;
            display: table;
            max-width: 100%;
            padding: 0;
            color: inherit;
            white-space: normal;
        }

        progress {
            display: inline-block;
            vertical-align: baseline;
        }

        textarea {
            overflow: auto;
        }

        details {
            display: block;
        }

        summary {
            display: list-item;
        }

        menu {
            display: block;
        }

        canvas {
            display: inline-block;
        }

        blockquote,
        dl,
        ol,
        p,
        pre,
        ul {
            margin: 1.2em 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 1.8em 0;
            line-height: 1.33;
        }

        h1:after,
        h2:after {
            content: '';
            display: block;
            position: relative;
            top: 0.33em;
            border-bottom: 1px solid hsla(0, 0%, 50%, 0.33);
        }

        ol ol,
        ol ul,
        ul ol,
        ul ul {
            margin: 0;
        }

        dt {
            font-weight: 700;
        }

        a {
            color: #0c93e4;
            text-decoration: underline;
            text-decoration-skip: ink;
        }

        a:focus,
        a:hover {
            text-decoration: none;
        }

        code,
        pre,
        samp {
            font-family: Roboto Mono, Lucida Sans Typewriter, Lucida Console, monaco, Courrier, monospace;
            font-size: 0.85em;
        }

        code *,
        pre *,
        samp * {
            font-size: inherit;
        }

        .toc ul {
            list-style-type: none;
            padding-left: 20px;
        }

        table {
            background-color: transparent;
            border-collapse: collapse;
            border-spacing: 0;
        }

        td,
        th {
            border-right: 1px solid #dcdcdc;
            padding: 8px 12px;
        }

        td:last-child,
        th:last-child {
            border-right: 0;
        }

        td {
            border-top: 1px solid #dcdcdc;
        }

        mark {
            background-color: #f8f840;
        }

        kbd {
            font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
            background-color: #fff;
            border: 1px solid rgba(63, 63, 63, 0.25);
            border-radius: 3px;
            box-shadow: 0 1px 0 rgba(63, 63, 63, 0.25);
            color: #333;
            display: inline-block;
            font-size: 0.8em;
            margin: 0 0.1em;
            padding: 0.1em 0.6em;
            white-space: nowrap;
        }

        abbr[title] {
            border-bottom: 1px dotted #777;
            cursor: help;
        }

        .task-list-item {
            list-style-type: none;
        }

        .task-list-item-checkbox {
            margin: 0 0.2em 0 -1.3em;
        }

        .footnote {
            position: relative;
            top: -0.25em;
            vertical-align: top;
        }

        .page-break-after {
            page-break-after: always;
        }

        .abc-notation-block {
            overflow-x: auto !important;
        }
    }

    & .markdownx-preview {
        margin-top: 1.2em !important;
        border-top: 4px #333 solid !important;
    }

    & hr {
        border: 0;
        border-top: 1px solid hsla(0, 0%, 50%, 0.33);
        margin: 2em 0;
    }
}

.hr {
    border-top: 4px #222 solid !important;
}

.date {
    font-size: 11pt;
    color: #ddd;
}

.comment {
    & .date {
        & .khoUnderline {
            text-decoration: underline;
        }
    }
}

/* override browser default */

.tabbed-set {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.tabbed-set .tabbed-content {
    display: none;
    order: 99;
    width: 100%;
}

.tabbed-set label {
    width: auto;
    margin: 0 0.5em;
    padding: 0.25em;
    font-size: 120%;
    cursor: pointer;
}

.tabbed-set input {
    position: absolute;
    opacity: 0;
}

.tabbed-set input:nth-child(n + 1) {
    color: #333333;
}

.tabbed-set input:nth-child(n + 1):checked + label {
    color: #ff5252;
}

.tabbed-set input:nth-child(n + 1):checked + label + .tabbed-content {
    display: block;
}

.progress-label {
    position: absolute;
    text-align: center;
    font-weight: 700;
    width: 100%;
    margin: 0;
    line-height: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
}

.progress-bar {
    height: 1.2rem;
    float: left;
    background-color: #2979ff;
}

.progress {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    height: 1.2rem;
    background-color: #eeeeee;
    position: relative;
}

.progress.thin {
    margin-top: 0.9rem;
    height: 0.4rem;
}

.progress.thin .progress-label {
    margin-top: -0.4rem;
}

.progress.thin .progress-bar {
    height: 0.4rem;
}

.progress-100plus .progress-bar {
    background-color: #00e676;
}

.progress-80plus .progress-bar {
    background-color: #fbc02d;
}

.progress-60plus .progress-bar {
    background-color: #ff9100;
}

.progress-40plus .progress-bar {
    background-color: #ff5252;
}

.progress-20plus .progress-bar {
    background-color: #ff1744;
}

.progress-0plus .progress-bar {
    background-color: #f50057;
}

.task-list-item {
    list-style-type: none !important;
}

.task-list-item input[type='checkbox'] {
    margin: 0 4px 0.25em -20px;
    vertical-align: middle;
}

.task-list-control {
    display: inline;
    /* Ensure label is inline incase theme sets it to block.*/
}

.task-list-control {
    position: relative;
    display: inline-block;
    color: #555;
    cursor: pointer;
}

.task-list-control input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    /* Put the input behind the label so it doesn't overlay text */
}

.task-list-indicator {
    position: absolute;
    top: -8px;
    left: -18px;
    display: block;
    width: 14px;
    height: 14px;
    color: #eee;
    background-color: #eee;
    border-radius: 0.25rem;
}

.task-list-control input[type='checkbox']:checked + .task-list-indicator::before {
    display: block;
    margin-top: -4px;
    margin-left: 2px;
    font-size: 16px;
    line-height: 1;
    content: '✔';
    color: #1ebb52;
}
