@charset "UTF-8";
html {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  width: calc(100vw - 100%);
}

* {
  scrollbar-color: #2a2c2e #1c1e1f !important;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh !important;
  width: 100vw !important;
}

.khoBold {
  font-weight: bold;
}

.khoRed {
  color: red;
}

.khoWhite {
  color: #fff;
}

.khoGray {
  color: #999;
}

.khoGray-2 {
  color: #ddd;
}

.khoOrange {
  color: orange !important;
}

/* full-sized  container that fills up the page */
.w3-main-div {
  height: 100% !important;
  width: 100% !important;
  overflow-y: scroll !important;
}

#menuSidebar {
  overflow: none;
}

.kho-timeline {
  height: 100%;
  width: 100%;
  border: none;
}

.w3-Montserrat {
  font-family: 'Montserrat';
}

.w3-padding-bottom-16 {
  padding-bottom: 16px;
}

.w3-padding-bottom-8 {
  padding-bottom: 8px;
}

.w3-padding-sides-16 {
  padding: 0 16px;
}

.iconify {
  font-size: 16pt;
  line-height: 26px;
}

a .iconify {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a .iconify:hover {
  opacity: 0.5;
}

#posts.w3-ul li {
  padding: 0;
}

#openMenu {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: margin 0.5s !important;
  transition: margin 0.5s !important;
  outline: none;
}

#uselessInfos li {
  border-bottom-color: #ddd6;
}

#logo {
  width: 75px;
  float: right;
}

.niceButtons {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #333;
  margin: 7px;
  border-radius: 100%;
  -webkit-box-shadow: 0 5px 15px -5px black;
          box-shadow: 0 5px 15px -5px black;
  color: #999;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.niceButtons i {
  line-height: 40px;
  font-size: 20px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.niceButtons:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #333;
}

.niceButtons::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background: #555;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.niceButtons:hover::before {
  -webkit-animation: bouton 0.7s 1;
          animation: bouton 0.7s 1;
  top: -10%;
  left: -10%;
}

@-webkit-keyframes bouton {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@keyframes bouton {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

.coolLinks {
  color: orange;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
}

.coolLinks.khoBlue {
  color: #0c93e4;
}

.coolLinks:focus, .coolLinks:hover {
  text-decoration: none;
}

.linkHome img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 50px;
}

.linkHome img#detail {
  width: 30px;
}

.linkHome img:hover {
  opacity: 0.5;
}

.linkHome.isHome {
  pointer-events: none;
  cursor: default;
}

.superuser {
  color: red;
  font-weight: bold;
}

.staff {
  color: gold;
  font-weight: bold;
}

.comment {
  padding: 0 16px 0 16px;
}

.comment .w3-btn {
  margin-bottom: 4px;
}

.postContainer,
.todo {
  background-color: #252525;
}

.postContainer .post,
.todo .post {
  border-bottom: 1px #777 solid !important;
}

.postContainer .todo-completed,
.todo .todo-completed {
  text-decoration: line-through;
  background-color: #222;
  padding: 16px !important;
  border-bottom: none;
}

.postContainer .todoTodo,
.todo .todoTodo {
  padding: 16px !important;
}

.postContainer .postText,
.todo .postText {
  font-size: 18px;
  font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  line-height: 1.67;
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 4px #333 solid !important;
  margin-bottom: 4px;
  word-wrap: break-word;
  /*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
}

.postContainer .postText a,
.todo .postText a {
  color: #0c93e4;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
}

.postContainer .postText a:focus,
.postContainer .postText a:hover,
.todo .postText a:focus,
.todo .postText a:hover {
  text-decoration: none;
}

.postContainer .postText p,
.todo .postText p {
  margin: 1.2em 0;
}

.postContainer .postText ol,
.postContainer .postText ul,
.todo .postText ol,
.todo .postText ul {
  padding: 0 32px;
}

.postContainer .postText ol li,
.postContainer .postText ul li,
.todo .postText ol li,
.todo .postText ul li {
  border: none;
}

.postContainer .postText img,
.todo .postText img {
  max-width: 100%;
}

.postContainer .postText .highlight,
.todo .postText .highlight {
  display: block;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 16px;
  padding: 0.01em 16px;
  overflow-x: auto !important;
  resize: both;
}

.postContainer .postText .highlight .lineno,
.todo .postText .highlight .lineno {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.postContainer .postText dt,
.todo .postText dt {
  font-weight: 700;
}

.postContainer .postText dd,
.todo .postText dd {
  margin: 0 0 0 16px;
}

.postContainer .postText .emojione,
.todo .postText .emojione {
  width: 18px;
}

.postContainer .postText blockquote,
.todo .postText blockquote {
  padding-left: 1.5em;
  border-left: 5px solid rgba(0, 0, 0, 0.1);
  margin: 1.2em 0;
  color: rgba(255, 255, 255, 0.4);
  border-left-color: rgba(255, 255, 255, 0.1);
}

.postContainer .postText blockquote dt,
.todo .postText blockquote dt {
  font-weight: 700;
}

.postContainer .postText blockquote dd,
.todo .postText blockquote dd {
  margin: 0 0 0 16px;
}

.postContainer .postText html,
.todo .postText html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.postContainer .postText body,
.todo .postText body {
  margin: 0;
}

.postContainer .postText article,
.postContainer .postText aside,
.postContainer .postText footer,
.postContainer .postText header,
.postContainer .postText nav,
.postContainer .postText section,
.todo .postText article,
.todo .postText aside,
.todo .postText footer,
.todo .postText header,
.todo .postText nav,
.todo .postText section {
  display: block;
}

.postContainer .postText h1,
.todo .postText h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.postContainer .postText figcaption,
.postContainer .postText figure,
.todo .postText figcaption,
.todo .postText figure {
  display: block;
}

.postContainer .postText figure,
.todo .postText figure {
  margin: 1em 40px;
}

.postContainer .postText hr,
.todo .postText hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.postContainer .postText main,
.todo .postText main {
  display: block;
}

.postContainer .postText pre,
.todo .postText pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.postContainer .postText a,
.todo .postText a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.postContainer .postText abbr[title],
.todo .postText abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

.postContainer .postText b,
.postContainer .postText strong,
.todo .postText b,
.todo .postText strong {
  font-weight: inherit;
  font-weight: bolder;
}

.postContainer .postText code,
.postContainer .postText kbd,
.postContainer .postText samp,
.todo .postText code,
.todo .postText kbd,
.todo .postText samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

.postContainer .postText dfn,
.todo .postText dfn {
  font-style: italic;
}

.postContainer .postText mark,
.todo .postText mark {
  background-color: #ff0;
  color: #000;
}

.postContainer .postText small,
.todo .postText small {
  font-size: 80%;
}

.postContainer .postText sub,
.postContainer .postText sup,
.todo .postText sub,
.todo .postText sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.postContainer .postText sub,
.todo .postText sub {
  bottom: -0.25em;
}

.postContainer .postText sup,
.todo .postText sup {
  top: -0.5em;
}

.postContainer .postText audio,
.postContainer .postText video,
.todo .postText audio,
.todo .postText video {
  display: inline-block;
}

.postContainer .postText audio:not([controls]),
.todo .postText audio:not([controls]) {
  display: none;
  height: 0;
}

.postContainer .postText img,
.todo .postText img {
  border-style: none;
}

.postContainer .postText svg:not(:root),
.todo .postText svg:not(:root) {
  overflow: hidden;
}

.postContainer .postText button,
.postContainer .postText input,
.postContainer .postText optgroup,
.postContainer .postText select,
.postContainer .postText textarea,
.todo .postText button,
.todo .postText input,
.todo .postText optgroup,
.todo .postText select,
.todo .postText textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.postContainer .postText button,
.todo .postText button {
  overflow: visible;
}

.postContainer .postText button,
.postContainer .postText select,
.todo .postText button,
.todo .postText select {
  text-transform: none;
}

.postContainer .postText [type='reset'],
.postContainer .postText [type='submit'],
.postContainer .postText button,
.postContainer .postText html [type='button'],
.todo .postText [type='reset'],
.todo .postText [type='submit'],
.todo .postText button,
.todo .postText html [type='button'] {
  -webkit-appearance: button;
}

.postContainer .postText [type='button']::-moz-focus-inner,
.postContainer .postText [type='reset']::-moz-focus-inner,
.postContainer .postText [type='submit']::-moz-focus-inner,
.postContainer .postText button::-moz-focus-inner,
.todo .postText [type='button']::-moz-focus-inner,
.todo .postText [type='reset']::-moz-focus-inner,
.todo .postText [type='submit']::-moz-focus-inner,
.todo .postText button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

.postContainer .postText [type='button']:-moz-focusring,
.postContainer .postText [type='reset']:-moz-focusring,
.postContainer .postText [type='submit']:-moz-focusring,
.postContainer .postText button:-moz-focusring,
.todo .postText [type='button']:-moz-focusring,
.todo .postText [type='reset']:-moz-focusring,
.todo .postText [type='submit']:-moz-focusring,
.todo .postText button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.postContainer .postText input,
.todo .postText input {
  overflow: visible;
}

.postContainer .postText [type='checkbox'],
.postContainer .postText [type='radio'],
.todo .postText [type='checkbox'],
.todo .postText [type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.postContainer .postText [type='number']::-webkit-inner-spin-button,
.postContainer .postText [type='number']::-webkit-outer-spin-button,
.todo .postText [type='number']::-webkit-inner-spin-button,
.todo .postText [type='number']::-webkit-outer-spin-button {
  height: auto;
}

.postContainer .postText [type='search'],
.todo .postText [type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

.postContainer .postText [type='search']::-webkit-search-cancel-button,
.postContainer .postText [type='search']::-webkit-search-decoration,
.todo .postText [type='search']::-webkit-search-cancel-button,
.todo .postText [type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

.postContainer .postText ::-webkit-file-upload-button,
.todo .postText ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.postContainer .postText fieldset,
.todo .postText fieldset {
  padding: 0.35em 0.75em 0.625em;
}

.postContainer .postText legend,
.todo .postText legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal;
}

.postContainer .postText progress,
.todo .postText progress {
  display: inline-block;
  vertical-align: baseline;
}

.postContainer .postText textarea,
.todo .postText textarea {
  overflow: auto;
}

.postContainer .postText details,
.todo .postText details {
  display: block;
}

.postContainer .postText summary,
.todo .postText summary {
  display: list-item;
}

.postContainer .postText menu,
.todo .postText menu {
  display: block;
}

.postContainer .postText canvas,
.todo .postText canvas {
  display: inline-block;
}

.postContainer .postText blockquote,
.postContainer .postText dl,
.postContainer .postText ol,
.postContainer .postText p,
.postContainer .postText pre,
.postContainer .postText ul,
.todo .postText blockquote,
.todo .postText dl,
.todo .postText ol,
.todo .postText p,
.todo .postText pre,
.todo .postText ul {
  margin: 1.2em 0;
}

.postContainer .postText h1,
.postContainer .postText h2,
.postContainer .postText h3,
.postContainer .postText h4,
.postContainer .postText h5,
.postContainer .postText h6,
.todo .postText h1,
.todo .postText h2,
.todo .postText h3,
.todo .postText h4,
.todo .postText h5,
.todo .postText h6 {
  margin: 1.8em 0;
  line-height: 1.33;
}

.postContainer .postText h1:after,
.postContainer .postText h2:after,
.todo .postText h1:after,
.todo .postText h2:after {
  content: '';
  display: block;
  position: relative;
  top: 0.33em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.33);
}

.postContainer .postText ol ol,
.postContainer .postText ol ul,
.postContainer .postText ul ol,
.postContainer .postText ul ul,
.todo .postText ol ol,
.todo .postText ol ul,
.todo .postText ul ol,
.todo .postText ul ul {
  margin: 0;
}

.postContainer .postText dt,
.todo .postText dt {
  font-weight: 700;
}

.postContainer .postText a,
.todo .postText a {
  color: #0c93e4;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
}

.postContainer .postText a:focus,
.postContainer .postText a:hover,
.todo .postText a:focus,
.todo .postText a:hover {
  text-decoration: none;
}

.postContainer .postText code,
.postContainer .postText pre,
.postContainer .postText samp,
.todo .postText code,
.todo .postText pre,
.todo .postText samp {
  font-family: Roboto Mono, Lucida Sans Typewriter, Lucida Console, monaco, Courrier, monospace;
  font-size: 0.85em;
}

.postContainer .postText code *,
.postContainer .postText pre *,
.postContainer .postText samp *,
.todo .postText code *,
.todo .postText pre *,
.todo .postText samp * {
  font-size: inherit;
}

.postContainer .postText .toc ul,
.todo .postText .toc ul {
  list-style-type: none;
  padding-left: 20px;
}

.postContainer .postText table,
.todo .postText table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.postContainer .postText td,
.postContainer .postText th,
.todo .postText td,
.todo .postText th {
  border-right: 1px solid #dcdcdc;
  padding: 8px 12px;
}

.postContainer .postText td:last-child,
.postContainer .postText th:last-child,
.todo .postText td:last-child,
.todo .postText th:last-child {
  border-right: 0;
}

.postContainer .postText td,
.todo .postText td {
  border-top: 1px solid #dcdcdc;
}

.postContainer .postText mark,
.todo .postText mark {
  background-color: #f8f840;
}

.postContainer .postText kbd,
.todo .postText kbd {
  font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
  background-color: #fff;
  border: 1px solid rgba(63, 63, 63, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(63, 63, 63, 0.25);
          box-shadow: 0 1px 0 rgba(63, 63, 63, 0.25);
  color: #333;
  display: inline-block;
  font-size: 0.8em;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  white-space: nowrap;
}

.postContainer .postText abbr[title],
.todo .postText abbr[title] {
  border-bottom: 1px dotted #777;
  cursor: help;
}

.postContainer .postText .task-list-item,
.todo .postText .task-list-item {
  list-style-type: none;
}

.postContainer .postText .task-list-item-checkbox,
.todo .postText .task-list-item-checkbox {
  margin: 0 0.2em 0 -1.3em;
}

.postContainer .postText .footnote,
.todo .postText .footnote {
  position: relative;
  top: -0.25em;
  vertical-align: top;
}

.postContainer .postText .page-break-after,
.todo .postText .page-break-after {
  page-break-after: always;
}

.postContainer .postText .abc-notation-block,
.todo .postText .abc-notation-block {
  overflow-x: auto !important;
}

.postContainer .markdownx-preview,
.todo .markdownx-preview {
  margin-top: 1.2em !important;
  border-top: 4px #333 solid !important;
}

.postContainer hr,
.todo hr {
  border: 0;
  border-top: 1px solid rgba(128, 128, 128, 0.33);
  margin: 2em 0;
}

.hr {
  border-top: 4px #222 solid !important;
}

.date {
  font-size: 11pt;
  color: #ddd;
}

.comment .date .khoUnderline {
  text-decoration: underline;
}

/* override browser default */
.tabbed-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabbed-set .tabbed-content {
  display: none;
  -webkit-box-ordinal-group: 100;
      -ms-flex-order: 99;
          order: 99;
  width: 100%;
}

.tabbed-set label {
  width: auto;
  margin: 0 0.5em;
  padding: 0.25em;
  font-size: 120%;
  cursor: pointer;
}

.tabbed-set input {
  position: absolute;
  opacity: 0;
}

.tabbed-set input:nth-child(n + 1) {
  color: #333333;
}

.tabbed-set input:nth-child(n + 1):checked + label {
  color: #ff5252;
}

.tabbed-set input:nth-child(n + 1):checked + label + .tabbed-content {
  display: block;
}

.progress-label {
  position: absolute;
  text-align: center;
  font-weight: 700;
  width: 100%;
  margin: 0;
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
}

.progress-bar {
  height: 1.2rem;
  float: left;
  background-color: #2979ff;
}

.progress {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  height: 1.2rem;
  background-color: #eeeeee;
  position: relative;
}

.progress.thin {
  margin-top: 0.9rem;
  height: 0.4rem;
}

.progress.thin .progress-label {
  margin-top: -0.4rem;
}

.progress.thin .progress-bar {
  height: 0.4rem;
}

.progress-100plus .progress-bar {
  background-color: #00e676;
}

.progress-80plus .progress-bar {
  background-color: #fbc02d;
}

.progress-60plus .progress-bar {
  background-color: #ff9100;
}

.progress-40plus .progress-bar {
  background-color: #ff5252;
}

.progress-20plus .progress-bar {
  background-color: #ff1744;
}

.progress-0plus .progress-bar {
  background-color: #f50057;
}

.task-list-item {
  list-style-type: none !important;
}

.task-list-item input[type='checkbox'] {
  margin: 0 4px 0.25em -20px;
  vertical-align: middle;
}

.task-list-control {
  display: inline;
  /* Ensure label is inline incase theme sets it to block.*/
}

.task-list-control {
  position: relative;
  display: inline-block;
  color: #555;
  cursor: pointer;
}

.task-list-control input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  z-index: -1;
  /* Put the input behind the label so it doesn't overlay text */
}

.task-list-indicator {
  position: absolute;
  top: -8px;
  left: -18px;
  display: block;
  width: 14px;
  height: 14px;
  color: #eee;
  background-color: #eee;
  border-radius: 0.25rem;
}

.task-list-control input[type='checkbox']:checked + .task-list-indicator::before {
  display: block;
  margin-top: -4px;
  margin-left: 2px;
  font-size: 16px;
  line-height: 1;
  content: '✔';
  color: #1ebb52;
}
/*# sourceMappingURL=general-theme.css.map */