{% extends 'tailwind/base.html' %}
{% load widget_tweaks project_tags %}

{% block content %}
  <form enctype="multipart/form-data" method="post" novalidate="novalidate">
    {% csrf_token %}

    <div class="non-field-errors">
      {{ form.non_field_errors }}
    </div>

    <div class="hidden-fields-errors">
      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
      {% endfor %}
    </div>

    <div class="text-flamingo-600">
      {{ form.non_field_errors }}
    </div>

    <div class="field mb-2">
      <div class="input-group">
        <span class="input-group-text">Title</span>
        {{ form.title|add_class:"form-control w-50"|attr:"placeholder:Project's title" }}
      </div>
      {% if form.title.help_text %}
        <span class="text-sm">{{ form.title.help_text }}</span>
      {% endif %}
      {% for error in form.title.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </div>

    <div class="field mb-2">
      <div class="form-floating">
        {{ form.description.label_tag }}
        {{ form.description|add_class:"form-control"|attr:"placeholder:Post description" }}
      </div>
      {% if form.description.help_text %}
        <span class="text-sm">{{ form.description.help_text }}</span>
      {% endif %}
      {% for error in form.description.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </div>

    <div class="field mb-2">
      <div class="form-floating">
        {{ form.done_in_project.label_tag }}
        {{ form.done_in_project|add_class:"form-control"|attr:"placeholder:done_in_project" }}
      </div>
      {% if form.done_in_project.help_text %}
        <span class="text-sm">{{ form.done_in_project.help_text }}</span>
      {% endif %}
      {% for error in form.done_in_project.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </div>

    <div class="field mb-2">
      <div class="form-floating">
        {{ form.learned.label_tag }}
        {{ form.learned|add_class:"form-control"|attr:"placeholder:Learned" }}
      </div>
      {% if form.learned.help_text %}
        <span class="text-sm">{{ form.learned.help_text }}</span>
      {% endif %}
      {% for error in form.learned.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </div>

    <div class="field mb-2">
      <div class="input-group">
        <div class="form-floating col-10">
          {{ form.technology.label_tag }}
          {{ form.technology|add_class:"form-select"|attr:"placeholder:Post technology" }}
        </div>
      </div>
      {% if form.technology.help_text %}
        <span class="text-sm">{{ form.technology.help_text }}</span>
      {% endif %}
      {% for error in form.technology.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </div>

    <div class="field mb-2">
      <div class="input-group">
        <div class="form-floating col-10">
          {{ form.website.label_tag }}
          {{ form.website|add_class:"form-select"|attr:"placeholder:Post website" }}
        </div>
      </div>
      {% if form.website.help_text %}
        <span class="text-sm">{{ form.website.help_text }}</span>
      {% endif %}
      {% for error in form.website.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </div>

    <div class="field mb-2">
      <div class="input-group">
        <div class="form-floating col-10">
          {{ form.repository.label_tag }}
          {{ form.repository|add_class:"form-select"|attr:"placeholder:Post repository" }}
        </div>
      </div>
      {% if form.repository.help_text %}
        <span class="text-sm">{{ form.repository.help_text }}</span>
      {% endif %}
      {% for error in form.repository.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </div>

    <button type="submit" class="kho-button-forms kho-button-submit">{{ title }}</button>
  </form>
{% endblock content %}
