{% extends 'portfolio/base_projects.html' %}
{% load static %}

{% block page_top_title %}
    <h2>{{ title }}</h2>
{% endblock page_top_title %}

{% block main %}

    <div class="card text-white border-secondary bg-dark mb-2">
        <div class="card-header border-secondary">
            <h2>Project #{{ project.id }}</h2>
        </div>

        <div class="card-body">
            <h2 class="card-title">{{ project.title }}</h2>
            <p class="card-text">{{ project.description }}</p>
        </div>

        {% if project.website or project.technology %}
            <div class="card-footer border-secondary">
                {% if project.website %}
                    <p class="card-text">Website: <a target="_blank" href="{{ project.website.url }}">{{ project.website }}</a></p>
                {% endif %}
                {% if project.technology %}
                    <div class="card-text">
                        Made with:
                        <a target="_blank" href="{{ project.technology.website }}">{{ project.technology }}</a>
                        <br />
                        <span>{{ project.technology.description }}</span>
                    </div>
                {% endif %}
                {% if project.repository %}
                    <p class="card-text">Repository: <a target="_blank" href="{{ project.repository.url }}">{{ project.repository }}</a></p>
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock main %}
