{% extends 'portfolio/base_projects.html' %}
{% load static %}

{% block page_top_title %}
    <h2 class="clearfix">{{ title }}</h2>
{% endblock page_top_title %}

{% block main %}
    {% for project in projects %}
        {% if project.featured %}
            <div class="p-5 border rounded border-secondary bg-dark mb-2 shadow">
                <div class="container">
                    <strong class="d-inline-block mb-2 text-muted text-uppercase fst-italic">Featured Project</strong>
                    <h1 class="display-4">{{ project.title }}</h1>
                    <p class="lead">{{ project.snippet }}</p>
                    <a href="{{ project.get_absolute_url }}" class="btn btn-primary">Continue Reading</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="row">
        {% for project in projects %}
            {% if not project.featured %}
                <div class="col-lg-4">
                    <div class="card text-white border-secondary bg-dark shadow mb-2">
                        <div class="card-header border-secondary">
                            <h2>Project #{{ project.id }}</h2>
                        </div>

                        <div class="card-body">
                            <h2 class="card-title">{{ project.title }}</h2>
                            <p class="card-text">{{ project.snippet }}</p>
                        </div>

                        <div class="card-footer border-secondary">
                            <div class="btn-group-vertical d-block" role="group" aria-label="">
                                <a href="{{ project.get_absolute_url }}" class="btn btn-primary">Continue Reading</a>
                            </div>
                        </div>

                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock main %}
