{% extends 'blog/base_post.html' %}
{% load static %}

{% block main %}

    <div class="card mb-2">
        <div class="card-header d-flex">
            <span class="col">
                <h2>Project #{{ project.id }}</h2>
            </span>
            <span class="col">

                {% block super_buttons %}
                    {% if user.is_superuser %}
                        <div class="btn-group float-end">
                            <a class="btn btn-secondary" href="{% url 'portfolio:project_edit' slug=project.slug %}">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>

                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="projectAdminDropdown-{{ project.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="projectAdminDropdown">
                                <a class="dropdown-item" href="{% url 'admin:portfolio_project_change' object_id=project.id %}">
                                    <i class="bi bi-pencil-square"></i> Edit in Admin
                                </a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="{% url 'portfolio:project_delete' slug=project.slug %}">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </ul>
                        </div>
                    {% endif %}
                {% endblock super_buttons %}
            </span>
        </div>

        <div class="card-body">
            <h2 class="card-title">{{ project.title }}</h2>
            <p class="card-text">{{ project.description }}</p>
        </div>

        {% if project.website or project.technology %}
            <div class="card-footer">
                {% if project.website %}
                    <p class="card-text">Website: <a target="_blank" href="{{ project.website.url }}">{{ project.website }}</a></p>
                {% endif %}
                {% if project.technology %}
                    <div class="card-text">
                        Made with:
                        <a target="_blank" href="{{ project.technology.website }}">{{ project.technology }}</a>
                        <br />
                        <span>{{ project.technology.description }}</span>
                    </div>
                {% endif %}
                {% if project.repository %}
                    <p class="card-text">Repository: <a target="_blank" href="{{ project.repository.url }}">{{ project.repository }}</a></p>
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock main %}
