{% extends 'tailwind/base.html' %}
{% load super_buttons markup_tags %}

{% block content %}
  <article class="xl:grid xl:grid-cols-3">
    <div class="xl:col-span-2 xl:pr-8">
      <section class="md:flex md:items-center md:justify-between md:space-x-4 xl:border-b xl:pb-6">
        <div>
          <span class="text-2xl font-bold text-jumbo-900 dark:text-jumbo-300">{{ project.title }}</span>
          <p class="mt-2 text-sm text-jumbo-500">
            Sub Project <span class="font-bold">#{{ project.pk }}</span>
          </p>
        </div>
        {% if user.is_superuser %}
          {% sb project %}
        {% endif %}
      </section>
      <section class="py-3 xl:pt-6 xl:pb-0">
        <div class="prose dark:prose-invert lg:prose-lg xl:prose-xl">
          {% autoescape off %}
            {{ project.content }}
          {% endautoescape %}
        </div>
      </section>
      <section class="prose dark:prose-invert lg:prose-lg xl:prose-xl">
        <h1>{{ project.title }}</h1>
        {% if project.learned %}
          <div>
            <span class="text-white-50 d-block">Had to learn:</span>
            {{ project.learned|apply_markup:"markdown"|apply_markup:"widont" }}
          </div>
        {% endif %}
        {% if project.website or project.technology %}
          {% if project.website %}
            <p>Website:
              <a target="_blank" class="no-underline hover:underline" href="{{ project.website.url }}" rel="noopener noreferrer">{{ project.website }}</a>
            </p>
          {% endif %}
          {% if project.technology %}
            <div>
              Made with:
              <a target="_blank" class="no-underline hover:underline" href="{{ project.technology.website }}" rel="noopener noreferrer">{{ project.technology }}</a>
              <br/>
              <span>{{ project.technology.description }}</span>
            </div>
          {% endif %}
          {% if project.repository %}
            <p>Repository:
              <a target="_blank" class="no-underline hover:underline" href="{{ project.repository.url }}" rel="noopener noreferrer">{{ project.repository }}</a>
            </p>
          {% endif %}
        {% endif %}

        <p>Parent Project
          <a href="{{ project.parent_project.get_absolute_url }}">{{ project.parent_project }}</a>
        </p>
        {% if project.link_in_repo %}
          <p>Folder in Repository:
            <a target="_blank" href="{{ project.parent_project.repository.url }}/{{ project.link_in_repo }}" rel="noopener noreferrer">{{ project.parent_project.repository.url }}/{{ project.link_in_repo }}</a>
          </p>
        {% endif %}
      </section>
    </div>
  </article>
{% endblock content %}
