<div class="card p-4 mb-2 rounded shadow">
  <h4 class="fst-italic">About this Post</h4>
  <p>
    <a class="card-link" href="{% url 'accounts:profile' slug=post.author.slug %}">
      Author:
      {{ post.author }} -
      {% if post.author.is_superuser %}
        {% if post.author.owner %}
            Website Owner
        {% else %}
            Admin
        {% endif %}
      {% elif post.author.is_staff %}
        Staff
      {% else %}
        User
      {% endif %}
    </a>
  </p>
  <div class="mb-2">
    <p class="mb-0">Created: {{ post.created_date|date:'l, d F Y H:i:s' }}</p>
    {% if post.pub_date %}
      <p class="mb-0">Published: {{ post.pub_date|date:'l, d F Y H:i:s' }}</p>
    {% endif %}
    {% if post.modified_date %}
      <p class="mb-0">Updated: {{ post.modified_date|date:'l, d F Y H:i:s' }}</p>
    {% endif %}
    {% if post.featured_title %}
      <p>Featured Title: {{ post.featured_title }}</p>
    {% endif %}
  </div>

  <p>Description: {{ description }}</p>

  {% if post.tags %}
    <p>Tags:
      {% for tags in post.tags.all %}
        {% if not tags.withdrawn or user.is_superuser %}
          {% comment %} TODO: Make a list of the public tags, the withdrawn ones, and subtract to get the actual number for both users and supers {% endcomment %}
          {% spaceless %}
          <a href="{% url 'blog:post_tagged_with' slug=tags.slug %}">{{ tags }}</a>
            {% if not forloop.last %}
              <span>,</span>
            {% endif %}
          {% endspaceless %}
        {% endif %}
      {% endfor %}
    </p>
    <p>Similar Posts: {% for e in similar_posts %}{% if not e.withdrawn and e.pub_date <= now or user.is_superuser %}<a href="{{ e.get_absolute_url }}">{{ e }}</a>{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}</p>
  {% endif %}

  <p>Clicks: {{ post.clicks }}</p>
  <p>Categories:
    {% include 'blog/includes/post_categories.html' %}
  </p>
  {% if user.is_superuser %}
    <h6>Admin Information</h6>
    <p class="mb-0">Withdrawn: {{ post.withdrawn }}</p>
    <p>Scheduled: {% if post.pub_date > now %}True{% else %}False{% endif %}</p>
  {% endif %}
</div>
