{% load post_cards %}

{% if featured_big %}
  {% comment %} {% endcomment %}
  <article class="card p-4 shadow">
    <section class="container">
      <strong class="d-inline-block mb-2 text-uppercase fst-italic">Featured Post</strong>
      <h1 class="display-4">{{ featured_big.title }}</h1>
      <p class="lead">{{ featured_big.description }}</p>
      <a class="btn btn-primary" href="{{ featured_big.get_absolute_url }}">Continue reading</a>
    </section>
  </article>
{% endif %}

<section class="row row-cols-1 row-cols-lg-2 me-0">
  {% for post in featured %}
    <section class="mt-2 pe-0">
      {% render_cards post is_featured=True in_list=True %}
    </section>
  {% endfor %}
</section>
