{% load read_time %}

{% if featured_big %}
    {% with featured_big|random as featured_big_post %}
        <article class="card p-4 rounded shadow">
            <section class="container">
                <strong class="d-inline-block mb-2 text-uppercase fst-italic">Featured Post</strong>
                <h1 class="display-4">{{ featured_big_post.title }}</h1>
                <p class="lead">{{ featured_big_post.description }}</p>
                <a class="btn btn-primary" href="{{ featured_big_post.get_absolute_url }}">Continue reading</a>
            </section>
        </article>
    {% endwith %}
{% endif %}

<section class="row row-cols-1 row-cols-lg-2 me-0">
    {% for post in featured %}
        <section class="mt-2 pe-0">
            <article class="card shadow h-100">
                <header class="card-header">
                    <strong>
                        {% if post.get_featured_cat %}
                            <a class="card-link" href="{{ post.get_featured_cat.category.get_absolute_url }}">{{ post.featured_cat_title|capfirst }}</a>
                        {% else %}
                            <a class="card-link" href="{{ post.categories.first.get_absolute_url }}">{{ post.categories.first|capfirst }}</a>
                        {% endif %}
                        <span class="d-inline-block text-muted">
                            • <em>Featured Post</em>
                        </span>
                    </strong>
                </header>
                <section class="card-body">
                    <h3 class="card-title text-word-wrap mb-0">{{ post.title }}</h3>
                    <div class="mb-0">{% include 'blog/includes/post_dates.html' %}</div>
                    <p class="mb-2 text-small text-muted">
                        {% if post.body %}
                            {{ post.body|readtime }}
                        {% else %}
                            A while
                        {% endif %}
                    </p>
                    <p class="mb-auto">{{ post.description }}</p>
                </section>
                <section class="card-footer">
                    <a class="card-link" href="{{ post.get_absolute_url }}">Continue reading</a>
                </section>
            </article>
        </section>
    {% endfor %}
</section>
