{% load read_time %}

{% for post in featured_big %}
    <div class="card p-4 rounded shadow">
        <div class="container">
            <strong class="d-inline-block mb-2 text-uppercase fst-italic">Featured Post</strong>
            <h1 class="display-4">{% if post.featured_title %} {{ post.featured_title }} {% else %} {{ post.title }} {% endif %}</h1>
            <p class="lead">{{ post.description }}</p>
            <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Continue Reading</a>
        </div>
    </div>
{% endfor %}

<div class="row row-cols-1 row-cols-lg-2">
    {% for post in featured %}
        <div class="mt-2 {% cycle 'pe-lg-0' 'pe-kho-lg-12' %}">
            <div class="card shadow h-100">
                <div class="card-header">
                    <strong>
                        <a class="card-link" href="{{ post.categories.first.get_absolute_url }}">{{ post.categories.first|capfirst }}</a>
                        <span class="d-inline-block text-muted">
                            • <span class="fst-italic">Featured Post</span>
                        </span>
                    </strong>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-word-wrap mb-0">{% firstof post.featured_title post.title %}</h3>
                    <div class="mb-0">{% include 'blog/includes/post_dates.html' %}</div>
                    <p class="mb-2 text-small text-muted">
                        {% if post.body %}
                            {{ post.body|readtime }}
                        {% else %}
                            A while
                        {% endif %}
                    </p>
                    <p class="mb-auto">{{ post.description }}</p>
                </div>
                <div class="card-footer">
                    <a class="card-link" href="{{ post.get_absolute_url }}">Continue Reading</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
