<!-- Off Canvas -->
<div class="offcanvas offcanvas-end" data-bs-scroll="false" tabindex="-1" id="postOffCanvas-{{ object.slug }}" aria-labelledby="postOffCanvas-{{ object.slug }}Label">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="postOffCanvas-{{ object.slug }}Label">{{ object.title }}
      - #{{ object.id }}</h5>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
  </div>
  <div class="offcanvas-body">
    <h6>General Information</h6>
    <p>
      <a class="card-link" href="{% url 'accounts:profile' slug=object.author.slug %}">
        Author:
        {{ object.author }}
        -
        {% if object.author.is_superuser %}
          {% if object.author.owner %}
            Website Owner
          {% else %}
            Admin
          {% endif %}
        {% elif object.author.is_staff %}
          Staff
        {% else %}
          User
        {% endif %}
      </a>
    </p>
    <div class="mb-2">
      <p class="mb-0">Created:
        {{ object.created_date|date:'l, d F Y H:i:s' }}</p>
      {% if object.pub_date %}
        <p class="mb-0">Published:
          {{ object.pub_date|date:'l, d F Y H:i:s' }}</p>
      {% endif %}
      {% if object.modified_date %}
        <p class="mb-0">Updated:
          {{ object.modified_date|date:'l, d F Y H:i:s' }}</p>
      {% endif %}
      {% if object.featured_title %}
        <p>Featured Title:
          {{ object.featured_title }}</p>
      {% endif %}
    </div>

    <p>Description:
      {{ object.description }}</p>
    <p>Clicks:
      {{ object.clicks }}</p>
    <p>Categories:
      {% include 'blog/includes/post_categories.html' %}
    </p>
    {% if user.is_superuser %}
      <h6>Admin Information</h6>
      <p class="mb-0">Withdrawn:
        {{ object.withdrawn }}</p>
      <p>Scheduled:
        {% if object.pub_date > now %}True{% else %}False{% endif %}
      </p>
    {% endif %}
  </div>
</div>
