{% if post.approved_comments.count or user.is_superuser %}
    {% for comment in post.comments.all %}
        {% if comment.approbation_state == 'AP' and not comment.comment_answer or not comment.approbation_state == 'AP' and user.is_superuser %}
            {% include 'blog/includes/post_comments_messages.html' %}
        {% endif %}

        {% for comment in comment.related_comment.all %}
            {% if comment.approbation_state == 'AP' %}
                {% include 'blog/includes/post_comments_messages.html' %}
            {% endif %}
        {% endfor %}
    {% empty %}
        <p>No comments here yet.</p>
    {% endfor %}
{% else %}
    <p>No comments here yet.</p>
{% endif %}
