<div class="ps-4 comment-card{% if comment.comment_answer %} ms-4 comment-reply comment-reply-{{ comment.comment_answer.pk }}{% endif %}">
    <div id="comment-{{ comment.id }}" class="card mt-2">
        <div class="card-header">
            <h4>
                {% if comment.author or comment.author_logged and comment.author %}
                    {{ comment.author }}
                {% else %}
                    {% if user.is_superuser or user.id == comment.author_logged.id %}
                        <a href="{{ comment.author_logged.get_absolute_url }}">{{ comment.author_logged }}</a>
                    {% elif comment.author_logged.owner and user.is_authenticated %}
                        <a href="{{ comment.author_logged.get_absolute_url }}">{{ comment.author_logged }}</a>
                    {% else %}
                        {{ comment.author_logged }}
                    {% endif %}
                {% endif %}
                <a href="{{ post.get_absolute_url }}#comment-{{ comment.id }}"><i class="bi bi-link-45deg"></i></a>
                {% if user.is_authenticated %}
                    <span class="float-end">
                        {% if user.id == comment.author_logged.id or user.is_superuser %}

                            <div class="btn-group float-end">
                                <a class="btn btn-secondary" href="{% url 'blog:edit_post_comment' pk_post=comment.related_post.pk pk=comment.pk %}">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>

                                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="commentActionsDropdown-{{ post.id }}-{{ comment.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>

                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="commentActionsDropdown">
                                    {% if user.is_superuser %}
                                        {% if not comment.approbation_state == 'AP' %}
                                            <a class="dropdown-item" href="{% url 'blog:comment_approve' pk_post=comment.related_post.pk pk=comment.pk %}">
                                                <i class="bi bi-check2-square"></i> Approve
                                            </a>
                                        {% endif %}

                                        <a class="dropdown-item" href="{% url 'admin:blog_comment_change' object_id=comment.pk %}">
                                            <i class="bi bi-pencil-square"></i> Edit in Admin
                                        </a>
                                    {% endif %}

                                    {% if comment.approbation_state == 'AP' %}
                                        {% if user.is_superuser %}
                                            <div class="dropdown-divider"></div>
                                        {% endif %}

                                        <a class="dropdown-item" href="{% url 'blog:comment_remove' pk_post=comment.related_post.pk pk=comment.pk %}">
                                            <i class="bi bi-trash"></i>{% if user.is_superuser %} Disapprove {% else %} Delete {% endif %}
                                        </a>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </span>
                {% endif %}
            </h4>
        </div>
        <div class="card-body">
            {% if comment.title %}
                <h2 class="card-title">{{ comment.title }}</h2>
            {% endif %}
            <div class="text-muted">
                {{ comment.created_date|date:'l, d F Y' }} - {{ comment.created_date|time:"G:i:s" }} {% if comment.comment_answer %}<a href="{{ post.get_absolute_url }}#comment-{{ comment.comment_answer.id }}"><small>&lt;Related Comment&gt;</small></a>{% endif %}
            </div>
            {% autoescape on %}
                <span class="card-text">{{ comment.body|safe }}</span>
            {% endautoescape %}
            {% if post.url_post_type %}
                <a class="card-link" href="{{ post.url_post_type }}">{{ post.url_post_type_name }}</a>
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="btn-group-vertical d-flex col-12 col-lg-5 p-0" role="group" aria-label="Comments Group">
                <a class="btn btn-primary d-block" href="{% url 'blog:add_reply_to_comment' pk_post=comment.related_post.pk pk=comment.pk %}">Reply to this comment</a>
            </div>
        </div>
    </div>
</div>
