{% block superButtons %}
    {% if user.is_superuser %}

        <div class="btn-group float-end">
            <a class="btn btn-secondary" href="{% url 'blog:post_edit' slug=post.slug %}">
                <i class="bi bi-pencil-square"></i> Edit
            </a>

            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="postAdminDropdown-{{ post.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="postAdminDropdown">
                {% if not post.published_date %}
                    <a class="dropdown-item" href="{% url 'blog:post_publish' slug=post.slug %}">
                        <i class="bi bi-file-earmark-arrow-up"></i> Publish
                    </a>

                    <a class="dropdown-item" href="{% url 'blog:post_publish_withdrawn' slug=post.slug %}">
                        <i class="bi bi-file-earmark-lock"></i> Publish Withdrawn
                    </a>

                    <div class="dropdown-divider"></div>
                {% endif %}

                <a class="dropdown-item" href="{% url 'admin:blog_post_change' object_id=post.pk %}">
                    <i class="bi bi-pencil-square"></i> Edit in Admin
                </a>

                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="{% url 'blog:post_remove' slug=post.slug %}">
                    <i class="bi bi-trash"></i> Delete
                </a>
            </ul>
        </div>
    {% endif %}
{% endblock superButtons %}