*.pyc
*~
/.vscode
__pycache__
db.sqlite3
/static
.DS_Store
*.zip
/blog/migrations
/pages/migrations
/users/migrations
/todo/migrations
/shortener/migrations
/khoBlogEnv
Pipfile
Pipfile.lock
khoBlog/settings_dev.py
