django
django-environ
django-admin-index
django-admin-interface
django-allauth
Impostor
django-markdownx
django-simple-captcha
django-storages
django-robots
django-taggit
taggit-selectize
django-simple-history
rules
django-widget-tweaks
django-import-export
django_compressor
django-filter
django-analytical
django-markup
django-tailwind
django-browser-reload
django-comments-xtd
drf-yasg
mysqlclient
django-auto-prefetch
readtime
django-jsonview
black
bleach
boto3
pymdown-extensions
pygments
importlib-metadata
python-dotenv
heroicons[django]
