{% extends 'sub_base_main.html' %}
{% load bootstrap5 %}

{% block title %}
    Flag Comment
{% endblock title %}

{% block page_top_title %}
    Flag Comment
{% endblock page_top_title %}

{% block main %}
    <h3>Flag: {{ comment.comment }}</h3>
    <form method="POST" class="form">
        {% csrf_token %}
        <h4>Are you sure ?</h4>
        {{ form.as_p }}

        {% buttons %}
            <input type="hidden" name="next" value="{% url 'pages:page_list' %}" />
            <button type="submit" class="btn btn-primary mt-2">Flag Comment</button>
        {% endbuttons %}
    </form>

{% endblock main %}
