{% load i18n comments project_tags widget_tweaks %}

{% if user.is_authenticated %}
  <form method="POST" action="{% comment_form_target %}" onsubmit="post.disabled=true; return true;">
    {% csrf_token %}

    <div class="non-field-errors">
      {{ form.non_field_errors }}
    </div>

    <div class="hidden-fields-errors">
      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
      {% endfor %}
    </div>

    {{ form.honeypot }}

    <div class="text-red-600 dark:text-flamingo-600">
      {{ form.non_field_errors }}
    </div>

    <div class="field mb-2">
      {{ form.title.label_tag }}
      {{ form.title|add_class:"form-control" }}
    </div>
    {% for error in form.title.errors %}
      <small class="text-red-600 dark:text-flamingo-600">{{ error }}</small>
    {% endfor %}

    <div class="field mb-2">
      {{ form.comment.label_tag }}
      {{ form.comment|add_class:"form-control" }}
    </div>
    {% for error in form.comment.errors %}
      <small class="text-red-600 dark:text-flamingo-600">{{ error }}</small>
    {% endfor %}

    <input type="hidden" name="next" value="{% url 'comments-xtd-sent' %}"/>
    <input class="inline-flex items-center justify-center px-3 py-2 border border-transparent rounded-xl shadow-sm text-xs lg:text-base font-medium text-white bg-cornflower-600 hover:bg-cornflower-700 cursor-pointer" type="submit" value="Add comment" id="id_submit"/>
  </form>
{% else %}
  <p>Please
    <a href="{% url 'account_login' %}">Log in</a>
    to leave a comment.</p>
{% endif %}
