{% load i18n comments comments_xtd %}

{% for item in comments %}
  <article id="comment-{{ item.comment.id }}" class="flex">
    <div class="flex-1 border-l border-gray-200 dark:border-jumbo-200 px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
      <section class="font-bold">
        {% if item.comment.user %}
          {% if user.is_authenticated %}
            {% if user == item.comment.user or user.is_superuser %}
              <a class="dark:text-jumbo-100 hover:underline" href="{{ item.comment.user.get_absolute_url }}">{{ item.comment.user }}</a>
            {% elif item.comment.user.owner %}
              <a class="dark:text-jumbo-100 hover:underline" href="{{ item.comment.user.get_absolute_url }}">{{ item.comment.user }}</a>
            {% elif not item.comment.is_removed %}
              <span class="dark:text-jumbo-100">{{ item.comment.user }}</span>
            {% endif %}
          {% elif not item.comment.is_removed %}
            <span class="dark:text-jumbo-100">{{ item.comment.user }}</span>
          {% endif %}
        {% else %}
          {% if item.comment.user_name and not item.comment.is_removed %}
            <span class="dark:text-jumbo-100">{{ item.comment.user_name }}</span>
          {% endif %}
        {% endif %}

        {% if item.comment.user and not item.comment.user.is_active %}
          <span class="text-sm font-normal text-flamingo-600">This user was banned.</span>
        {% elif item.comment.is_removed %}
          <span class="text-sm font-normal text-flamingo-600">This comment has been removed.</span>
        {% endif %}

        <a class="text-sm font-normal text-gray-950 dark:text-jumbo-50 underline hover:no-underline" href="{% get_comment_permalink item.comment %}">{{ item.comment.submit_date|date:'l, d F Y' }}</a>
      </section>
      {% if item.comment.is_removed %}
        {% if not user.is_superuser %}
          <p class="text-gray-600 dark:text-jumbo-600{% if not allow_feedback and not item.comment.allow_thread %} pb-2{% endif %}">
            This comment has been removed.
          </p>
        {% else %}
          <div class="text-gray-600 dark:text-jumbo-600{% if not allow_feedback and not item.comment.allow_thread %} pb-2{% endif %}">
            {% if item.comment.title %}
              <p class="text-xl">{{ item.comment.title }}</p>
            {% endif %}

            {% include "includes/django_comments_xtd/comment_content.html" with content=item.comment.comment %}
          </div>
        {% endif %}
      {% else %}
        <div class="prose dark:prose-invert">
          {% if item.comment.title %}
            <p class="text-xl">{{ item.comment.title }}</p>
          {% endif %}

          {% include "includes/django_comments_xtd/comment_content.html" with content=item.comment.comment %}
        </div>
        {% if allow_feedback %}
          {% include "includes/django_comments_xtd/user_feedback.html" %}
        {% endif %}
        {% if item.comment.allow_thread and not item.comment.is_removed %}
          {% if allow_feedback %}|{% endif %}

          <a class="text-sm text-gray-500 dark:text-jumbo-100 underline hover:no-underline" href="{{ item.comment.get_reply_url }}">{% trans "Reply" %}</a>
        {% endif %}
        <span>
          {% if perms.comments.can_moderate %}
            |
            {% if item.flagged_count %}
              <span class="bg-flamingo-600" title="{% blocktrans count counter=item.flagged_count %}A user has flagged this comment as inappropriate.{% plural %}{{ counter }} users have flagged this comment as inappropriate.{% endblocktrans %}">{{ item.flagged_count }}</span>
            {% endif %}
          {% endif %}
          {% if allow_flagging and item.flagged %}
            <span class="text-flamingo-600" title="{% trans 'comment flagged' %}"></span>
          {% elif allow_flagging %}
            <a class="text-sm underline hover:no-underline" href="{% url 'comments-flag' item.comment.pk %}">
              Flag
            </a>
          {% endif %}
          {% if perms.comments.can_moderate %}
            |
            <a class="text-sm underline hover:no-underline" href="{% url 'comments-delete' item.comment.pk %}">
              Delete
            </a>
          {% endif %}
        </span>
      {% endif %}

      {% if not item.comment.is_removed and item.children %}
        <div class="mt-5 mb-2 uppercase tracking-wide text-gray-400 dark:text-jumbo-200 font-bold text-xs">Replies</div>

        {% render_xtdcomment_tree with comments=item.children %}
      {% endif %}
    </div>
  </article>
{% empty %}
  <p>No comments yet.</p>
{% endfor %}
