{% load i18n %}
{% load comments %}
{% load comments_xtd %}

<div id="comment-{{ comment.id }}" class="card shadow mb-2 pb-0 pe-0">
  <div class="card-body">
    <div class="comment">
      <h4>
        {% if not comment.user and not comment.alias_user and comment.user_name %}
          {% if not comment.is_removed or user.is_superuser %}
            <span>{{ comment.user_name }}</span>
          {% endif %}
        {% elif comment.alias_user or comment.user and comment.alias_user %}
          {% if user.is_superuser %}
            <a href="{{ comment.user.get_absolute_url }}">{{ comment.user }}</a>
            <span class="text-small text-white-50">{{ comment.alias_user }}</span>
          {% else %}
            {% if not comment.is_removed %}
              {{ comment.alias_user }}
            {% else %}
              <span class="text-white-50">This comment has been removed.</span>
            {% endif %}
          {% endif %}
        {% else %}
          {% if user.is_superuser or user.id == comment.user.id %}
            <a href="{{ comment.user.get_absolute_url }}">{{ comment.user }}</a>
          {% elif comment.user.owner and user.is_authenticated %}
            <a href="{{ comment.user.get_absolute_url }}">{{ comment.user }}</a>
          {% else %}
            <span>{{ comment.user }}</span>
          {% endif %}
        {% endif %}
        {% comment %} {% endcomment %}
        {% if comment.user and comment.user|has_permission:"django_comments.can_moderate" %}&nbsp;<span class="badge bg-secondary p-1">Moderator</span>{% endif %}
      </h4>
      {% if comment.is_removed %}
        {% if not user.is_superuser %}
          <p class="text-white-50">
            <em>This comment has been removed.</em>
          </p>
        {% else %}
          <div class="content text-white-50">
            <em>
              {% if comment.title %}
                <h4>{{ comment.title }}</h4>
              {% endif %}

              {% comment %} {% endcomment %}
              {% include "includes/django_comments_xtd/comment_content.html" with content=comment.comment %}
            </em>
          </div>
        {% endif %}
      {% else %}
        <div class="content">
          {% if comment.title %}
            <h4>{{ comment.title }}</h4>
          {% endif %}

          {% comment %} {% endcomment %}
          {% include "includes/django_comments_xtd/comment_content.html" with content=comment.comment %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
