{% extends 'blog/comments/base_comments.html' %}
{% load comments comments_xtd %}

{% block title %}Confirm your opinion{% endblock %}

{% block comments_main %}
  <section>
    <div class="text-lg">
      {% if already_liked_it %}
        You've liked this comment, do you want to change it?
      {% else %}
        Do you like this comment?
      {% endif %}
    </div>
    {% include 'django_comments_xtd/comment.html' %}

    {% with object_absolute_url=comment.content_object.get_absolute_url %}
      {% if object_absolute_url %}
        <p>
          Posted to&nbsp;<a class="underline hover:no-underline" href="{{ object_absolute_url }}">{{ comment.content_object }}</a>
        </p>
      {% endif %}
    {% endwith %}

    {% if already_liked_it %}
      <span>Click on the "Withdraw" button if you want to withdraw your positive opinion on this comment.</span>
    {% else %}
      <div class="text-lg">Please, confirm your opinion about the comment</div>
    {% endif %}

    <form method="POST" action="." class="flex">
      {% csrf_token %}

      <input type="hidden" name="next" value="{{ comment.get_absolute_url }}" />
      <div class="flex mt-2 gap-2">
        {% if already_liked_it %}
          <button type="submit" class="kho-button-forms kho-button-submit-delete">Withdraw</button>
        {% else %}
          <button type="submit" class="kho-button-forms kho-button-submit">I like it</button>
        {% endif %}

        <a role="button" class="flex-0 kho-button-forms kho-button-submit" href="{{ comment.get_absolute_url }}">Cancel</a>
      </div>
    </form>
  </section>
{% endblock comments_main %}
