{% load widget_tweaks %}

{% if field|widget_type == "clearablefileinput" %}
  {{ field|add_class:"form-control" }}
{% elif field|widget_type == "hiddeninput" %}
  <div class="hidden">
    {{ field }}
  </div>
{% elif field|widget_type == "checkboxinput" %}
  {{ field.label_tag }}
  <div class="form-check">
    {{ field|add_class:"form-check-input" }}
  </div>
{% elif field|widget_type == "selectmultiple" %}
  {{ field.label_tag }}
  <div class="input-group">
    {{ field|add_class:"form-control"|attr:"multiple" }}
  </div>
{% elif field|widget_type == "markdownxwidget" %}
  {{ field|add_class:"form-control" }}
{% else %}
    {{ field.label_tag }}
    {{ field|add_class:"form-control" }}
{% endif %}

{% if field.help_text %}
  <span class="text-small text-white-50">{{ field.help_text }}</span>
{% endif %}

{% for error in field.errors %}
  <small class="form-text text-red-600 dark:text-flamingo-600">{{ error }}</small>
{% endfor %}
