{% extends 'blog/base_post.html' %}
{% load static %}

{% block content_main %}
    <div class="row row-cols-1 row-cols-lg-3 me-0">
        {% for cat in category_list %}
            <div class="mb-2 pe-0">
                <div id="category-{{ cat.slug }}" class="card shadow h-100">

                    <div class="card-header">
                        <div class="d-flex">
                            <span class="col">
                                <strong class="text-muted"><a class="text-muted" href="{% url 'blog:latest_category_post_feed' slug=cat.slug %}">Category #{{ cat.id }}</a></strong>
                                <p class="mb-0 text-muted">Category Post Count: {% if user.is_superuser %}{{ cat.get_superuser_post_count_in_category }} | {% endif %}{{ cat.get_post_count_in_category }}</p>
                            </span>
                            {% if user.is_superuser %}
                                <span class="col-auto">
                                    {% block super_buttons %}
                                        <div class="btn-group float-end">
                                            <a class="btn btn-secondary" href="{{ cat.get_absolute_update_url }}">
                                                <i class="bi bi-pencil-square"></i> Edit
                                            </a>

                                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="categoryAdminDropdown-{{ cat.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="visually-hidden">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="categoryAdminDropdown-{{ cat.id }}">
                                                <a class="dropdown-item" href="{{ cat.get_absolute_admin_update_url }}">
                                                    <i class="bi bi-pencil-square"></i> Edit in Admin
                                                </a>

                                                <div class="dropdown-divider"></div>

                                                <a class="dropdown-item" href="{{ cat.get_absolute_delete_url }}">
                                                    <i class="bi bi-trash"></i> Delete
                                                </a>
                                            </ul>
                                        </div>
                                    {% endblock super_buttons %}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ cat.title }}</h3>
                        <p class="mb-auto">{{ cat.description }}</p>
                        <p class="mb-auto">Category slug: {{ cat.slug }}</p>
                        {% if cat.category_children.all %}
                            <div class="mb-0">
                                Sub categories:
                                {% for child in cat.category_children.all %}
                                    <span><a href="{{ child.get_absolute_url }}">{{ child }}</a>{% if not forloop.last %}, {% endif %}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if cat.parent %}
                            <div class="mb-0">
                                Parent:
                                <span><a href="{{ cat.parent.get_absolute_url }}">{{ cat.parent }}</a></span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <span class="d-flex">
                            <span class="col">
                                <a class="card-link" href="{{ cat.get_absolute_url }}">Posts in this category</a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content_main %}
