{% extends 'blog/base_post.html' %}
{% load static %}
{% load markdown_extra %}

{% block content_main %}
    <div class="row row-cols-1 row-cols-lg-3">
        {% for cat in category_list %}
            <div class="mb-2 {% cycle 'pe-lg-0' 'pe-lg-0' 'pe-kho-lg-12' %}">
                <div id="category-{{ cat.slug }}" class="card shadow h-100">

                    <div class="card-header">
                        <span class="d-flex">
                            <span class="col">
                                <strong class="text-muted"><a class="text-muted" href="{% url 'blog:latest_category_post_feed' slug=cat.slug %}">Category #{{ cat.id }}</a></strong>
                                <p class="mb-0 text-muted">Category Post Count: {% if user.is_superuser %}{{ cat.get_superuser_post_count_in_category }}{% endif %} | {{ cat.get_post_count_in_category }}</p>
                            </span>
                            <span class="col-auto">
                                {% block super_buttons %}
                                    {% if user.is_superuser %}
                                        <div class="float-end btn-group" role="group" aria-label="Edit Group">
                                            <a class="btn btn-light" href="{% url 'blog:category_edit' slug=cat.slug %}">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>

                                            <a class="btn btn-danger" href="{% url 'admin:blog_category_change' object_id=cat.id %}">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endblock super_buttons %}
                            </span>
                        </span>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ cat.title }}</h3>
                        <p class="mb-auto">{{ cat.description }}</p>
                        <p class="mb-auto">Category slug: {{ cat.slug }}</p>
                        {% if cat.category_children.all %}
                            <div class="mb-0">
                                Sub categories:
                                {% for child in cat.category_children.all %}
                                    <span><a href="{{ child.get_absolute_url }}">{{ child }}</a>{% if not forloop.last %}, {% endif %}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <span class="d-flex">
                            <span class="col">
                                <a class="card-link" href="{{ cat.get_absolute_url }}">See all posts in this Category</a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content_main %}
