{% extends 'blog/base_post.html' %}
{% load static %}
{% load markdown_extra %}

{% block content_main %}
    <div class="row row-cols-1 row-cols-lg-3">
        {% for series in series_list %}
            <div class="mb-2 {% cycle 'pe-lg-0' 'pe-lg-0' 'pe-kho-lg-12' %}">
                <div id="series-{{ series.slug }}" class="card shadow h-100">

                    <div class="card-header">
                        <div class="d-flex">
                            <span class="col">
                                <strong class="text-muted">Series #{{ series.id }}</strong>
                            </span>
                            {% if user.is_superuser %}
                                <span class="col-auto">
                                    {% block super_buttons %}
                                        <div class="btn-group float-end">
                                            <a class="btn btn-secondary" href="{{ series.get_absolute_update_url }}">
                                                <i class="bi bi-pencil-square"></i> Edit
                                            </a>

                                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="seriesAdminDropdown-{{ series.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="visually-hidden">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="seriesAdminDropdown-{{ series.id }}">
                                                <a class="dropdown-item" href="{{ series.get_absolute_admin_update_url }}">
                                                    <i class="bi bi-pencil-square"></i> Edit in Admin
                                                </a>

                                                {% comment %} <div class="dropdown-divider"></div>

                                                <a class="dropdown-item" href="{{ series.get_absolute_delete_url }}">
                                                    <i class="bi bi-trash"></i> Delete
                                                </a> {% endcomment %}
                                            </ul>
                                        </div>
                                    {% endblock super_buttons %}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ series.title }}</h3>
                        <p class="mb-auto">{{ series.description }}</p>
                        <p class="mb-auto">Series Slug: {{ series.slug }}</p>
                    </div>
                    <div class="card-footer">
                        <span class="d-flex">
                            <span class="col">
                                <a class="card-link" href="{{ series.get_absolute_url }}">See all posts in this Series</a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content_main %}
