{% extends 'blog/base_post.html' %}
{% load bootstrap5 %}
{% load markdown_extra %}

{% block main %}
    {% if user.is_authenticated %}
        {% with request.resolver_match.view_name as view_name %}
            {% if view_name != 'blog:add_comment_to_post' and view_name != 'blog:add_reply_to_comment' %}
                {% if user.id == comment.author_logged.id or user.is_superuser %}
                    <h2>Edit Comment</h2>
                    <form method="POST" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        {% endbuttons %}
                    </form>
                {% endif %}
            {% else %}
                <h2>New Comment</h2>
                <form method="POST" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    {% endbuttons %}
                </form>
            {% endif %}
        {% endwith %}
    {% endif %}
{% endblock main %}
