{% extends 'sub_base.html' %}

{% block title %}
    {% with request.resolver_match.view_name as view_name %}
        {% if view_name == 'blog:post_category_list' %}
            {% if not cats.withdrawn or cats.withdrawn and user.is_superuser %}
                - {{ cats }}
            {% else %}
                - Withdrawn Category
            {% endif %}

        {% elif view_name == 'blog:post_detail' %}
            {% if post.published_date and not post.withdrawn and not post.published_date > now or not post.published_date and user.is_superuser or post.withdrawn and user.is_superuser or post.published_date > now and user.is_superuser %}

                - {{ post.title }}
            {% else %}
                - Withdrawn Post
            {% endif %}

        {% else %}
            - {{ title }}
        {% endif %}
    {% endwith %}
{% endblock title %}

{% block page_head %}
    {% with request.resolver_match.view_name as view_name %}
        {% if view_name == 'blog:post_detail' %}
            {% if not post.withdrawn and post.published_date %}
                <!-- Primary Meta Tags -->
                <meta name="title" content="Post #{{ post.id }} - {{ post.title }}">
                <meta name="description" content="{{ post.description }}">

                <!-- Open Graph / Facebook -->
                <meta property="og:url" content="{{ post.get_absolute_url }}">
                <meta property="og:title" content="Post #{{ post.id }} - {{ post.title }}">
                <meta property="og:description" content="{{ post.description }}">

                <!-- Twitter -->
                <meta property="twitter:url" content="{{ post.get_absolute_url }}">
                <meta property="twitter:title" content="Post #{{ post.id }} - {{ post.title }}">
                <meta property="twitter:description" content="{{ post.description }}">
            {% else %}
                <!-- Primary Meta Tags -->
                <meta name="title" content="Withdrawn or draft">
                <meta name="description"
                      content="This post is either withdrawn or still a draft, you must be logged in to be able to see it">

                <!-- Open Graph / Facebook -->
                <meta property="og:url" content="{% url 'pages:kheee' %}">
                <meta property="og:title" content="Withdrawn or draft">
                <meta property="og:description"
                      content="This post is either withdrawn or still a draft, you must be logged in to be able to see it">

                <!-- Twitter -->
                <meta property="twitter:url" content="{% url 'pages:kheee' %}">
                <meta property="twitter:title" content="Withdrawn or draft">
                <meta property="twitter:description"
                      content="This post is either withdrawn or still a draft, you must be logged in to be able to see it">
            {% endif %}

        {% elif view_name == 'blog:post_list' %}
                <!-- Primary Meta Tags -->
                <meta name="title" content="{{ title }}">
                <meta name="description"
                    content="Khodok's Blog was a simple test for Django for school at first before Khodok (the dev of this stupid website) started to like it and continued it as a personal project">

                <!-- Open Graph / Facebook -->
                <meta property="og:url" content="{{ CANONICAL_PATH }}"/>
                <meta property="og:title" content="{{ title }}">
                <meta property="og:description"
                    content="Khodok's Blog was a simple test for Django for school at first before Khodok (the dev of this stupid website) started to like it and continued it as a personal project">

                <!-- Twitter -->
                <meta property="twitter:url" content="{{ CANONICAL_PATH }}">
                <meta property="twitter:title" content="{{ title }}">
                <meta property="twitter:description"
                    content="Khodok's Blog was a simple test for Django for school at first before Khodok (the dev of this stupid website) started to like it and continued it as a personal project">

        {% elif view_name == 'blog:post_category_list' %}
            {% if not cats.withdrawn or cats.withdrawn and user.is_superuser %}
                <!-- Primary Meta Tags -->
                <meta name="title" content="{{ cats }}">
                <meta name="description" content="{{ cats.description }}">

                <!-- Open Graph / Facebook -->
                <meta property="og:url" content="{{ cats.get_absolute_url }}">
                <meta property="og:title" content="{{ cats }}">
                <meta property="og:description" content="{{ cats.description }}">

                <!-- Twitter -->
                <meta property="twitter:url" content="{{ cats.get_absolute_url }}">
                <meta property="twitter:title" content="{{ cats }}">
                <meta property="twitter:description" content="{{ cats.description }}">
            {% else %}
                <!-- Primary Meta Tags -->
                <meta name="title" content="Withdrawn">
                <meta name="description" content="This category is Withdrawn">

                <!-- Open Graph / Facebook -->
                <meta property="og:url" content="{% url 'pages:kheee' %}">
                <meta property="og:title" content="Withdrawn">
                <meta property="og:description" content="This category is Withdrawn">

                <!-- Twitter -->
                <meta property="twitter:url" content="{% url 'pages:kheee' %}">
                <meta property="twitter:title" content="Withdrawn">
                <meta property="twitter:description" content="This category is Withdrawn">
            {% endif %}

        {% elif view_name == 'blog:category_list' %}
            <!-- Primary Meta Tags -->
            <meta name="title" content="{{ title }}">
            <meta name="description" content="List of categories">

            <!-- Open Graph / Facebook -->
            <meta property="og:url" content="{% url 'blog:category_list' %}">
            <meta property="og:title" content="{{ title }}">
            <meta property="og:description" content="List of categories">

            <!-- Twitter -->
            <meta property="twitter:url" content="{% url 'blog:category_list' %}">
            <meta property="twitter:title" content="{{ title }}">
            <meta property="twitter:description" content="List of categories">

        {% else %}
            {{ block.super }}
        {% endif %}
    {% endwith %}

{% endblock page_head %}


{% block content %}
    {% block main %}
    {% endblock main %}
{% endblock content %}
