{% load static markdown_extra read_time super_buttons %}

{% block card_div %}
  <article id="object-{{ object.slug }}" class="card shadow{% if in_list %} h-100{% endif %}{% if context.user.is_authenticated and context.user.is_superuser and object.needs_reviewing %} border-warning{% endif %}">
  {% endblock card_div %}

  {% if object.pub_date %}
    {% if object.was_published_recently %}
      <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-success p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="New Post"><span class="visually-hidden">New Post</span></span>
    {% endif %}

    {% if object.is_scheduled %}
      <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-warning p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Scheduled"><span class="visually-hidden">Scheduled</span></span>
    {% endif %}
  {% else %}
    <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-info p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Draft"><span class="visually-hidden">Draft</span></span>
  {% endif %}

  {% if object.withdrawn %}
    <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Withdrawn"><span class="visually-hidden">Withdrawn</span></span>
  {% endif %}

  <header class="card-header">
    {% block card_header %}
      <section class="d-flex">
        <span class="col">
          {% if object.get_featured_cat %}
            <strong>
              <a class="cat-link" href="{{ object.get_featured_cat.category.get_absolute_url }}">{{ object.featured_cat_title|capfirst }}</a>
            </strong>
          {% else %}
            <strong>
              <a class="cat-link" href="{{ object.categories.first.get_absolute_url }}">{{ object.categories.first|capfirst }}</a>
            </strong>
          {% endif %}
          <p class="mb-0 text-small text-white-50">
            Post #{{ object.id }}
          </p>
        </span>
        <span class="col-auto mx-2">
          <span class="badge bg-secondary d-flex justify-content-center" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ object.get_language_display }}">{{ object.language }}</span>

          {% if object.is_outdated %}
            <span class="badge bg-warning d-flex float-end">Outdated</span>
          {% endif %}
        </span>
        <span class="col">
          {% if context.user.is_superuser %}
            {% sb object %}
          {% endif %}
        </span>
      </section>
    {% endblock card_header %}
  </header>

  {% block card_body %}
    <section class="card-body{% if not in_list %} pb-0{% endif %}">
      {% if not in_list %}
        {% if object.series %}
          <article class="card shadow">
            <header class="card-header">
              <strong class="text-white-50">Series:
                <a class="card-link" href="{% url 'blog:post_series_list' slug=object.series.slug %}">{{ object.series }}</a>
              </strong>
              {% if object.series.description %}
                -
                {{ object.series.description }}
              {% endif %}
              <span class="text-small text-white-50">
                ({{ context.series.all.count }}
                Part series)
              </span>
            </header>
            <ul class="list-group list-group-flush">
              {% for e in context.series %}
                <li class="list-group-item">
                  {% if not e.is_scheduled or context.user.is_superuser %}
                    <a {% if e == object %} class="card-link" {% endif %} href="{% url 'blog:post_detail' slug=e.slug %}">Part #{{ forloop.counter }}:
                      {{ e }}
                      {% if e == object %}
                        <span class="fst-italic text-small">(You are here)</span>
                      {% endif %}
                      {% if e.is_scheduled %}
                        <span class="text-white-50 fst-italic">
                          (Coming:
                          {{ e.pub_date|date:'l, d F Y H:i:s' }})
                        </span>
                      {% endif %}
                    </a>
                  {% else %}
                    <span>Part #{{ forloop.counter }}:
                      {{ e }}
                      {% if e == object %}
                        <span class="text-white-50">(You are here)</span>
                      {% endif %}
                      {% if e.is_scheduled %}
                        <span class="text-white-50 fst-italic">
                          (Coming:
                          {{ e.pub_date|date:'l, d F Y H:i:s' }})
                        </span>
                      {% endif %}
                    </span>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </article>

          <hr/>
        {% endif %}

        <h2 class="card-title">{{ object.title }}</h2>
      {% else %}
        <h3 class="card-title text-word-wrap mb-0">{{ object.title|truncatewords_html:7 }}</h3>
      {% endif %}

      <section class="text-small text-white-50">
        {% if not object.pub_date %}
          <p class="mb-auto">
            Created:
            {{ object.created_date|date:'l, d F Y H:i:s' }}
          </p>
        {% else %}
          <p class="mb-auto">
            Created:
            {{ object.created_date|date:'l, d F Y H:i:s' }}
          </p>
          <p class="mb-auto">
            Published:
            {{ object.pub_date|date:'l, d F Y H:i:s' }}
          </p>
        {% endif %}
        {% if object.mod_date %}
          <p class="mb-auto">
            Updated:
            {{ object.mod_date|date:'l, d F Y H:i:s' }}</p>
        {% endif %}

        <p class="mb-auto">
          {% if object.body %}
            {{ object.body|readtime }}
          {% else %}
            A while
          {% endif %}
        </p>
      </section>

      {% if not in_list and object.image %}
        <img src="{{ object.image.url }}" class="post-image" alt="Post image" loading="lazy"/>
      {% endif %}

      <section class="card-text">
        {% if context.body and not in_list %}
          {% for content in context.body %}
            {{ content.body|formatted_markdown|safe }}
            {% if content.body_image %}
              <img src="{{ content.body_image.url }}" alt="{{ content.body_image_alt }}" loading="lazy"/>
            {% endif %}
          {% endfor %}
        {% elif not in_list %}
          {{ object.body|formatted_markdown|safe }}
        {% else %}
          <p class="mb-auto">{{ object.description }}</p>
        {% endif %}

        {% if object.body_custom and not in_list %}
          {% load editorjs_more %}
          {{ object.body_custom|editorjs }}
        {% endif %}
      </section>
    </section>
  {% endblock card_body %}

  {% block card_footer %}
    <footer class="card-footer">
      {% if not in_list %}
        <section class="h5">
          Post information
        </section>
        {% if object.url_to_article and not in_list %}
          <span class="text-white-50">
            Direct link:
          </span>
          <a class="card-link" href="{{ object.url_to_article }}">{% firstof object.url_to_article_title object.url_to_article %}</a>

          <hr>
        {% endif %}

        <p class="col-12 col-lg-6">
          <span class="text-white-50">
            Seen:
          </span>
          {{ object.clicks }} time{{ object.clicks|pluralize:'s' }}
        </p>

        {% if object.get_tags and not user.is_superuser or object.get_admin_tags and user.is_superuser %}
          <p class="col-12 col-lg-6">
            <span class="text-white-50">
              Tags:
            </span>
            {% if not user.is_superuser %}
              {% for tag in object.get_tags %}
                {% spaceless %}
                  <a href="{% url 'blog:post_tagged_with' slug=tag.slug %}">{{ tag }}</a>
                  {% if not forloop.last %}
                    <span>,</span>
                  {% endif %}
                {% endspaceless %}
              {% endfor %}
            {% else %}
              {% for tag in object.get_admin_tags %}
                {% spaceless %}
                  <a href="{% url 'blog:post_tagged_with' slug=tag.slug %}">{{ tag }}</a>
                  {% if not forloop.last %}
                    <span>,</span>
                  {% endif %}
                {% endspaceless %}
              {% endfor %}
            {% endif %}
          </p>

          <p class="col-12 col-lg-6">
            <span class="text-white-50">
              Related content:
            </span>
            {% for e in context.similar_posts %}
              {% if not e.withdrawn and not e.is_scheduled or user.is_superuser %}
                {% spaceless %}
                  <a href="{{ e.get_absolute_url }}">{{ e }}</a>
                  {% if not forloop.last %}
                    <span>,</span>{% endif %}
                {% endspaceless %}
              {% endif %}
            {% endfor %}
          </p>
        {% endif %}
        <p class="col-12 col-lg-6">
          <span class="text-white-50">
            Categories:
          </span>
          {% comment %} {% endcomment %}
          {% include 'blog/includes/post_categories.html' with post=object %}
        </p>
      {% elif in_list %}
        <span class="d-flex">
          <span class="col">
            {% if not context.archive %}
              <a class="card-link" href="{{ object.get_absolute_url }}">Continue reading</a>
            {% else %}
              <a class="card-link" href="{% url 'blog:archive_date_detail' year=context.g_year month=context.g_month day=context.g_day slug=object.slug %}">Continue reading</a>
            {% endif %}
          </span>
          {% if object.url_to_article %}
            <span class="col">
              <a class="float-end card-link" href="{{ object.url_to_article }}">
                <i class="bi bi-link-45deg"></i>
                External link
              </a>
            </span>
          {% endif %}
        </span>
      {% endif %}
    </footer>
  {% endblock card_footer %}
</article>
