{% extends 'blog/base_post.html' %}
{% load static %}
{% load markdown_extra %}
{% load i18n %}

{% block page_top_title %}
    {% with request.resolver_match.view_name as view_name %}
        {% if view_name == 'blog:post_withdrawn_list' %}
            Withdrawn
        {% elif view_name == 'blog:post_draft_list' %}
            Drafts
        {% elif view_name == 'blog:post_scheduled_list' %}
            Scheduled
        {% elif view_name == 'blog:post_category_list' %}
            {% if not cats.withdrawn or cats.withdrawn and user.is_superuser %}
                Posts in <b>{{ cats|capfirst }}</b> Category
            {% else %}
                This category is Withdrawn
            {% endif %}
        {% elif view_name == 'blog:category_list' %}
            Category List
        {% elif view_name == 'blog:post_list' %}
            Latest Posts
        {% elif view_name == 'blog:archive_date_detail' %}
            Post Detail
        {% else %}
            {{ title }}
        {% endif %}
    {% endwith %}
{% endblock page_top_title %}

{% block main %}

    {% block page_top %}
        {% block page_top_archives %}
            <strong>
                Archives by <a href="{% url 'blog:archive_year' year=now|date:'Y' %}">Year</a> -
                <a href="{% url 'blog:archive_month' year=now|date:'Y' month=now|date:'M' %}">Month</a> -
                <a href="{% url 'blog:archive_week' year=now|date:'Y' week=now|date:'W' %}">Week</a> -
                <a href="{% url 'blog:archive_day' year=now|date:'Y' month=now|date:'M' day=now|date:'d' %}">Day</a> -
                <a href="{% url 'blog:archive_today' %}">Today</a>
            </strong>
        {% endblock page_top_archives %}

        {% block page_top_hr %}
            <hr />
        {% endblock page_top_hr %}
    {% endblock page_top %}

    {% block content_main %}
    {% endblock content_main %}

    {% block pagination %}
        <nav class="blog-pagination">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-secondary" href="?page=1">&laquo; First</a>
                        <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a class="btn btn-secondary"
                        href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </nav>
    {% endblock pagination %}

{% endblock main %}
