{% extends 'blog/base_post.html' %}
{% load static %}
{% load markdown_extra %}
{% load i18n %}

{% block page_top_title %}
    {% with request.resolver_match.view_name as view_name %}
        {% if view_name == 'blog:post_withdrawn_list' %}
            <h2>Withdrawn Posts</h2>

        {% elif view_name == 'blog:post_draft_list' %}
            <h2>Drafts</h2>

        {% elif view_name == 'blog:post_scheduled_list' %}
            <h2>Scheduled Posts</h2>

        {% elif view_name == 'blog:post_category_list' %}
            {% if not cats.withdrawn or cats.withdrawn and user.is_superuser %}
                <h2>
                    Posts in <b>{{ cats|capfirst }}</b> Category
                </h2>

            {% else %}
                <h2>
                    This category is Withdrawn
                </h2>
            {% endif %}
        {% elif view_name == 'blog:category_list' %}
            <h2>Category List</h2>
        {% else %}
            <h2>Latest Posts</h2>
        {% endif %}
    {% endwith %}

{% endblock page_top_title %}

{% block main %}

    {% block content_main %}
    {% endblock content_main %}

    {% block pagination %}
        <nav class="blog-pagination">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-secondary" href="?page=1">&laquo; First</a>
                        <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a class="btn btn-secondary"
                        href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </nav>
    {% endblock pagination %}

{% endblock main %}
