{% extends 'tailwind/base.html' %}
{% load static widget_tweaks project_tags markdown_extra compress %}

{% block additional_js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock additional_js %}

{% block additional_css %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'khoBlog/css/highlight.css' %}">
  {% endcompress css %}
{% endblock additional_css %}

{% block content %}
  <form enctype="multipart/form-data" method="post" novalidate="novalidate">
    {% csrf_token %}
    <section class="non-field-errors">
      {{ form.non_field_errors }}
    </section>

    <section class="hidden-fields-errors">
      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
      {% endfor %}
    </section>

    <section class="text-flamingo-600">
      {{ form.non_field_errors }}
    </section>

    <section class="mb-2">
      {{ form.title.label_tag }}
      <div class="flex gap-2">
        {{ form.title|add_class:"form-control col"|attr:"placeholder:Post title" }}
        {{ form.featured_title|add_class:"form-control col"|attr:"placeholder:Post featured title" }}
      </div>
      {% for error in form.title.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
      {% for error in form.featured_title.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </section>


    <section class="mb-2">
      {{ form.categories.label_tag }}
      <div class="input-group">
        {{ form.categories|add_class:"form-select"|attr:"multiple" }}
      </div>
      {% if form.categories.help_text %}
        <span class="text-sm">{{ form.categories.help_text }}</span>
      {% endif %}
      {% for error in form.categories.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </section>

    <section class="mb-2">
      {{ form.tags.label_tag }}
      {{ form.tags }}
      {% if form.tags.help_text %}
        <span class="text-sm">{{ form.tags.help_text }}</span>
      {% endif %}
      {% for error in form.tags.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </section>

    <section class="mb-2">
      <div class="input-group gap-2">
        <div class="form-floating w-full">
          {{ form.series.label_tag }}
          {{ form.series|add_class:"form-select"|attr:"placeholder:Post series" }}
        </div>
        <div class="form-floating">
          {{ form.order_in_series.label_tag }}
          {{ form.order_in_series|add_class:"form-control"|attr:"placeholder:Post order in series" }}
        </div>
      </div>
      {% if form.series.help_text %}
        <span class="text-sm">{{ form.series.help_text }}</span>
      {% endif %}
      {% for error in form.series.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </section>

    <section class="mb-2">
      <div class="form-floating">
        {{ form.description.label_tag }}
        {{ form.description|add_class:"form-control"|attr:"placeholder:Post description" }}
      </div>
      {% if form.description.help_text %}
        <span class="text-sm">{{ form.description.help_text }}</span>
      {% endif %}
      {% for error in form.description.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </section>

    <section class="mb-2">
      <div class="form-floating">
        {{ form.body.label_tag }}
        {{ form.body|add_class:"form-control"|attr:"placeholder:Post body" }}
      </div>
      {% if form.body.help_text %}
        <span class="text-sm">{{ form.body.help_text }}</span>
      {% endif %}
      {% for error in form.body.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </section>

    <section class="mb-2">
      {{ form.image.label_tag }}
      {{ form.image|add_class:"form-control"|attr:"placeholder:Post image" }}
      {% if form.image.help_text %}
        <span class="text-sm">{{ form.image.help_text }}</span>
      {% endif %}
      {% for error in form.image.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </section>

    <section class="mb-2">
      <div class="input-group gap-2">
        <div class="form-floating">
          {{ form.withdrawn.label_tag }}
          {{ form.withdrawn|add_class:"form-check" }}
          {% if form.withdrawn.help_text %}
            <div class="text-sm">{{ form.withdrawn.help_text }}</div>
          {% endif %}
        </div>
      </div>
    </section>

    <section class="mb-2">
      <div class="input-group gap-2">
        <div class="form-floating">
          {{ form.publication_state.label_tag }}
          {{ form.publication_state|add_class:"form-select"|attr:"placeholder:Post publication state" }}
          {% if form.publication_state.help_text %}
            <span class="text-sm">{{ form.publication_state.help_text }}</span>
          {% endif %}
        </div>
        <div class="form-floating">
          {{ form.featuring_state.label_tag }}
          {{ form.featuring_state|add_class:"form-select"|attr:"placeholder:Post featuring state" }}
          {% if form.featuring_state.help_text %}
            <span class="text-sm">{{ form.featuring_state.help_text }}</span>
          {% endif %}
        </div>
      </div>
    </section>

    <section class="mb-2">
      {{ form.pub_date.label_tag }}
      <div class="flex gap-2 w-full md:w-1/4">
        {{ form.pub_date|add_class:"form-control picker" }}
      </div>
      {% if form.pub_date.help_text %}
        <span class="text-sm">{{ form.pub_date.help_text }}</span>
      {% endif %}
      {% for error in form.pub_date.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </section>

    <section class="mb-2">
      <div class="input-group gap-2">
        <div class="form-floating w-1/2">
          {{ form.url_to_article.label_tag }}
          {{ form.url_to_article|add_class:"form-select"|attr:"placeholder:Post article" }}
        </div>
        <div class="form-floating w-1/2">
          {{ form.url_to_article_title.label_tag }}
          {{ form.url_to_article_title|add_class:"form-control"|attr:"placeholder:Post article title" }}
        </div>
      </div>
      {% if form.url_to_article.help_text %}
        <span class="text-sm">{{ form.url_to_article.help_text }}</span>
      {% endif %}
      {% for error in form.url_to_article.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </section>

    <section class="mb-2">
      <div class="form-floating">
        {{ form.language|add_class:"form-select"|attr:"placeholder:Post language" }}
        {{ form.language.label_tag }}
      </div>
      {% if form.language.help_text %}
        <span class="text-sm">{{ form.language.help_text }}</span>
      {% endif %}
      {% for error in form.language.errors %}
        <small class="text-flamingo-600">{{ error }}</small>
      {% endfor %}
    </section>

    <button type="submit" class="kho-button-forms kho-button-submit">{{ title }}</button>
  </form>
  {{ form.media }}

{% endblock content %}
