{% load read_time %}

<article id="post-{{ object.slug }}" class="card shadow{% if not forloop.last %} mb-2{% endif %}">
  {% if not hide_header %}
    <header class="card-header">
      <section class="d-flex">
        <section class="col">
          {% if object.get_featured_cat %}
            <strong>
              <a class="cat-link" href="{{ object.get_featured_cat.category.get_absolute_url }}">{{ object.featured_cat_title|capfirst }}</a>
            </strong>
          {% else %}
            <strong>
              <a class="cat-link" href="{{ object.categories.first.get_absolute_url }}">{{ object.categories.first|capfirst }}</a>
            </strong>
          {% endif %}
          {% if object.is_outdated %}
            <span class="badge bg-warning d-flex float-end">Outdated</span>
          {% endif %}
          <p class="mb-0 text-small text-muted">
            Post #{{ object.id }}
          </p>
        </section>
        <section class="col-auto mx-2">
          <span class="badge bg-secondary d-flex justify-content-center" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ object.get_language_display }}">{{ object.language }}</span>
        </section>
        <section class="col"></section>
      </section>
    </header>
  {% endif %}

  <section class="card-body">
    <{{ header_tag|default:'h2' }} class="card-title text-word-wrap mb-0">
      {{ object.title|truncatewords_html:7 }}
    </{{ header_tag|default:'h2' }}>

    {% if summary_first %}
      <p class="mb-0">{{ object.description|safe }}</p>
    {% endif %}

    <section>
      <p class="mb-auto text-small text-muted">
        {% if not object.pub_date %}
          Created
        {% else %}
          Published
        {% endif %}
        by
        <strong>{{ object.author }}</strong>
        on
        {% if not object.pub_date %}
          {{ object.created_date|date:'F j, Y' }}
          at
          {{ object.created_date|time:'H:i:s' }}
        {% else %}
          {{ object.pub_date|date:'F j, Y' }}
          at
          {{ object.pub_date|time:'H:i:s' }}
        {% endif %}
      </p>
      {% if object.mod_date %}
        <p class="mb-auto text-small text-muted">
          Last updated by
          <strong>{{ object.author }}</strong>
          on
          {{ object.mod_date|date:'F j, Y' }}
          at
          {{ object.mod_date|time:'H:i:s' }}
        </p>
      {% endif %}
    </section>

    <section>
      <p class="mb-0 text-small text-muted">
        {% if object.body %}
          {{ object.body|readtime }}
        {% else %}
          A while
        {% endif %}
      </p>
    </section>

    {% if not summary_first %}
      <p class="mb-0">{{ object.description|safe }}</p>
    {% endif %}
  </section>

  {% if not hide_readmore %}
    <footer class="card-footer">
      <a class="card-link" href="{{ object.get_absolute_url }}">Continue reading</a>
    </footer>
  {% endif %}
</article>
