{% extends 'blog/base_post_main_block.html' %}
{% load static %}
{% load markdown_extra %}

{% block content_main %}

    {% if not cats.private or cats.private and user.is_superuser %}
        {% for post in posts %}
            {% if post.published_date and not post.private or not post.published_date and user.is_superuser or post.private and user.is_superuser %}

                <div class="card text-white border-secondary bg-dark mb-3">
                    <div class="card-header border-secondary">
                        <h2>Post #{{ post.id }} {% include 'blog/superbuttons.html' %}</h2>
                    </div>

                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <div class="blog-post-meta">
                            {% include 'blog/postdates.html' %}
                        </div>
                        <p class="card-text">{{ post.description }}</p>

                        {% if not post.private and post.published_date %}
                            <a class="btn btn-primary" href="{{ post.get_absolute_url }}#comments">Comments : {% if user.is_superuser %}{{ post.comments.count }}{% else %}{{ post.approved_comments.count }}{% endif %}</a>
                            {% if post.comments.count > post.approved_comments.count and user.is_superuser %}
                                <a class="btn btn-danger" href="{{ post.get_absolute_url }}#comments">Approved Comments : {{ post.approved_comments.count }}</a>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="card-footer border-secondary">
                        <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read More</a>

                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#postModal-{{ post.id }}">Open modal for this post</button>
                    </div>

                    {% include 'blog/post_modale.html' %}

                </div>

            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock content_main %}

{% block pagination %}

    <nav class="blog-pagination">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-primary" href="?page=1">&laquo; First</a>
                    <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-secondary" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-secondary" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </nav>

{% endblock pagination %}