{% extends 'sub_base_main_block.html' %}
{% load static comments comments_xtd super_buttons markdown_extra compress heroicons %}

{% block additional_css %}
  {% if object.has_code %}
    {% compress css %}
      <link rel="stylesheet" href="{% static 'khoBlog/css/highlight.css' %}">
    {% endcompress css %}
  {% endif %}
{% endblock additional_css %}

{% block content_main %}
  <article class="xl:grid xl:grid-cols-3">
    <div class="xl:col-span-2 xl:pr-8 xl:border-r xl:border-gray-200 dark:xl:border-jumbo-700">
      <nav class="flex justify-between" role="group" aria-label="Previous / Next">
        {% if prev_post %}
          <a type="button" class="next_prev_buttons" href="{{ prev_post.get_absolute_url }}">
            {% heroicon_outline "chevron-left" class="h-4 sm:h-5 w-4 sm:w-5" stroke_width=2 %}
            <!-- space -->
            Previous Post
          </a>
        {% else %}
          <button disabled class="next_prev_buttons disabled:opacity-50">
            {% heroicon_outline "chevron-left" class="h-4 sm:h-5 w-4 sm:w-5" stroke_width=2 %}
            <!-- space -->
            Previous Post
          </button>
        {% endif %}
        {% if next_post %}
          <a type="button" class="next_prev_buttons" href="{{ next_post.get_absolute_url }}">
            Next Post
            <!-- space -->
            {% heroicon_outline "chevron-right" class="h-4 sm:h-5 w-4 sm:w-5" stroke_width=2 %}
          </a>
        {% else %}
          <button disabled class="next_prev_buttons disabled:opacity-50">
            Next Post
            <!-- space -->
            {% heroicon_outline "chevron-right" class="h-4 sm:h-5 w-4 sm:w-5" stroke_width=2 %}
          </button>
        {% endif %}
      </nav>
      <div class="md:flex md:items-center md:justify-between md:space-x-4 xl:border-b xl:border-gray-200 dark:xl:border-jumbo-700 xl:pb-6">
        <div>
          <div class="text-2xl font-bold text-gray-900 dark:text-jumbo-50">{{ object.title }}</div>
          <p class="mt-2 text-sm text-gray-500 dark:text-jumbo-200">
            Post <span class="font-bold">#{{ object.pk }}</span> written by
            <!-- space -->
            <a href="{{ object.author.get_absolute_url }}" class="font-medium text-gray-900 dark:text-jumbo-50 hover:underline">{{ object.author }}</a>
            <!-- space -->
            in
            <!-- space -->
            {% if object.categories %}
              {% if object.get_featured_cat %}
                <a href="{{ object.get_featured_cat.category.get_absolute_url }}" class="font-medium text-gray-900 dark:text-jumbo-50 hover:underline">{{ object.featured_cat_title }}</a>
              {% else %}
                <a href="{{ object.categories.first.get_absolute_url }}" class="font-medium text-gray-900 dark:text-jumbo-50 hover:underline">{{ object.categories.first }}</a>
              {% endif %}
            {% endif %}
          </p>
        </div>
        {% sb object user=request.user %}
      </div>
      <div class="py-3 xl:pt-6 xl:pb-0">
        <div class="sr-only">Content</div>
        <div class="prose dark:prose-invert lg:prose-lg xl:prose-xl">
          {{ post.body_content|formatted_markdown|safe }}
        </div>
      </div>
      <aside class="mt-8 xl:hidden">
        {% include 'tailwind/post_aside.html' %}
      </aside>
    </div>
    <aside class="hidden xl:block xl:pl-8">
      {% include 'tailwind/post_aside.html' %}
    </aside>
  </article>
  {% if not comments_disabled_globally_flag and post.enable_comments %}
    <div id="comments" class="mb-4 text-lg font-semibold text-gray-900 dark:text-jumbo-100 mt-12 border-t-2 border-gray-200 dark:border-jumbo-200">Comments</div>

    {% render_comment_form for post %}

    <div class="relative">
      <div class="absolute inset-0 mt-2 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-200 dark:border-jumbo-200"></div>
      </div>
    </div>

    <section class="mt-4 space-y-4">
      {% render_xtdcomment_tree for post allow_thread allow_flagging allow_feedback show_feedback %}
    </section>
  {% endif %}

  <script>
    function copyToClipboard() {
      const vanity_url = document.querySelector("#vanity");
      const value = vanity_url.textContent;

      const textarea = document.createElement("textarea");
      textarea.value = "{{ request.get_host }}/p/" + value;
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand("copy");
      document.body.removeChild(textarea);
    }

    const button = document.querySelector("#vanity_button");
    button.addEventListener("click", copyToClipboard);
  </script>
{% endblock content_main %}

{% block pagination %}{% endblock pagination %}
