{% extends 'blog/base_post_card.html' %}
{% load read_time %}

{% block card_div %}
  <article id="post-{{ post.slug }}" class="card shadow h-100">
  {% endblock card_div %}

  {% block card_body %}
    <section class="card-body">
      <h3 class="card-title text-word-wrap mb-0">{{ post.title|truncatewords_html:7 }}</h3>
      <section>{% include 'blog/includes/post_dates.html' %}</section>
      <p class="mb-0 text-small text-muted">
        {% if post.body %}
          {{ post.body|readtime }}
        {% else %}
          A while
        {% endif %}
      </p>
      <p class="mb-auto">{{ post.description }}</p>
    </section>
  {% endblock card_body %}

  {% block card_footer %}
    <footer class="card-footer">
      <span class="d-flex">
        <span class="col">
          {% if not archive %}
            <a class="card-link" href="{{ post.get_absolute_url }}">Continue reading</a>
          {% else %}
            <a class="card-link" href="{% url 'blog:archive_date_detail' year=g_year month=g_month day=g_day slug=post.slug %}">Continue reading</a>
          {% endif %}
        </span>
        {% if post.url_to_article %}
          <span class="col">
            <a class="float-end card-link" href="{{ post.url_to_article }}">
              <i class="bi bi-link-45deg"></i>
              External link
            </a>
          </span>
        {% endif %}

        <span class="col">
          <a role="button" class="float-end card-link" data-bs-toggle="offcanvas" data-bs-target="#postOffCanvas-{{ post.slug }}" aria-controls="postOffCanvas-{{ post.slug }}">Post Info</a>
        </span>
      </span>
    </footer>
  {% endblock card_footer %}
