{% extends 'blog/base_post_card.html' %}
{% load read_time %}

{% block card_div %}
    <div id="post-{{ post.slug }}" class="card shadow h-100">
{% endblock card_div %}

{% block card_body %}
    <h3 class="card-title text-word-wrap mb-0">{{ post.title|truncatewords_html:7 }}</h3>
    <div>{% include 'blog/includes/post_dates.html' %}</div>
    {% comment %} <p class="mb-0 text-small text-muted">
        {% if not body %}
            {{ post.body|readtime }}
        {% else %}
            A while
        {% endif %}
    </p> {% endcomment %}
    <p class="mb-auto">{{ post.description }}</p>
{% endblock card_body %}

{% block card_footer %}
    <div class="card-footer">
        <span class="d-flex">
            <span class="col">
                <a class="card-link" href="{{ post.get_absolute_url }}">Continue Reading</a>
            </span>
            {% if post.url_to_article %}
                <span class="col">
                    <a class="float-end card-link" href="{{ post.url_to_article }}">
                        <i class="bi bi-link-45deg"></i> External Link
                    </a>
                </span>
            {% endif %}
            <span class="col">
                <a role="button" class="float-end card-link" data-bs-toggle="offcanvas" data-bs-target="#postOffCanvas-{{ post.id }}" aria-controls="postOffCanvas-{{ post.id }}">Post Info</a>
            </span>
        </span>
    </div>
{% endblock card_footer %}
