{% extends 'blog/base_post.html' %}
{% load static %}
{% load project_tags %}
{% load markdown_extra %}

{% block main %}
    <div class="card formcard">
        <div class="card-body">
            <form enctype="multipart/form-data" method="post" novalidate>
                <div class="text-danger">
                    {{ form.non_field_errors }}
                </div>

                {% form form %}

                <button type="submit" class="btn btn-primary">{{ title }}</button>
            </form>
        </div>
    </div>
    {{ form.media }}

{% endblock main %}
