{% extends 'blog/base_post_main_block.html' %}
{% load static %}
{% load markdown_extra %}
{% load read_time %}

{% block content_main %}

    {% with request.resolver_match.view_name as view_name %}
        {% if view_name == 'blog:post_list' %}
            {% include 'blog/includes/featured_posts.html' %}
        {% endif %}
    {% endwith %}

    <div class="row row-cols-1 row-cols-lg-3">
        {% for post in posts %}
            <div class="card-deck mb-2 {% cycle 'pe-lg-0' 'pe-lg-0' 'pe-kho-lg-12' %}">
                <div id="post-{{ post.slug }}" class="card bg-dark border-secondary shadow h-100">

                    {% if post.published_date %}
                        {% if post.was_published_recently %}
                            <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-success p-1" data-bs-toggle="tooltip" data-bs-placement="top" title="New Post"><span class="visually-hidden">New Post</span></span>
                        {% endif %}
                    {% endif %}

                    <div class="card-header border-secondary">
                        <span class="d-flex">
                            <span class="col">
                                {% comment %} {% for cats in post.postcatslink_set.all %}
                                    {% if cats.featured_cat %}
                                        <strong><a class="text-muted" href="{{ cats.category.get_absolute_url }}">{{ cats.category|capfirst }}</a></strong>
                                    {% endif %}


                                    {% if not cats.featured_cat %}
                                        {{ cats.category }}
                                    {% endif %}
                                    {% for featured in featured_cat %}
                                        {% if featured.id == cats.id %}
                                            {% if cats.featured_cat %}
                                                <strong><a class="text-muted" href="{{ cats.category.get_absolute_url }}">{{ cats.category|capfirst }}</a></strong>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    {% for cats in post.postcatslink_set.all %}
                                    {% if cats.featured_cat %}
                                        {{ cats.category.get_absolute_url }}
                                    {% endif %}
                                {% endfor %}




                                {% comment %} {% for cats in featured_cat %}
                                    {{ cats.postcatslink.title }}
                                    {% if post.id == cats.id %}
                                        <strong><a class="text-muted" href="{{ cats.get_absolute_url }}">{{ cats|capfirst }}</a></strong>
                                    {% endif %}
                                {% endfor %} {% endcomment %}

                                {% comment %} {% for cats in post.postcatslink_set.all %}
                                    {% if cats.featured_cat %}
                                        <strong><a class="text-muted" href="{{ cats.category.get_absolute_url }}">{{ cats.category|capfirst }}</a></strong>
                                    {% endif %}
                                {% endfor %} {% endcomment %}
                                {% comment %} {% for cats in post.postcatslink_set.all %} {% endcomment %}
                                    {% comment %} {% if cats.featured_cat.count > 0 %}
                                        <strong><a class="text-muted" href="{{ cats.category.get_absolute_url }}">{{ cats.category|capfirst }}</a></strong>
                                    {% else %}
                                        <strong><a class="text-muted" href="{{ post.categories.first.get_absolute_url }}">{{ post.categories.first|capfirst }}</a></strong>
                                    {% endif %}
                                {% endfor %}
                                    <!-- I could order by and then put the featured_cat as first and always use .first -->
                                {% endfor %} {% endcomment %}
                                <strong><a class="text-muted" href="{{ post.categories.first.get_absolute_url }}">{{ post.categories.first|capfirst }}</a></strong>
                                <p class="mb-0 text-muted">{{ post.body|readtime }}</p>
                            </span>
                            <span class="col-1">
                                <span class="badge bg-secondary d-flex justify-content-center" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ post.get_language_display }}">{{ post.language }}</span>
                            </span>
                            <span class="col">
                                {% include 'blog/includes/super_buttons.html' %}
                            </span>
                        </span>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ post.title }}</h3>
                        <div class="mb-2">{% include 'blog/includes/post_dates.html' %}</div>
                        <p class="mb-auto">{{ post.description }}</p>
                    </div>
                    <div class="card-footer border-secondary">
                        <span class="d-flex">
                            <span class="col">
                                <a href="{{ post.get_absolute_url }}">Continue Reading</a>
                            </span>
                            {% if post.url_post_type %}
                                <span class="col">
                                    <a class="float-end" href="{{ post.url_post_type }}">
                                        <i class="bi bi-link-45deg"></i> External Link
                                    </a>
                                </span>
                            {% endif %}
                            <span class="col">
                                <a role="button" class="link float-end" data-bs-toggle="modal"
                                    data-bs-target="#postModal-{{ post.id }}">Post Info
                                </a>
                            </span>
                        </span>
                    </div>
                </div>

                 {% include 'blog/includes/post_modale.html' %}
            </div>
        {% endfor %}
    </div>
{% endblock content_main %}

{% block pagination %}

    <nav class="blog-pagination">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-secondary" href="?page=1">&laquo; First</a>
                    <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-secondary"
                       href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </nav>

{% endblock pagination %}