{% extends 'blog/base_post_main_block.html' %}
{% load static %}
{% load markdown_extra %}
{% load read_time %}

{% block page_top_title %}
    <h2 class="clearfix">{{ title }}
        <div class="btn-group float-end" role="group" aria-label="Previous / Next">
            <a class="btn btn-primary" href="{{ post.get_previous_by_created_date.get_absolute_url }}">
                <i class="bi bi-chevron-left"></i>
            </a>

            <a class="btn btn-primary" href="{{ post.get_next_by_created_date.get_absolute_url }}">
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
    </h2>
{% endblock page_top_title %}

{% block content_main %}

    {% if post.published_date and not post.withdrawn and not post.published_date > now or not post.published_date and user.is_superuser or post.withdrawn and user.is_superuser or post.published_date > now and user.is_superuser %}

        <div class="card text-white border-secondary bg-dark mb-2">
            <div class="card-header border-secondary">
                <h2>Post #{{ post.id }} {% include 'blog/superbuttons.html' %}</h2>
            </div>

            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <div class="blog-post-meta">
                    <p class="mb-auto text-muted">{{ post.body|readtime }}</p>
                    {% include 'blog/postdates.html' %}
                </div>
                {% if post.post_image %}
                    <img src="{{ post.post_image.url }}" alt="Post image" />
                {% endif %}
                <span class="card-text">{{ post.body|formatted_markdown|safe }}</span>
                {% if post.url_post_type %}
                    <a href="{{ post.url_post_type }}">{{ post.url_post_type_name }}</a>
                {% endif %}
            </div>

            <div id="comments" class="card-footer border-secondary">
                <div class="btn-group-vertical d-flex col-12 col-lg-5 p-0" role="group" aria-label="Comments Group">
                    <a class="btn btn-primary d-block" href="{% url 'blog:add_comment_to_post' pk_post=post.pk %}">Add comment</a>
                </div>
                {% include 'blog/post_comments_base.html' %}
            </div>

        </div>

    {% else %}
        <h1><a class="btn btn-danger" href="{% url 'pages:kheee' %}">This post is either withdrawn or still a draft, you must be logged in
            to be able to see it</a></h1>
    {% endif %}
{% endblock content_main %}

{% block pagination %}
{% endblock pagination %}
