{% extends 'blog/base_post.html' %}
{% load instance %}

{% block content_main %}
    <div class="row row-cols-1 row-cols-lg-3">
        {% for element in query %}
            {% if query|isinstance:'list' %}
                {% for e in element %}
                    <div class="mb-2 {% cycle 'pe-lg-0' 'pe-lg-0' 'pe-kho-lg-12' %}">
                        <div id="element-{{ e.slug }}" class="card shadow h-100">
                            <div class="card-header">
                                <span class="d-flex">
                                    <span class="col">
                                        <p class="mb-0 text-muted">#{{ e.id }}</p>
                                        <p class="mb-0 text-muted">{{ e.author }}</p>
                                    </span>
                                </span>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title text-word-wrap">{% firstof e.title e %}</h3>
                                <p class="mb-auto">{% firstof e.description e.body %}</p>
                            </div>
                            <div class="card-footer">
                                <span class="d-flex">
                                    <span class="col">
                                        <a class="card-link" href="{{ e.get_absolute_url }}">Continue Reading</a>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="mb-2 {% cycle 'pe-lg-0' 'pe-lg-0' 'pe-kho-lg-12' %}">
                    <div id="element-{{ element.slug }}" class="card shadow h-100">
                        <div class="card-header">
                            <span class="d-flex">
                                <span class="col">
                                    <p class="mb-0 text-muted">#{{ element.id }}</p>
                                </span>
                                <span class="col">
                                    <p class="mb-0 text-muted">{{ element.author }}</p>
                                </span>
                            </span>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-word-wrap">{% firstof element.title element %}</h3>
                            <p class="mb-auto">{% firstof element.description element.body %}</p>
                        </div>
                        <div class="card-footer">
                            <span class="d-flex">
                                <span class="col">
                                    <a class="card-link" href="{{ element.get_absolute_url }}">Continue Reading</a>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock content_main %}
