{% block superButtons %}
    {% if user.is_superuser %}

        <div class="float-right btn-toolbar" rold="toolbar" aria-label="Super Buttons Toolbar">
            {% if not post.published_date %}
                <div class="btn-group mr-2" role="group" aria-label="Publish Group">
                    <a class="btn btn-light" href="{% url 'blog:post_publish' slug=post.slug %}">
                        <i class="bi bi-file-earmark-arrow-up"></i>
                    </a>

                    <a class="btn btn-warning" href="{% url 'blog:post_publish_private' slug=post.slug %}">
                        <i class="bi bi-file-earmark-lock"></i>
                    </a>
                </div>
            {% endif %}


            <div class="btn-group mr-2" role="group" aria-label="Delete Group">
                <a class="btn btn-warning" href="{% url 'blog:post_remove' slug=post.slug %}">
                    <i class="bi bi-trash"></i>
                </a>
            </div>

            <div class="btn-group" role="group" aria-label="Edit Group">
                <a class="btn btn-light" href="{% url 'blog:post_edit' slug=post.slug %}">
                    <i class="bi bi-pencil-square"></i>
                </a>

                <a class="btn btn-danger" href="/admin/blog/post/{{ post.id }}/change/">
                    <i class="bi bi-pencil-square"></i>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock superButtons %}