{% extends 'tailwind/base.html' %}
{% load project_tags widget_tweaks %}

{% block content %}
  <form class="space-b-8 divide-b divide-gray-200" method="post" novalidate="novalidate">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
      <div>
        <div>
          <div class="text-lg leading-6 font-medium text-gray-900 dark:text-jumbo-400">{{ title }}</div>
        </div>
        <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            {{ form.title.label_tag }}
            <div class="flex gap-2">
              {{ form.title|add_class:"form-control col"|attr:"placeholder:Post title" }}
            </div>
            {% for error in form.title.errors %}
              <small class="text-flamingo-600">{{ error }}</small>
            {% endfor %}
            {% for error in form.featured_title.errors %}
              <small class="text-flamingo-600">{{ error }}</small>
            {% endfor %}
          </div>
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            {{ form.description.label_tag }}
            {{ form.description|add_class:"form-control"|attr:"placeholder:Task description" }}
          </div>
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <div>
              <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700 dark:text-jumbo-400" id="label-email">{{ form.withdrawn.label }}</div>
            </div>
            <div class="mt-4 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg space-y-4">
                <div class="relative flex items-start">
                  <div class="flex items-center h-5">
                    {{ form.withdrawn|add_class:"form-check" }}
                  </div>
                  <div class="ml-3 text-sm">
                    <label for="id_withdrawn" class="font-medium text-gray-700 dark:text-jumbo-400">{{ form.withdrawn.label }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-5">
      <div class="flex justify-end">
        <button type="submit" class="kho-button-forms kho-button-submit">Save</button>
      </div>
    </div>
  </form>
{% endblock content %}
