{% extends 'sub_base.html' %}

{% block content %}
  {% if not enable_tailwind_flag and user.is_authenticated and not user.enable_tailwind or not enable_tailwind_flag and not user.is_authenticated %}

    {% if user.is_superuser %}
      <a class="btn btn-primary mt-2" href="{% url 'todo:create_task' %}">Add New Task</a>
    {% endif %}

    <hr/>

    <ul class="list-unstyled">
      {% for task in tasks %}
        <li class="clearfix">
          <span class="{% if task.complete %} text-white-50{% endif %}">
            <i class="bi bi-check2-square"></i>
            Task #{{ task.id }}
            -
            {{ task.title }}
            {% if task.description %}
              -
              {{ task.description }}
            {% endif %}
            {% if task.withdrawn %}
              <small>(Withdrawn)</small>
            {% endif %}
          </span>
          {% if user.is_superuser %}
            <span class="float-end">
              {% if not task.complete %}
                <a class="text-info" href="{% url 'todo:complete_task' task.id %}">Complete</a>
                -
              {% endif %}
              <a class="text-info" href="{% url 'todo:edit_task' task.id %}">Update</a>
              -
              <a class="text-danger" href="{% url 'todo:delete' task.id %}">Delete</a>
            </span>
          {% endif %}
        </li>

        <hr/>
      {% endfor %}
    </ul>
  {% elif enable_tailwind_flag or user.is_authenticated and user.enable_tailwind %}
    <div class="mx-auto max-w-7xl">
      <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h1 class="text-xl font-semibold text-gray-900 dark:text-jumbo-100">Tasks</h1>
            <p class="mt-2 text-sm text-gray-700 dark:text-jumbo-50">A list of all the things to do.</p>
          </div>
          {% if user.is_superuser %}
            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
              <a href="{% url 'todo:create_task' %}" type="button" role="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 dark:focus:ring-flamingo-500 focus:ring-offset-2 sm:w-auto">Add new task</a>
            </div>
          {% endif %}
        </div>
        <div class="mt-8 flex flex-col">
          <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
              <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                <table class="min-w-full divide-y divide-gray-300 dark:divide-jumbo-300">
                  <thead class="bg-gray-50 dark:bg-jumbo-800">
                    <tr>
                      <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 dark:text-jumbo-300 sm:pl-6">ID</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-jumbo-300">Title</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-jumbo-300">Description</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 dark:text-jumbo-300">Withdrawn</th>
                      <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                        <span class="sr-only">Actions</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200 dark:bg-jumbo-700 dark:divide-jumbo-300">
                    {% for task in tasks %}
                      <tr>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 dark:text-jumbo-300 sm:pl-6">{{ task.pk }}</td>
                        <td class="whitespace-nowrap md:whitespace-normal px-3 py-4 text-sm text-gray-500 dark:text-jumbo-50">{{ task.title }}</td>
                        <td class="whitespace-nowrap md:whitespace-normal px-3 py-4 text-sm text-gray-500 dark:text-jumbo-50">{{ task.description }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-jumbo-50">{{ task.withdrawn }}</td>
                        <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                          {% if not task.complete %}
                            <a class="text-cyan-500 hover:text-cyan-600 dark:text-cyan-400 dark:hover:text-cyan-600" href="{% url 'todo:complete_task' task.id %}">Complete</a>
                          {% endif %}
                          <a class="text-indigo-600 hover:text-indigo-900 dark:text-indigo-200 dark:hover:text-indigo-500" href="{% url 'todo:edit_task' task.id %}">Edit</a>
                          <a class="text-flamingo hover:text-flamingo-700 dark:text-flamingo-200 dark:hover:text-flamingo-500" href="{% url 'todo:delete' task.id %}">Delete</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}
