{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <h2>TODO List</h2>

    <form action="{% url 'todo:add' %}" method="POST" class="form">
        {% csrf_token %}
        {{ form.as_p }}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Save</button>
        {% endbuttons %}
    </form>

    <a class="btn btn-outline-light" href="{% url 'todo:deletecomplete' %}">Delete completed</a>
    <a class="btn btn-outline-light" href="{% url 'todo:deleteall' %}">Delete all</a>

    <hr>

    <ul class="list-unstyled">
        {% for todo in todo_list %}
            {% if todo.complete %}
                <li class="text-muted"><i class="bi bi-check2-square"></i> {{ todo.element }}</li>
            {% else %}
                <li><a class="todoTodo" href="{% url 'todo:complete' todo.id %}"><i class="bi bi-x-square"></i> {{ todo.element }}</a></li>
            {% endif %}

            {% if not forloop.last %}
                <hr class="hr" />
            {% endif %}
        {% endfor %}
    </ul>
{% endblock content %}
