{% extends 'sub_base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
    <form action="{% url 'todo:add' %}" method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary mt-2">Add New Todo</button>
        {% endbuttons %}
    </form>

    <hr />

    <ul class="list-unstyled">
        {% for todo in todo_list %}
            {% if todo.complete %}
                <li class="text-muted">
                    <i class="bi bi-check2-square"></i>
                    {{ todo.title }}{% if todo.description %} - {{ todo.description }}{% endif %}
                    <a class="text-info" href="{% url 'todo:complete' todo.id %}">Mark as Uncomplete</a>
                    <a class="text-danger float-end" href="{% url 'todo:delete' todo.id %}">Delete</a>
                </li>
            {% else %}
                <li>
                    <i class="bi bi-x-square"></i>
                    {{ todo.title }}{% if todo.description %} - {{ todo.description }}{% endif %}
                    <a class="text-success" href="{% url 'todo:complete' todo.id %}">Mark as Completed</a>
                    <a class="text-danger float-end" href="{% url 'todo:delete' pk=todo.pk %}">Delete</a>
                </li>
            {% endif %}

            <hr />
        {% endfor %}
    </ul>

    <a class="btn btn-outline-light" href="{% url 'todo:delete_complete' %}">Delete completed</a>
    <a class="btn btn-outline-light" href="{% url 'todo:delete_all' %}">Delete all</a>
{% endblock content %}
