{% if previous_year or next_year or previous_month or next_month or previous_week or next_week or previous_day or next_day %}
<div>
  {% if previous_year or next_year %}
    <div>
      {% if previous_year %}
        <span class="whitespace-nowrap">Previous Year: <a class="hover:underline" href="{% url 'blog:archive_year' year=previous_year|date:'Y' %}" rel="noopener noreferrer">{{ previous_year|date:"Y" }}</a></span>
      {% endif %}
      {% if previous_year and next_year %}—{% endif %}
      {% if next_year %}
        <span class="whitespace-nowrap">Next Year: <a class="hover:underline" href="{% url 'blog:archive_year' year=next_year|date:'Y' %}" rel="noopener noreferrer">{{ next_year|date:"Y" }}</a></span>
      {% endif %}
    </div>
  {% endif %}

  {% if previous_month or next_month %}
    <div>
      {% if previous_month %}
        <span class="whitespace-nowrap">Previous Month: <a class="hover:underline" href="{% url 'blog:archive_month' year=previous_month|date:'Y' month=previous_month|date:'M' %}" rel="noopener noreferrer">{{ previous_month|date:"F Y" }}</a></span>
      {% endif %}
      {% if previous_month and next_month %}—{% endif %}
      {% if next_month %}
        <span class="whitespace-nowrap">Next Month: <a class="hover:underline" href="{% url 'blog:archive_month' year=next_month|date:'Y' month=next_month|date:'M' %}" rel="noopener noreferrer">{{ next_month|date:"F Y" }}</a></span>
      {% endif %}
    </div>
  {% endif %}

  {% if previous_week or next_week %}
    <div>
      {% if previous_week %}
        <span class="whitespace-nowrap">Previous Week: <a class="hover:underline" href="{% url 'blog:archive_week' year=previous_week|date:'Y' week=previous_week|date:'W' %}" rel="noopener noreferrer">{{ previous_week|date:"W" }} of {{ previous_week|date:"Y" }}</a></span>
      {% endif %}
      {% if previous_week and next_week %}—{% endif %}
      {% if next_week %}
        <span class="whitespace-nowrap">Next week: <a class="hover:underline" href="{% url 'blog:archive_week' year=next_week|date:'Y' week=next_week|date:'W' %}" rel="noopener noreferrer">{{ next_week|date:"W" }} of {{ next_week|date:"Y" }}</a></span>
      {% endif %}
    </div>
  {% endif %}

  {% if previous_day or next_day %}
    <div>
      {% if previous_day %}
        <span class="whitespace-nowrap">Previous Day: <a class="hover:underline" href="{% url 'blog:archive_day' year=previous_day|date:'Y' month=previous_day|date:'M' day=previous_day|date:'d' %}" rel="noopener noreferrer">{{ previous_day }}</a></span>
      {% endif %}
      {% if previous_day and next_day %}—{% endif %}
      {% if next_day %}
        <span class="whitespace-nowrap">Next Day: <a class="hover:underline" href="{% url 'blog:archive_day' year=next_day|date:'Y' month=next_day|date:'M' day=next_day|date:'d' %}" rel="noopener noreferrer">{{ next_day }}</a></span>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endif %}
