{% load static analytical google_analytics_gtag tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      function colorScheme() {
        const isDarkThemeSet = localStorage.theme === 'dark';
        const isThemeStored = 'theme' in localStorage;
        const isDarkPrefered = window.matchMedia('(prefers-color-scheme: dark)').matches;

        try {
          if (isDarkThemeSet || (!isThemeStored && isDarkPrefered)) {
            document.documentElement.classList.add('dark')
          } else {
            document.documentElement.classList.remove('dark')
          }
        } catch (_) {}
      }

      colorScheme()
    </script>
    <meta charset="UTF-8"/>
    {% if not debug_flag %}
      {% analytical_head_top %}

      <!-- Google Tag Manager -->
      <script>
        (function (w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
          var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer'
              ? '&l=' + l
              : '';
          j.async = true;
          j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
          f
            .parentNode
            .insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-ND43ZGJ');
      </script>
      <!-- End Google Tag Manager -->
    {% endif %}

    <title>
      Khodok's Blog -
      {% if title %}
        {{ title }}
      {% else %}
        {% block title %}{% endblock title %}
      {% endif %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="canonical" href="{{ CANONICAL_PATH }}">
    <link rel="shortlink" href="{{ CANONICAL_PATH }}">

    <meta property="og:site_name" content="Hello There!"/>
    <meta property="og:image" content="{% static 'khoBlog/img/Ruthinkk.webp' %}">
    <meta property="twitter:image" content="{% static 'khoBlog/img/Ruthinkk.webp' %}">
    <link rel="apple-touch-icon" href="{% static 'khoBlog/img/RuthinkkTooBig-small-square.png' %}"/>

    {% block page_head %}
      <!-- Primary Meta Tags -->
      <meta name="title" content="{{ title }}">
      <meta name="description" content="{{ description }}">

      <!-- Open Graph / Facebook -->
      <meta property="og:title" content="{{ title }}">
      <meta property="og:url" content="{{ CANONICAL_PATH }}"/>
      <meta property="og:description" content="{{ description }}">

      <!-- Twitter -->
      <meta property="twitter:title" content="{{ title }}">
      <meta property="twitter:url" content="{{ CANONICAL_PATH }}">
      <meta property="twitter:description" content="{{ description }}">
    {% endblock page_head %}

    <meta name="theme-color" content="#B362FF">
    <link type="application/json+oembed" href="https://www.khodok.com/static/khoBlog/js/oembed/oembed.json" title="oEmbed Profile: JSON">
    {% if has_rss %}
      <link rel="alternate" hreflang="en" type="application/rss+xml" title="{{ title }}" href="/latest/rss">
    {% endif %}

    {% block additional_js %}{% endblock additional_js %}
    {% block additional_css %}{% endblock additional_css %}

    <script defer src="{% static 'vendor/node_modules/alpinejs/dist/cdn.min.js' %}"></script>
    <style>
      [x-cloak] { display: none !important; }
    </style>

    {% block rel %}
      <!-- base! favicon -->
      <link rel="shortcut icon" type="image/png" href="{% static 'khoBlog/img/favicon.ico' %}"/>

      {% tailwind_css %}
    {% endblock rel %}

    {% if not debug_flag %}
      <meta name="google-site-verification" content="KZMs6ddQ5vepSstnuHhhjh_4IhiS0hPZfSvqPH98wrI"/>

      {% analytical_head_bottom %}
    {% endif %}
  </head>

  <body class="antialiased min-h-screen overflow-y-scroll bg-gray-50 dark:bg-jumbo-900 dark:text-jumbo-100">
    {% if not debug_flag %}
      {% analytical_body_top %}

      <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ND43ZGJ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    {% include 'tailwind/menu.html' %}

    <main class="pt-8 pb-12 lg:pt-16 lg:pb-20">
      <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        {% block content %}
        {% endblock content %}
      </section>
    </main>

    <footer>
      <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
          <div class="px-5 py-2">
            <a href="{% url 'pages:about' %}" class="text-base text-gray-600 dark:text-jumbo-50 hover:underline">
              About
            </a>
          </div>
          <div class="px-5 py-2">
            <a href="{% url 'blog:post_list' %}" class="text-base text-gray-600 dark:text-jumbo-50 hover:underline">
              Blog
            </a>
          </div>
        </nav>
        <div class="mt-8 flex justify-center space-x-6">
          <a href="{% url 'shortener:url_redirect' slug='khoblog-github-repo' %}" class="text-gray-600 dark:text-jumbo-100 hover:text-gray-700 dark:hover:text-jumbo-200" target="_blank" rel="noopener noreferrer">
            <span class="sr-only">GitHub</span>
            <!-- icon Github -->
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
        <p class="mt-8 text-center text-base text-gray-600 dark:text-jumbo-100">
          {{ FULL_VERSION }}
        </p>
        <p class="mt-2 text-center text-base text-gray-600 dark:text-jumbo-100">
          2020 - {{ now.year }} Khodok
        </p>
      </div>
    </footer>

    {% if messages %}
      {% for message in messages %}
        <div x-data="{ show: true }" x-init="setTimeout(() => show = false, 5000)" aria-live="assertive" class="messages fixed inset-0 top-auto flex items-end px-4 py-6 pointer-events-none sm:p-6 sm:items-start">
          <div class="w-full flex flex-col items-center space-y-4 sm:items-end">
            <div x-show="show" x-transition:enter="transform ease-out duration-300 transition" x-transition:enter-start="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2" x-transition:enter-end="translate-y-0 opacity-100 sm:translate-x-0" x-transition:leave="transition ease-in duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="max-w-sm w-full shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden {% if message.tags %}message-{{ message.tags }}{% endif %}">
              <div class="p-4">
                <div class="flex items-start">
                  <div class="ml-3 w-0 flex-1 pt-0.5">
                    <p class="text-sm">{{ message }}</p>
                  </div>
                  <div class="ml-4 flex-shrink-0 flex">
                    <button type="button" @click="show = false" class="rounded-md inline-flex">
                      <span class="sr-only">Close</span>
                      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}

    <script>
      function themeOption(e) {
        let optionValue = e.target.id
        let localStorageValue = localStorage.getItem('theme')

        if (optionValue === 'system') {
          if (localStorageValue) {
            localStorage.removeItem('theme')
          }
        } else if (optionValue === 'dark') {
          localStorage.setItem('theme', 'dark')
        } else if (optionValue === 'light') {
          localStorage.setItem('theme', 'light')
        }

        colorScheme()
      }

      const navigationHeight = document.querySelector('#navbar').offsetHeight;

      document.documentElement.style.setProperty('--scroll-padding', navigationHeight - 1 + "px");
    </script>

    {% if not debug_flag %}
      {% analytical_body_bottom %}
    {% endif %}
  </body>
</html>
