{% load featured_post comments content_type status_dot %}

<article>
  {% if object.categories %}
    {% if object.get_featured_cat %}
      <a href="{{ object.get_featured_cat.category.get_absolute_url }}" class="inline-block" title="Go to: '{{ object.get_featured_cat.category }}' category" tabindex="0">
        <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-cornflower-100 text-cornflower-800 dark:bg-cornflower-100 dark:text-cornflower-700 hover:bg-cornflower-200 dark:hover:bg-cornflower-200 dark:hover:text-cornflower-800">
          {{ object.featured_cat_title }}
        </span>
      </a>
    {% else %}
      <a href="{{ object.categories.first.get_absolute_url }}" class="inline-block" title="Go to: '{{ object.categories.first }}' category" tabindex="0">
        <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-cornflower-100 text-cornflower-800 dark:bg-cornflower-100 dark:text-cornflower-700 hover:bg-cornflower-200 dark:hover:bg-cornflower-200 dark:hover:text-cornflower-800">
          {{ object.categories.first }}
        </span>
      </a>
    {% endif %}
    {% status_dot object %}
  {% endif %}
  <section>
    <a href="{{ object.get_absolute_url }}" class="mt-2 inline-block text-lg font-bold text-gray-950 dark:text-jumbo-100 hover:underline" title="Go to: '{{ object }}' post">
      {{ object }}
    </a>
    {% if object.featuring_state and not object.featuring_state == "N" %}
      <span class="inline-flex items-center px-2 py-0.5 rounded text-xs font-bold tracking-tight bg-cornflower-200 text-cornflower-950">
        {% if object.featuring_state == "SF" %}Super {% endif %}Featured
      </span>
    {% endif %}
    {% if object|to_class_name != "post" %}
      {% status_dot object %}
    {% endif %}
    {% if object.get_superuser_post_count or object.get_post_count or object.get_superuser_post_count or object.get_post_count %}
      <p class="text-sm dark:text-jumbo-100">Post count:
        {% if context.user.is_superuser %}
        <strong>{{ object.get_superuser_post_count }}</strong>
        |
        {% endif %}
        {{ object.get_post_count }}
      </p>
      <p class="text-sm dark:text-jumbo-100">Percentage:
        {% if context.user.is_superuser %}
        <strong>{{ object.get_superuser_percent_of_posts }}</strong>
        |
        {% endif %}
        {{ object.get_percent_of_posts }}
      </p>
    {% endif %}
    <p class="text-sm dark:text-jumbo-100">
      <time datetime="{{ object.pub_date|date:"c" }}">
        {{ object.pub_date|date:"Y\-m\-d" }}
      </time>
    </p>
    <p class="mt-3 text-base dark:text-jumbo-100">
      {{ object.description }}
    </p>
  </section>
  <section class="mt-3">
    <a href="{{ object.get_absolute_url }}" class="text-base font-semibold text-cornflower-600 hover:underline dark:text-cornflower-200" title="Go to: '{{ object }}' post" tabindex="0">
      Read more about this {% if object|to_class_name != "customtag" %}{{ object|to_class_name }}{% else %}tag{% endif %}
    </a>
  </section>
</article>
