{% load featured_post comments %}

<article>
  {% if object.categories %}
    <section>
      {% if object.get_featured_cat %}
        <a href="{{ object.get_featured_cat.category.get_absolute_url }}" class="inline-block">
          <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-indigo-100 text-indigo-800 dark:bg-flamingo-100 dark:text-flamingo-700">
            {{ object.featured_cat_title }}
          </span>
        </a>
      {% else %}
        <a href="{{ object.categories.first.get_absolute_url }}" class="inline-block">
          <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-indigo-100 text-indigo-800 dark:bg-flamingo-100 dark:text-flamingo-700">
            {{ object.categories.first }}
          </span>
        </a>
      {% endif %}
    </section>
  {% endif %}
  <section>
    <a href="{{ object.get_absolute_url }}" class="mt-2 block">
      <p class="text-lg font-bold text-gray-900 dark:text-jumbo-100">
        {{ object }}
      </p>
    </a>
    {% if object.get_superuser_post_count_in_category or object.get_post_count_in_category %}
      <p class="text-sm dark:text-jumbo-100">Post count:
        {% if context.user.is_superuser %}
        <strong>{{ object.get_superuser_post_count_in_category }}</strong>
        |
        {% endif %}
        {{ object.get_post_count_in_category }}
      </p>
      <p class="text-sm dark:text-jumbo-100">Percentage:
        {% if context.user.is_superuser %}
        <strong>{{ object.get_superuser_percent_of_posts }}</strong>
        |
        {% endif %}
        {{ object.get_percent_of_posts }}
      </p>
    {% endif %}
    <p class="text-sm dark:text-jumbo-100">
      {% comment %} {% endcomment %}
      <time datetime="{{ object.pub_date|date:"c" }}">
        {{ object.pub_date|date:"Y\-m\-d" }}
      </time>
    </p>
    <p class="mt-3 text-base dark:text-jumbo-100">
      {{ object.description }}
    </p>
  </section>
  <section class="mt-3">
    <a href="{{ object.get_absolute_url }}" class="text-base font-semibold text-indigo-600 hover:text-indigo-500 dark:text-flamingo-200 dark:hover:text-flamingo-400">
      Read the post
    </a>
  </section>
</article>
