{% load cards content_type super_buttons %}

<section{% if filter_form %} x-data="{ open: false }" aria-labelledby="filter-heading"{% endif %} class="relative divide-y-2 divide-gray-300 dark:divide-jumbo-600">
  <section>
    <div class="md:flex md:items-center md:justify-between md:space-x-4">
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 dark:text-jumbo-100 sm:text-4xl">
        {{ title }}
      </h2>
      {% if user.is_superuser and parent_object %}
        {% sb parent_object %}
      {% endif %}
    </div>
    <div class="block sm:flex gap-2 mt-3 sm:mt-4">
      <p class="text-lg font-bold sm:grow dark:text-jumbo-50">
        {{ description }}
      </p>
      {% if filter_form %}
        <!-- Filters -->
        <section class="w-auto">
          <button type="button" class="group text-gray-900 dark:text-jumbo-100 font-medium flex items-center" aria-controls="disclosure-1" @click="open = !open" aria-expanded="false" x-bind:aria-expanded="open.toString()">
            <svg class="flex-none w-5 h-5 mr-2 text-gray-400 group-hover:text-gray-500" aria-hidden="true" x-description="Heroicon name: solid/filter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd"></path>
            </svg>
            Filters
          </button>
          <h2 id="filter-heading" class="sr-only">Filters</h2>
        </section>
      {% endif %}
      {% if user.is_superuser and not object_list.model|to_class_name == "post" and not object_list.model|to_class_name == "customtag" %}
        {% csb object_list.model %}
      {% endif %}
    </div>
  </section>

  {% if filter_form %}
    {% load project_tags widget_tweaks %}

    <section id="disclosure-1" x-show="open" style="display: none;" class="mt-6 pt-10">
      <form method="get" class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-2 xl:grid-cols-3 xl:grid-rows-3 md:grid-flow-col gap-2 h-fit">
        <div class="h-fit">
          {{ filter_form.form.title.label_tag }}
          {{ filter_form.form.title|add_class:"form-control"|attr:"placeholder:Post title" }}
        </div>

        <div class="h-fit">
          {{ filter_form.form.description.label_tag }}
          {{ filter_form.form.description|add_class:"form-control"|attr:"placeholder:Post description" }}
        </div>

        <div class="h-fit">
          {{ filter_form.form.categories.label_tag }}
          {{ filter_form.form.categories|add_class:"form-control" }}
        </div>

        <div class="h-fit md:row-start-1">
          {{ filter_form.form.featuring_state.label_tag }}
          {{ filter_form.form.featuring_state|add_class:"form-control" }}
        </div>

        <div class="h-fit">
          {{ filter_form.form.language.label_tag }}
          {{ filter_form.form.language|add_class:"form-control" }}
        </div>

        <div class="h-fit">
          {{ filter_form.form.order_by.label_tag }}
          {{ filter_form.form.order_by|add_class:"form-control" }}
        </div>

        <div class="row-start-3 md:row-start-4 md:col-start-1 md:col-span-2 xl:col-start-3 xl:row-span-full h-fit">
          {{ filter_form.form.body.label_tag }}
          {{ filter_form.form.body|add_class:"form-control"|attr:"placeholder:Post body" }}
        </div>

        <div class="col-start-1 md:row-start-5 xl:row-start-4 w-fit">
          <button type="submit" class="kho-button-forms kho-button-submit">Filter results</button>
        </div>
      </form>
    </section>
  {% endif %}

  <section class="mt-6 pt-10 grid gap-16 sm:grid-cols-2 sm:gap-x-5 sm:gap-y-12">
    {% for object in object_list %}
      {% cards object %}
    {% empty %}
      Nothing found here.
    {% endfor %}
  </section>
</section>
