{% load humanize heroicons %}

<section class="flow-root mt-2">
  <ul role="list">
    {% for object in objects %}
      <li>
        <div class="relative pb-4">
          <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200 dark:bg-jumbo-700" aria-hidden="true"></span>
          <div class="relative flex items-start space-x-3">
            <div>
              <div class="relative pl-3 pr-1">
                <div class="h-4 w-4 bg-gray-200 dark:bg-jumbo-700 rounded-full ring-8 ring-gray-50 dark:ring-jumbo-800 flex items-center justify-center"></div>
              </div>
            </div>
            <div class="min-w-0 flex-1 pb-1.5">
              <div class="text-sm">
                <div class="whitespace-nowrap">{{ object.pub_date|naturaltime }}</div>
                <div class="truncate">
                  <a href="{{ object.get_absolute_url }}" class="font-medium hover:underline">{{ object.title }}</a>
                </div>
                <div>
                  {{ object.description }}
                </div>
                {% if forloop.last %}
                  <div class="relative">
                    <a class="absolute top-6 text-xs text-cornflower-600 hover:underline dark:text-cornflower-200" href="{% url 'blog:post_category_list' slug='updates' %}">
                      Read changelog
                      {% heroicon_mini 'arrow-long-right' class="h-4 w-4 inline" stroke_width=2 %}
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
