{% load markup_tags %}

<div class="aside-content-child {% if object.link %}group relative{% endif %}">
  <dt class="text-sm font-medium text-cornflower-500 dark:text-jumbo-100 truncate group-hover:underline">
    {{ object }}
  </dt>
  <dd class="mt-1 font-semibold text-cornflower-800 dark:text-jumbo-50">
    {{ object.fact|apply_markup:"markdown"|apply_markup:"widont" }}
    {% if object.link.permalink %}
      <a href="{{ object.link.permalink }}">
        <span class="absolute inset-0"></span>
      </a>
    {% elif object.link.content_object.get_absolute_url %}
      <a href="{{ object.link.content_object.get_absolute_url }}"{% if object.link.content_type.model == 'url' %} target="_blank" rel="noopener noreferrer"{% endif %} class="inset-0 no-blank">
        <span class="absolute inset-0"></span>
      </a>
    {% endif %}
  </dd>
</div>
