{% extends 'tailwind/menu_sections.html' %}
{% load links_menu menu_footer_set featured_post featured_page %}

{% block menu %}
  {% if menu == "Main" %}
    <div class="grid grid-cols-2 items-start gap-y-10 gap-x-8 pt-10 pb-12">
      <div class="grid grid-cols-2 gap-y-10 gap-x-8">
        <div>
          <p class="font-medium text-gray-950 dark:text-jumbo-100">
            Go somewhere
          </p>
          <ul role="list" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
            {% links_menu %}
          </ul>
        </div>
        {% mfl_setting "D" %}
      </div>
      {% if user.is_authenticated %}
        <div class="grid grid-cols-4 gap-y-10 gap-x-8">
          {% mfl_setting "NP" %}

          {% if user.is_staff %}
            {% mfl_setting "NS" %}
          {% endif %}

          {% if user.is_superuser %}
            {% mfl_setting "NAL" %}
            {% mfl_setting "NA" %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% else %}
    <div class="flex col-2 gap-y-10 gap-x-8 pt-10 pb-12">
      <div>
        <p id="desktop-superfeatured-heading" class="font-medium text-gray-950 dark:text-jumbo-100">
          Super Featured
        </p>
        <ul role="list" aria-labelledby="desktop-superfeatured-heading" class="grid grid-cols-3 gap-y-8 gap-x-4 mt-6 sm:mt-4">
          {% super_featured_page_list %}
          {% super_featured_post_list %}
        </ul>
      </div>
      <div class="flex-none gap-y-10 gap-x-8">
        <div>
          <p id="desktop-featured-heading-0" class="font-medium text-gray-950 dark:text-jumbo-100">
            Featured
          </p>
          <ul role="list" aria-labelledby="desktop-featured-heading-0" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
            {% featured_page_list %}
            {% featured_post_list %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock menu %}
