{% extends 'tailwind/menu_sections.html' %}
{% load links_menu menu_footer_set featured_post featured_page %}

{% block menuu %}
  {% if menu == "Main" %}
    <div class="grid grid-cols-2 items-start gap-y-10 gap-x-8 pt-10 pb-12">
      <div class="grid grid-cols-2 gap-y-10 gap-x-8">
        <div>
          <p id="desktop-gosomewhere-heading-0" class="font-medium text-gray-900 dark:text-jumbo-100">
            Go somewhere
          </p>
          <ul role="list" aria-labelledby="desktop-gosomewhere-heading-0" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
            {% links_menu %}
          </ul>
        </div>
        <div>
          <p id="desktop-directlinks-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
            Direct links
          </p>
          <ul role="list" aria-labelledby="desktop-directlinks-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
            {% mfl_setting "D" %}
          </ul>
        </div>
      </div>
      {% if user.is_authenticated %}
        <div class="grid grid-cols-4 gap-y-10 gap-x-8">
          <div>
            <p id="desktop-dlperm-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
              DL Permission
            </p>
            <ul role="list" aria-labelledby="desktop-dlperm-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
              {% mfl_setting "NP" %}
            </ul>
          </div>
          {% if user.is_staff %}
            <div>
              <p id="desktop-dlstaff-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
                DL Staff
              </p>
              <ul role="list" aria-labelledby="desktop-dlstaff-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                {% mfl_setting "NS" %}
              </ul>
            </div>
          {% endif %}
          {% if user.is_superuser %}
            <div>
              <p id="desktop-dladminlists-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
                DL Admin Lists
              </p>
              <ul role="list" aria-labelledby="desktop-dladminlists-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                {% mfl_setting "NAL" %}
              </ul>
            </div>
            <div>
              <p id="desktop-dladmin-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
                DL Admin
              </p>
              <ul role="list" aria-labelledby="desktop-dladmin-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                {% mfl_setting "NA" %}
              </ul>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% else %}
    <div class="flex col-2 gap-y-10 gap-x-8 pt-10 pb-12">
      <div class="flex-none gap-y-10 gap-x-8">
        <div>
          <p id="desktop-featured-heading-0" class="font-medium text-gray-900 dark:text-jumbo-100">
            Featured
          </p>
          <ul role="list" aria-labelledby="desktop-featured-heading-0" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
            {% featured_post_list %}
          </ul>
        </div>
      </div>
      <div>
        <p id="desktop-superfeatured-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
          Super Featured
        </p>
        <ul role="list" aria-labelledby="desktop-superfeatured-heading" class="grid grid-cols-3 gap-x-4 mt-6 sm:mt-4">
          {% super_featured_post_list %}
          {% super_featured_page_list %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endblock menuu %}
