{% load links_menu menu_footer_set featured_post featured_page %}

{% if menu == "Main" %}
  <div x-show="tab === 'main'" class="px-4 pt-10 pb-6 space-y-12" role="tabpanel" tabindex="0">
    <div class="grid grid-cols-1 items-start gap-y-10 gap-x-6">
      <div class="grid grid-cols-1 gap-y-10 gap-x-6">
        <div>
          <p id="mobile-gosomewhere-heading-0" class="font-medium text-gray-950 dark:text-jumbo-100">
            Go somewhere
          </p>
          <ul role="list" aria-labelledby="mobile-gosomewhere-heading-0" class="mt-6 space-y-6">
            {% links_menu %}
          </ul>
        </div>
        {% mfl_setting "D" %}
      </div>
      {% if user.is_authenticated %}
        <div class="grid grid-cols-1 gap-y-10 gap-x-4">
          {% mfl_setting "NP" %}

          {% if user.is_staff %}
            {% mfl_setting "NS" %}
          {% endif %}

          {% if user.is_superuser %}
            {% mfl_setting "NAL" %}
            {% mfl_setting "NA" %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% else %}
  <div x-show="tab === 'featured'" class="px-4 pt-10 pb-6 space-y-12" role="tabpanel" tabindex="0">
    <div class="grid grid-cols-1 items-start gap-y-10 gap-x-6">
      <div class="grid grid-cols-1 gap-y-10 gap-x-6">
        <div>
          <p id="mobile-superfeatured-heading" class="font-medium text-gray-950 dark:text-jumbo-100">
            Super Featured
          </p>
          <ul role="list" aria-labelledby="mobile-superfeatured-heading" class="mt-6 space-y-6">
            {% super_featured_page_list %}
            {% super_featured_post_list %}
          </ul>
        </div>
        <div>
          <p id="mobile-featured-heading-1" class="font-medium text-gray-950 dark:text-jumbo-100">
            Featured
          </p>
          <ul role="list" aria-labelledby="mobile-featured-heading-1" class="mt-6 space-y-6">
            {% featured_page_list %}
            {% featured_post_list %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endif %}
