{% load static links_menu theme_buttons menu_footer_set %}

<div class="relative" x-data="{ open: false, focus: false }" x-init="init()" @keydown.escape="onEscape" @close-popover-group.window="onClosePopoverGroup">
  <div class="absolute inset-0 shadow z-30 pointer-events-none" aria-hidden="true"></div>
  <div class="relative z-20">
    <div class="max-w-7xl mx-auto flex justify-between items-center px-4 2xl:px-0 py-5 sm:py-4 md:justify-start md:space-x-10">
      <div>
        <a href="{% url 'blog:post_list' %}" class="flex">
          <span class="sr-only">Home page</span>
          <img class="h-8 w-auto sm:h-10" width="2.5rem" height="2.5rem" src="{% static 'khoBlog/img/RuthinkkTooBig.webp' %}" alt="Khodok's Logo">
        </a>
      </div>
      {% theme_button "darkLightm" %}
      <div class="-mr-2 -my-2 md:hidden">
        <button type="button" class="rounded-xl p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-jumbo-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cornflower-500 dark:focus:ring-cornflower-400/75" @click="open=!open" @mousedown="if (open) $event.preventDefault()" aria-expanded="true" :aria-expanded="open.toString()">
          <span class="sr-only">Open menu</span>
          <svg class="h-6 w-6" x-description="Heroicon name: outline/menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
      <div class="hidden md:flex-1 md:flex md:items-center md:justify-between">
        <nav class="flex space-x-10" x-data="menu" x-init="init()">
          {% include 'tailwind/menu_flyout.html' %}
          {% include 'tailwind/facts_flyout.html' %}

          {% if user.is_superuser %}
            <a href="{% url 'admin:index' %}" class="text-base font-medium text-gray-500 dark:text-jumbo-50 hover:underline">
              Admin
            </a>

            <a href="https://eu.pythonanywhere.com" class="text-base font-medium text-gray-500 dark:text-jumbo-50 hover:underline">
              Host
            </a>
          {% endif %}
        </nav>
        <div class="flex items-center md:ml-12">
          {% if not user.is_authenticated %}
            <a href="{% url 'account_login' %}" class="text-xs lg:text-base font-medium text-gray-500 dark:text-jumbo-50 hover:underline">
              Log in
            </a>
            <a href="{% url 'accounts:signup' %}" class="ml-8 inline-flex items-center justify-center px-3 py-2 lg:px-4 lg:py-2 border border-transparent rounded-xl shadow-sm text-xs lg:text-base font-medium text-white bg-cornflower-600 hover:bg-cornflower-700">
              Sign up
            </a>
          {% else %}
            <a href="{% url 'account_logout' %}" class="text-xs lg:text-base font-medium text-gray-500 dark:text-jumbo-50 hover:underline">
              Log out
            </a>
            <a href="{% url 'accounts:profile' slug=user.slug %}" class="ml-8 inline-flex items-center justify-center px-3 py-2 border border-transparent rounded-xl shadow-sm text-xs lg:text-base font-medium text-white bg-cornflower-600 hover:bg-cornflower-700">
              Your profile
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div x-show="open" x-transition:enter="duration-200 ease-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95" x-description="Mobile menu, show/hide based on mobile menu state." class="absolute z-30 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden" x-ref="panel" @click.away="open = false">
    <div class="rounded-2xl shadow-lg ring-1 ring-black ring-opacity-5 bg-white dark:bg-jumbo-800 divide-y-2 divide-gray-50 dark:divide-jumbo-200">
      <div class="pt-5 pb-6 px-5 sm:pb-8">
        <div class="flex items-center justify-between">
          <div>
            <img class="h-8 w-auto" width="2rem" height="2rem" src="{% static 'khoBlog/img/RuthinkkTooBig.webp' %}" alt="Khodok's Logo">
          </div>
          <div class="-mr-2">
            <button type="button" class="bg-white dark:bg-jumbo-700 rounded-xl p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-jumbo-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cornflower-500 dark:focus:ring-cornflower-400/75" @click="open=false">
              <span class="sr-only">Close menu</span>
              <svg class="h-6 w-6" x-description="Heroicon name: outline/x" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="mt-6 sm:mt-8">
          <nav>
            <div class="grid gap-4 grid-cols-2">
              {% links_menu urls "mobile" %}
            </div>
          </nav>
        </div>
      </div>
      <div class="py-6 px-5">
        <div class="grid grid-cols-2 gap-4">
          {% mfl_setting default "mobile" "D" %}
          {% mfl_setting default "mobile" "NP" %}
          {% mfl_setting default "mobile" "NS" %}
          {% mfl_setting default "mobile" "NA" %}
        </div>
        <div class="mt-6">
          {% if not user.is_authenticated %}
            <a href="{% url 'accounts:signup' %}" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-xl shadow-sm text-base font-medium text-white bg-cornflower-600 hover:bg-cornflower-700">
              Sign up
            </a>
            <p class="mt-6 text-center text-base font-medium text-gray-500">
              <a href="{% url 'account_login' %}" class="text-cornflower-600 hover:text-cornflower-500 dark:text-jumbo-200 dark:hover:text-jumbo-300">
                Log in
              </a>
            </p>
          {% else %}
            <a href="{% url 'accounts:profile' slug=user.slug %}" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-xl shadow-sm text-base font-medium text-white bg-cornflower-600 hover:bg-cornflower-700">
              Your profile
            </a>
            <p class="mt-6 text-center text-base font-medium text-gray-500">
              <a href="{% url 'account_logout' %}" class="text-cornflower-600 hover:text-cornflower-500 dark:text-jumbo-200 dark:hover:text-jumbo-300">
                Log out
              </a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
