{% load static links_menu menu_footer_set changelog featured_post featured_page super_buttons %}

<div id="navbar" x-data="{ open: false }" @keydown.window.escape="open = false" class="bg-gray-50 dark:bg-jumbo-900">
  <!-- Mobile menu -->
  <div x-show="open" class="relative z-50 lg:hidden" x-description="Off-canvas menu for mobile, show/hide based on off-canvas menu state." x-ref="dialog" aria-modal="true" style="display: none;">

    <div x-transition:enter="transition-opacity ease-linear duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition-opacity ease-linear duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" x-description="Off-canvas menu backdrop, show/hide based on off-canvas menu state." class="fixed inset-0 bg-black bg-opacity-25" style="display: none;"></div>

    <div class="fixed inset-0 flex z-50">
      <div x-show="open" x-transition:enter="transition ease-in-out duration-300 transform" x-transition:enter-start="-translate-x-full" x-transition:enter-end="translate-x-0" x-transition:leave="transition ease-in-out duration-300 transform" x-transition:leave-start="translate-x-0" x-transition:leave-end="-translate-x-full" x-description="Off-canvas menu, show/hide based on off-canvas menu state." class="relative max-w-xs w-full bg-gray-50 dark:bg-jumbo-900 shadow-xl pb-12 flex flex-col overflow-y-auto" @click.away="open = false" style="display: none;">
        <div class="px-4 pt-5 pb-2 flex">
          <button type="button" class="-m-2 p-2 rounded-md inline-flex items-center justify-center hover:bg-gray-300 dark:hover:bg-jumbo-700" @click="open = false">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" x-description="Heroicon name: outline/x" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>

        <div x-data="{ tab: 'main' }" class="mt-2">
          <div class="border-b border-gray-200 dark:border-jumbo-700">
            <div class="-mb-px flex px-4 space-x-8" aria-orientation="horizontal" role="tablist">
              <button x-on:click.prevent="tab = 'main'" class="border-transparent flex-1 whitespace-nowrap py-4 px-1 border-b-2 text-base font-medium" :class="{ 'border-cornflower-600 text-cornflower-600 dark:border-cornflower-300 dark:text-cornflower-300': tab === 'main', 'border-transparent': !(tab === 'main') }">Main</button>

              <button x-on:click.prevent="tab = 'featured'" class="border-transparent flex-1 whitespace-nowrap py-4 px-1 border-b-2 text-base font-medium" :class="{ 'border-cornflower-600 text-cornflower-600 dark:border-cornflower-300 dark:text-cornflower-300': tab === 'featured', 'border-transparent': !(tab === 'featured') }">Featured</button>
            </div>
          </div>

          <div x-show="tab === 'main'" class="px-4 pt-10 pb-6 space-y-12" role="tabpanel" tabindex="0">
            <div class="grid grid-cols-1 items-start gap-y-10 gap-x-6">
              <div class="grid grid-cols-1 gap-y-10 gap-x-6">
                <div>
                  <p id="mobile-gosomewhere-heading-0" class="font-medium text-gray-900 dark:text-jumbo-100">
                    Go somewhere
                  </p>
                  <ul role="list" aria-labelledby="mobile-gosomewhere-heading-0" class="mt-6 space-y-6">
                    {% links_menu %}
                  </ul>
                </div>
                <div>
                  <p id="mobile-directlinks-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
                    Direct links
                  </p>
                  <ul role="list" aria-labelledby="mobile-directlinks-heading" class="mt-6 space-y-6">
                    {% mfl_setting "D" %}
                  </ul>
                </div>
              </div>
              {% if user.is_authenticated %}
                <div class="grid grid-cols-1 gap-y-10 gap-x-4">
                  <div>
                    <p id="desktop-dlperm-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
                      DL Permission
                    </p>
                    <ul role="list" aria-labelledby="desktop-dlperm-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                      {% mfl_setting "NP" %}
                    </ul>
                  </div>
                  {% if user.is_staff %}
                    <div>
                      <p id="desktop-dlstaff-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
                        DL Staff
                      </p>
                      <ul role="list" aria-labelledby="desktop-dlstaff-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                        {% mfl_setting "NS" %}
                      </ul>
                    </div>
                  {% endif %}
                  {% if user.is_superuser %}
                    <div>
                      <p id="desktop-dladminlists-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
                        DL Admin Lists
                      </p>
                      <ul role="list" aria-labelledby="desktop-dladminlists-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                        {% mfl_setting "NAL" %}
                      </ul>
                    </div>
                    <div>
                      <p id="desktop-dladmin-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
                        DL Admin
                      </p>
                      <ul role="list" aria-labelledby="desktop-dladmin-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                        {% mfl_setting "NA" %}
                      </ul>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>

          <div x-show="tab === 'featured'" class="px-4 pt-10 pb-6 space-y-12" role="tabpanel" tabindex="0">
            <div class="grid grid-cols-1 items-start gap-y-10 gap-x-6">
              <div class="grid grid-cols-1 gap-y-10 gap-x-6">
                <div>
                  <p id="mobile-featured-heading-1" class="font-medium text-gray-900 dark:text-jumbo-100">
                    Featured
                  </p>
                  <ul role="list" aria-labelledby="mobile-featured-heading-1" class="mt-6 space-y-6">
                    {% featured_post_list %}
                  </ul>
                </div>
                <div>
                  <p id="mobile-superfeatured-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
                    Super Featured
                  </p>
                  <ul role="list" aria-labelledby="mobile-superfeatured-heading" class="mt-6 space-y-6">
                    {% super_featured_post_list %}
                    {% super_featured_page_list %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="border-t border-gray-200 dark:border-jumbo-700 py-6 px-4 space-y-6">
          {% if not user.is_authenticated %}
            <div class="flow-root">
              <a href="{% url 'account_signup' %}" class="-m-2 p-2 block font-medium text-gray-900 dark:text-jumbo-100">Create an account</a>
            </div>
            <div class="flow-root">
              <a href="{% url 'account_login' %}" class="-m-2 p-2 block font-medium text-gray-900 dark:text-jumbo-100">Sign in</a>
            </div>
          {% else %}
            <div class="flow-root">
              <a href="{{ user.get_absolute_url}}" class="-m-2 p-2 block font-medium text-gray-900 dark:text-jumbo-100">Profile</a>
            </div>
            <div class="flow-root">
              <a href="{% url 'account_logout' %}" class="-m-2 p-2 block font-medium text-gray-900 dark:text-jumbo-100">Logout</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <header class="relative">
    <nav aria-label="Top">
      <!-- navigation -->
      <div class="bg-gray-50 dark:bg-jumbo-900">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="border-b border-gray-200 dark:border-jumbo-700">
            <div class="h-16 flex items-center justify-between">
              <!-- Logo (lg+) -->
              <div class="hidden lg:flex lg:items-center">
                <a href="{% url 'blog:post_list' %}">
                  <span class="sr-only">Home page</span>
                  <img class="h-8 w-auto sm:h-10" width="2.5rem" height="2.5rem" src="{% static 'khoBlog/img/RuthinkkTooBig.webp' %}" loading="lazy" alt="Khodok's Logo">
                </a>
              </div>

              <div class="hidden h-full lg:flex">
                <!-- Mega menus -->
                <div class="ml-8 z-50">
                  <div class="h-full flex justify-center space-x-8">
                    <div class="flex" x-data="{ open: false, focus: false }" @keydown.window.escape="open = false" @close-popover-group.window="onClosePopoverGroup">
                      <div class="relative flex">
                        <button type="button" x-state:on="Item active" x-state:off="Item inactive" class="group flyout_button" @click="open=!open" @mousedown="if (open) $event.preventDefault()" aria-expanded="false" :aria-expanded="open.toString()" :class="{ 'border-cornflower-600 text-cornflower-600 dark:border-cornflower-300 dark:text-cornflower-300': open, 'border-transparent': !(open) }">
                          Main
                        </button>
                      </div>
                      <div x-show="open" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" x-description="'Main' mega menu, show/hide based on flyout menu state." class="absolute top-full inset-x-0 text-gray-900 dark:text-jumbo-200 sm:text-sm" x-ref="panel" @click.away="open = false" style="display: none;">
                        <!-- Presentational element used to render the bottom shadow, if we put the shadow on the actual panel it pokes out the top, so we use this shorter element to hide the top of the shadow -->
                        <div class="absolute inset-0 top-1/2 bg-white dark:bg-jumbo-900 shadow" aria-hidden="true"></div>
                        <div class="relative bg-white dark:bg-jumbo-900">
                          <div class="max-w-7xl mx-auto px-8">
                            <div class="grid grid-cols-2 items-start gap-y-10 gap-x-8 pt-10 pb-12">
                              <div class="grid grid-cols-2 gap-y-10 gap-x-8">
                                <div>
                                  <p id="desktop-gosomewhere-heading-0" class="font-medium text-gray-900 dark:text-jumbo-100">
                                    Go somewhere
                                  </p>
                                  <ul role="list" aria-labelledby="desktop-gosomewhere-heading-0" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                                    {% links_menu %}
                                  </ul>
                                </div>
                                <div>
                                  <p id="desktop-directlinks-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
                                    Direct links
                                  </p>
                                  <ul role="list" aria-labelledby="desktop-directlinks-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                                    {% mfl_setting "D" %}
                                  </ul>
                                </div>
                              </div>
                              {% if user.is_authenticated %}
                                <div class="grid grid-cols-4 gap-y-10 gap-x-8">
                                  <div>
                                    <p id="desktop-dlperm-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
                                      DL Permission
                                    </p>
                                    <ul role="list" aria-labelledby="desktop-dlperm-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                                      {% mfl_setting "NP" %}
                                    </ul>
                                  </div>
                                  {% if user.is_staff %}
                                    <div>
                                      <p id="desktop-dlstaff-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
                                        DL Staff
                                      </p>
                                      <ul role="list" aria-labelledby="desktop-dlstaff-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                                        {% mfl_setting "NS" %}
                                      </ul>
                                    </div>
                                  {% endif %}
                                  {% if user.is_superuser %}
                                    <div>
                                      <p id="desktop-dladminlists-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
                                        DL Admin Lists
                                      </p>
                                      <ul role="list" aria-labelledby="desktop-dladminlists-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                                        {% mfl_setting "NAL" %}
                                      </ul>
                                    </div>
                                    <div>
                                      <p id="desktop-dladmin-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
                                        DL Admin
                                      </p>
                                      <ul role="list" aria-labelledby="desktop-dladmin-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                                        {% mfl_setting "NA" %}
                                      </ul>
                                    </div>
                                  {% endif %}
                                </div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="flex" x-data="{ open: false, focus: false }" @keydown.window.escape="open = false" @close-popover-group.window="onClosePopoverGroup">
                      <div class="relative flex">
                        <button type="button" x-state:on="Item active" x-state:off="Item inactive" class="group flyout_button" @click="open=!open" @mousedown="if (open) $event.preventDefault()" aria-expanded="false" :aria-expanded="open.toString()" :class="{ 'border-cornflower-600 text-cornflower-600 dark:border-cornflower-300 dark:text-cornflower-300': open, 'border-transparent': !(open) }">
                          Featured
                        </button>
                      </div>
                      <div x-show="open" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" x-description="'Featured' mega menu, show/hide based on flyout menu state." class="absolute top-full inset-x-0 text-gray-900 dark:text-jumbo-200 sm:text-sm" x-ref="panel" @click.away="open = false" style="display: none;">
                        <!-- Presentational element used to render the bottom shadow, if we put the shadow on the actual panel it pokes out the top, so we use this shorter element to hide the top of the shadow -->
                        <div class="absolute inset-0 top-1/2 bg-white dark:bg-jumbo-900 shadow" aria-hidden="true"></div>
                        <div class="relative bg-white dark:bg-jumbo-900">
                          <div class="max-w-7xl mx-auto px-8">
                            <div class="flex col-2 gap-y-10 gap-x-8 pt-10 pb-12">
                              <div class="flex-none gap-y-10 gap-x-8">
                                <div>
                                  <p id="desktop-featured-heading-0" class="font-medium text-gray-900 dark:text-jumbo-100">
                                    Featured
                                  </p>
                                  <ul role="list" aria-labelledby="desktop-featured-heading-0" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                                    {% featured_post_list %}
                                  </ul>
                                </div>
                              </div>
                              <div>
                                <p id="desktop-superfeatured-heading" class="font-medium text-gray-900 dark:text-jumbo-100">
                                  Super Featured
                                </p>
                                <ul role="list" aria-labelledby="desktop-superfeatured-heading" class="grid grid-cols-3 gap-x-4 mt-6 sm:mt-4">
                                  {% super_featured_post_list %}
                                  {% super_featured_page_list %}
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Mobile menu and search (lg-) -->
              <div class="flex-1 flex items-center lg:hidden">
                <button type="button" x-description="Mobile menu toggle, controls the 'mobileFeatureduOpen' state." class="-ml-2 p-2 rounded-md hover:bg-gray-300 dark:hover:bg-jumbo-700" @click="open = true">
                  <span class="sr-only">Open menu</span>
                  <svg class="h-6 w-6" x-description="Heroicon name: outline/menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
                  </svg>
                </button>
              </div>

              <!-- Logo (lg-) -->
              <a href="{% url 'blog:post_list' %}" class="lg:hidden">
                <span class="sr-only">Home page</span>
                <img class="h-8 w-auto sm:h-10" width="2.5rem" height="2.5rem" src="{% static 'khoBlog/img/RuthinkkTooBig.webp' %}" loading="lazy" alt="Khodok's Logo">
              </a>

              <div class="flex-1 flex items-center justify-end">
                <div class="flex items-center lg:ml-8">
                  <div class="flex space-x-8">
                    <section class="hidden md:flex" x-cloak x-data="{ open: false }">
                      <button class="text-base font-medium text-gray-500 dark:text-jumbo-50 hover:underline" @click="open=!open">Latest changes</button>

                      <div @keydown.window.escape="open = false" x-show="open" class="relative z-50" aria-labelledby="slide-over-title" x-ref="dialog" aria-modal="true">
                        <div x-description="Background backdrop, show/hide based on slide-over state." class="fixed inset-0"></div>

                        <div class="fixed inset-0 overflow-hidden">
                          <div class="absolute inset-0 overflow-hidden">
                            <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
                              <div x-show="open" x-transition:enter="transition ease-in-out duration-500 sm:duration-700" x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0" x-transition:leave="transition ease-in-out duration-500 sm:duration-700" x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-full" class="pointer-events-auto w-screen max-w-md" x-description="Slide-over panel, show/hide based on slide-over state." @click.away="open = false">
                                <div class="flex h-full flex-col bg-gray-50 dark:bg-jumbo-800 py-6 shadow-xl">
                                  <div class="px-4 sm:px-6">
                                    <div class="flex items-start justify-between">
                                      <div class="text-lg font-medium text-gray-900 dark:text-jumbo-100" id="slide-over-title">
                                        Changelog
                                      </div>
                                      <div class="ml-3 flex h-7 items-center">
                                        <button type="button" class="bg-gray-50 dark:bg-jumbo-800 rounded-xl p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-200 dark:hover:bg-jumbo-700 dark:text-jumbo-200 dark:hover:text-jumbo-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cornflower-500 dark:focus:ring-cornflower-400" @click="open = false">
                                          <span class="sr-only">Close panel</span>
                                          <svg class="h-6 w-6" x-description="Heroicon name: outline/x" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                                          </svg>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="relative mt-6 flex-1 px-4 sm:px-6">
                                    {% changelog %}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="flex">
                      {% include 'tailwind/theme_button.html' %}
                    </section>
                    <section class="hidden lg:flex">
                      {% user_auth_sb user %}
                    </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
