{% load read_time comments heroicons %}

<div class="sr-only">Details</div>
<article class="space-y-5">
  <section class="flex items-center space-x-2">
    {% heroicon_mini 'eye' class="h-5 w-5 text-gray-400 dark:text-jumbo-100" %}
    {% if object.pub_date and not object.withdrawn %}
      {% if object.was_published_recently %}
        <span class="text-tradewind-800 text-sm font-medium">New Post</span>
      {% elif object.is_scheduled %}
        <a class="text-fuchsia-400 text-sm font-medium hover:underline" href="{% url 'blog:post_scheduled_list' %}">Scheduled</a>
      {% else %}
        <span class="text-gray-500 dark:text-jumbo-50 text-sm font-medium">Published</span>
      {% endif %}
    {% elif not object.pub_date %}
      <a class="text-slate-500 dark:text-slate-300 text-sm font-medium hover:underline" href="{% url 'blog:post_draft_list' %}">Draft</a>
    {% else %}
      <a class="text-flamingo-600 text-sm font-medium hover:underline" href="{% url 'blog:post_withdrawn_list' %}">Withdrawn</a>
    {% endif %}
  </section>
  <section class="flex items-center space-x-2">
    {% heroicon_mini 'calendar' class="h-5 w-5 text-gray-400 dark:text-jumbo-100" %}
    <a href="{% url 'blog:archive_day' year=object.created_date|date:'Y' month=object.created_date|date:'M' day=object.created_date|date:'d' %}" class="text-gray-900 dark:text-jumbo-50 text-sm font-medium hover:underline">
      Created:
      <time datetime="{{ object.created_date|date:"c" }}">
        {{ object.created_date|date:"Y\-m\-d \a\t H:i:s" }}
      </time>
    </a>
  </section>
  {% if object.pub_date %}
    <section class="flex items-center space-x-2">
      {% heroicon_mini 'calendar' class="h-5 w-5 text-gray-400 dark:text-jumbo-100" %}
      <a href="{% url 'blog:archive_day' year=object.pub_date|date:'Y' month=object.pub_date|date:'M' day=object.pub_date|date:'d' %}" class="text-gray-900 dark:text-jumbo-50 text-sm font-medium hover:underline">
        Published:
        <time datetime="{{ object.pub_date|date:"c" }}">
          {{ object.pub_date|date:"Y\-m\-d \a\t H:i:s" }}
        </time>
      </a>
    </section>
  {% endif %}
  <section class="flex items-center space-x-2">
    {% heroicon_mini 'calendar' class="h-5 w-5 text-gray-400 dark:text-jumbo-100" %}
    <a href="{% url 'blog:archive_day' year=object.mod_date|date:'Y' month=object.mod_date|date:'M' day=object.mod_date|date:'d' %}" class="text-gray-900 dark:text-jumbo-50 text-sm font-medium hover:underline">
      Updated:
      <time datetime="{{ object.mod_date|date:"c" }}">
        {{ object.mod_date|date:"Y\-m\-d \a\t H:i:s" }}
      </time>
    </a>
  </section>
  <section class="flex items-center space-x-2">
    {% heroicon_mini 'share' class="h-5 w-5 text-gray-400 dark:text-jumbo-100" %}
    <button id="vanity_button" class="text-sm font-medium hover:underline" onClick="copyToClipboard()">Copy permalink <span class="text-xs">(<span id="vanity">{{ object.vanity_url }}</span>)</span></button>
  </section>
  <section class="flex items-center space-x-2">
    {% heroicon_mini 'clock' class="h-5 w-5 text-gray-400 dark:text-jumbo-100" %}
    <span class="text-gray-900 dark:text-jumbo-50 text-sm font-medium">
      {{ object.body|readtime }}
    </span>
  </section>
  <section class="flex items-center space-x-2">
    {% heroicon_mini 'hand-thumb-up' class="h-5 w-5 text-gray-400 dark:text-jumbo-100" %}
    <span class="text-gray-900 dark:text-jumbo-50 text-sm font-medium">{{ object.total_likes }}
      like{{ object.total_likes|pluralize:'s' }}</span>
  </section>

  {% get_comment_count for post as comment_count %}

  <section class="flex items-center space-x-2">
    {% heroicon_mini 'chat-bubble-bottom-center-text' class="h-5 w-5 text-gray-400 dark:text-jumbo-100" %}
    <a href="#comments" class="text-gray-900 dark:text-jumbo-50 text-sm font-medium hover:underline">{{ comment_count }}
      comment{{ comment_count|pluralize:'s' }}</a>
  </section>
</article>

<article class="mt-6 border-t border-gray-200 dark:border-jumbo-200 py-6 space-y-8">
  {% if object.url_to_article %}
    <section>
      <div class="text-sm font-medium text-gray-500 dark:text-jumbo-100">Linked article</div>
      <a href="{{ object.url_to_article }}" class="text-sm font-medium text-gray-900 dark:text-jumbo-50 hover:underline break-words">
        {% firstof object.url_to_article_title object.url_to_article %}
      </a>
    </section>
  {% endif %}

  <section>
    <div class="text-sm font-medium text-gray-500 dark:text-jumbo-100">Categories</div>
    <ul role="list" class="mt-2 leading-8">
      {% for category in object.categories.all %}
        {% if not category.withdrawn or user.is_superuser and not user.secure_mode %}
          {% spaceless %}
            <li class="inline">
              <a href="{% url 'blog:post_category_list' slug=category.slug %}" class="relative inline-flex items-center rounded-full border border-jumbo-300 px-3 py-0.5">
                <div class="text-sm font-medium text-gray-900 dark:text-jumbo-50">{{ category }}</div>
              </a>
              <!-- space -->
            </li>
          {% endspaceless %}
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <section>
    <div class="text-sm font-medium text-gray-500 dark:text-jumbo-100">Tags</div>
    <ul role="list" class="mt-2 leading-8">
      {% if not user.is_superuser and not user.secure_mode %}
        {% for tag in object.get_tags %}
          {% spaceless %}
            <li class="inline">
              <a href="{% url 'custom_taggit:post_tagged_with' slug=tag.slug %}" class="relative inline-flex items-center rounded-full border px-3 py-0.5" style="background-color: {{ tag.color }}33; border-color: {{ tag.color }}">
                <div class="absolute flex-shrink-0 flex items-center justify-center">
                  <span class="h-1.5 w-1.5 rounded-full" style="background-color: {{ tag.color }}" aria-hidden="true"></span>
                </div>
                <div class="ml-3.5 text-sm font-medium" style="color: {{ tag.color }}">{{ tag }}</div>
              </a>
              <!-- space -->
            </li>
          {% endspaceless %}
        {% endfor %}
      {% else %}
        {% for tag in object.get_admin_tags %}
          {% spaceless %}
            <li class="inline">
              <a href="{% url 'custom_taggit:post_tagged_with' slug=tag.slug %}" class="relative inline-flex items-center rounded-full border px-3 py-0.5" style="background-color: {{ tag.color }}33; border-color: {{ tag.color }}">
                <div class="absolute flex-shrink-0 flex items-center justify-center">
                  <span class="h-1.5 w-1.5 rounded-full" style="background-color: {{ tag.color }}" aria-hidden="true"></span>
                </div>
                <div class="ml-3.5 text-sm font-medium" style="color: {{ tag.color }}">{{ tag }}</div>
              </a>
              <!-- space -->
            </li>
          {% endspaceless %}
        {% endfor %}
      {% endif %}
    </ul>
  </section>

  <section>
    <div class="text-sm font-medium text-gray-500 dark:text-jumbo-100">Related content</div>
    <dl class="aside-section">
      {% for e in similar_posts %}
        {% if not e.withdrawn and not e.is_scheduled or user.is_superuser and not user.secure_mode %}
          <div class="aside-content-child">
            <a class="group" href="{{ e.get_absolute_url }}">
              <dt class="text-base font-medium text-cornflower-500 dark:text-jumbo-100 truncate group-hover:underline">
                {{ e }}
              </dt>
              <dd class="mt-1 text-sm text-cornflower-800 dark:text-jumbo-50">
                {{ e.description }}
              </dd>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </dl>
  </section>

  {% if series %}
    <section>
      <div class="text-sm font-medium text-gray-500 dark:text-jumbo-100">Series</div>
      <dl class="aside-section">
        <div class="aside-content-child">
          <a class="group" href="{% url 'blog:post_series_list' slug=object.series.slug %}">
            <dt class="text-base underline group-hover:no-underline font-medium text-cornflower-500 dark:text-jumbo-100 truncate">
              {{ object.series.title }}
            </dt>
            <dd class="mt-1 text-3xl font-semibold text-cornflower-800 dark:text-jumbo-50">
              {% if series.description %}
                {{ series.description }}
                -
              {% endif %}
              ({{ series.all.count }}
              Part series)
            </dd>
          </a>
        </div>
        {% for e in series.all %}
          <div class="aside-content-child">
            {% if not e == object %}
              <a class="group" href="{% url 'blog:post_detail' slug=e.slug %}">
            {% endif %}
              <dt class="text-sm font-medium text-cornflower-500 dark:text-jumbo-100 truncate">
                {% if not e.is_scheduled or user.is_superuser and not user.secure_mode %}
                  {% if not e == object %}
                    <span class="underline group-hover:no-underline text-base">Part #{{ forloop.counter }}:
                  {% else %}
                    {% if e == object %}
                      <div class="italic text-sm">(You are here)</div>
                    {% endif %}
                    <span class="text-base">Part #{{ forloop.counter }}:
                  {% endif %}
                    {{ e }}
                    {% if e.is_scheduled %}
                      <span class="italic">
                        (Coming:
                        {{ e.pub_date|date:'l, d F Y H:i:s' }})
                      </span>
                    {% endif %}
                  {% if not e == object %}
                    </span>
                  {% else %}
                    </span>
                  {% endif %}
                {% else %}
                  <span>Part #{{ forloop.counter }}:
                    {{ e }}
                    {% if e == object %}
                      <span>(You are here)</span>
                    {% endif %}
                    {% if e.is_scheduled %}
                      <span class="italic">
                        (Coming:
                        {{ e.pub_date|date:'l, d F Y H:i:s' }})
                      </span>
                    {% endif %}
                  </span>
                {% endif %}
              </dt>
              <dd class="mt-1 font-semibold text-cornflower-800 dark:text-jumbo-50">
                {{ e.description }}
              </dd>
            {% if not e == object %}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </dl>
    </section>
  {% endif %}

  <section>
    <div class="text-sm font-medium text-gray-500 dark:text-jumbo-100">Stats</div>
    <dl class="aside-section">
      <div class="aside-content-child">
        <dt class="text-sm font-medium text-cornflower-500 dark:text-jumbo-100 truncate">
          Seen
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-cornflower-800 dark:text-jumbo-50">
          {{ object.clicks }}
          time{{ object.clicks|pluralize:'s' }}
        </dd>
      </div>
      <div class="aside-content-child">
        <dt class="text-sm font-medium text-cornflower-500 dark:text-jumbo-100 truncate">
          Randomly chosen
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-cornflower-800 dark:text-jumbo-50">
          {{ object.rnd_choice }}
          time{{ object.rnd_choice|pluralize:'s' }}
        </dd>
      </div>
    </dl>
    <dl class="aside-section">
      <div class="aside-content-child">
        <dt class="text-sm font-medium text-cornflower-500 dark:text-jumbo-100 truncate">
          Post was modified
        </dt>
        <dd class="mt-1 text-3xl font-semibold text-cornflower-800 dark:text-jumbo-50">
          {{ object.history.count }}
          time{{ object.history.count|pluralize:'s' }}
        </dd>
      </div>
    </dl>
  </section>
</article>
