{% load content_type %}

{% for object in objects %}
  <li class="flex">
    <a href="{{ object.get_absolute_url }}" class="group">
      <div class="min-w-0 flex-1">
        <div class="font-medium group-hover:underline text-gray-950 dark:text-jumbo-50 truncate">
          {% firstof object.featured_title object.title %}
        </div>
        <div class="text-xs">{{ object|to_class_name|capfirst }}</div>
        <p class="mt-1 text-sm text-gray-500 dark:text-jumbo-300">
          {{ object.description }}
        </p>
      </div>
    </a>
  </li>
{% endfor %}
