{% if authenticated %}
  {% load content_type heroicons %}

  <section class="mt-4 flex shrink-0 space-x-3 md:mt-0">
    <div class="mx-auto w-full text-right">
      <span class="relative z-0 inline-flex shadow-sm rounded-xl text-left">
        {% if object.get_absolute_like_url or object.get_absolute_dislike_url %}
          {% if not liked %}
            <a href="{{ object.get_absolute_like_url }}" type="button" class="superbutton_main_action">Like</a>
          {% else %}
            <a href="{{ object.get_absolute_dislike_url }}" type="button" class="superbutton_main_action">Dislike</a>
          {% endif %}
        {% endif %}
        {% if admin %}
          <a href="{% firstof object.get_absolute_update_url object.get_absolute_admin_update_url %}" type="button" class="superbutton_main_action">
            Edit {% if object|to_class_name != "customtag" %}{{ object|to_class_name }}{% else %}tag{% endif %}
          </a>
          <span x-data="{ open: false }" @click="open=!open" @keydown.escape.stop="open = false" @click.away="open=false" class="-ml-px relative block">
            <button type="button" class="superbutton_dropdown_button" id="option-menu-button" x-ref="button" @keyup.space.prevent="onButtonEnter()" @keydown.enter.prevent="onButtonEnter()" aria-expanded="false" aria-haspopup="true" x-bind:aria-expanded="open.toString()" @keydown.arrow-up.prevent="onArrowUp()" @keydown.arrow-down.prevent="onArrowDown()">
              <span class="sr-only">Open options</span>
              {% heroicon_mini 'chevron-down' class="w-5 h-5" stroke_width=2 %}
            </button>

            <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95" class="superbutton_dropdown_items" x-ref="menu-items" x-description="Dropdown menu, show/hide based on menu state." role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" @keydown.arrow-up.prevent="onArrowUp()" @keydown.arrow-down.prevent="onArrowDown()" @keydown.tab="open = false" @keydown.enter.prevent="open = false" @keyup.space.prevent="open = false">
              {% if object.get_absolute_publish_url or object.get_absolute_publish_withdrawn_url %}
                {% if not object.pub_date %}
                  <div class="dropdown_item_container" role="none">
                    {% if object.get_absolute_publish_url %}
                      <a class="dropdown_item" href="{{ object.get_absolute_publish_url }}">
                        Publish
                      </a>
                    {% endif %}

                    {% if object.get_absolute_publish_withdrawn_url %}
                      <a class="dropdown_item" href="{{ object.get_absolute_publish_withdrawn_url }}">
                        Publish Withdrawn
                      </a>
                    {% endif %}
                  </div>
                {% endif %}
              {% endif %}

              {% if object.get_absolute_needs_review_url or object.get_absolute_oudated_url %}
                <div class="dropdown_item_container" role="none">
                  {% if object.get_absolute_needs_review_url %}
                    {% if not object.needs_reviewing %}
                      <a class="dropdown_item" href="{{ object.get_absolute_needs_review_url }}">
                        Mark as Needs Reviewing
                      </a>
                    {% else %}
                      <button class="dropdown_item w-full text-left" disabled="disabled">
                        Needs Reviewing
                      </button>
                    {% endif %}
                  {% endif %}
                  {% if object.get_absolute_outdated_url %}
                    {% if not object.is_content_outdated_date %}
                      <a class="dropdown_item" href="{{ object.get_absolute_outdated_url }}">
                        Mark as outdated
                      </a>
                    {% else %}
                      <a class="dropdown_item active" href="{{ object.get_absolute_outdated_url }}">
                        Is outdated
                      </a>
                    {% endif %}
                  {% endif %}
                </div>
              {% endif %}
              {% if object.get_absolute_clone_url %}
                <div class="dropdown_item_container" role="none">
                  <a href="{{ object.get_absolute_define_featured_category_url }}" class="dropdown_item">Define featured category</a>
                  <a href="{{ object.get_absolute_clone_url }}" class="dropdown_item">Duplicate</a>
                </div>
              {% endif %}
              {% if object.get_absolute_update_url and object.get_absolute_admin_update_url %}
                <div class="dropdown_item_container" role="none">
                  <a class="dropdown_item" href="{{ object.get_absolute_admin_update_url }}">
                    Edit in Admin
                  </a>
                </div>
              {% endif %}
              <div class="dropdown_item_container" role="none">
                <a href="{{ object.get_absolute_delete_url }}" class="dropdown_item">Delete</a>
              </div>
            </div>
          </span>
        {% endif %}
      </span>
    </div>
  </section>
{% endif %}
