{% if container %}
<section class="max-w-7xl mx-auto flex justify-end px-4 2xl:px-0">
{% endif %}
    <button id="{{ position }}" class="switch">
        <span class="rounded-l-full inline-flex h-6 w-3 translate-x-1 translate-y-1 bg-white dark:bg-jumbo-900"></span>
        <span class="rounded-r-full inline-flex h-6 w-3 translate-x-1 translate-y-1 dark:bg-white bg-jumbo-900"></span>
    </button>
    <label for="{{ position }}" class="cursor-pointer sr-only"></label>
{% if container %}
</section>
{% endif %}
