<div x-cloak x-data="{ open: false }" @keydown.escape.stop="open = false" @click.away="open = false" class="relative inline-block text-left z-40 -m-2 p-2">
  <div>
    <button type="button" class="rounded-full flex items-center focus:outline-none focus:ring-2 focus:ring-offset-2 dark:focus:ring-offset-jumbo-900 focus:ring-cornflower-500 {% if object.is_superuser and not object.secure_mode %}text-gray-500 dark:text-jumbo-100 hover:text-gray-600 dark:hover:text-jumbo-200{% else %}text-flamingo-500 hover:text-flamingo-600{% endif %}" id="color-scheme-button" x-ref="button" @click="open=!open" @keyup.space.prevent="onButtonEnter()" @keydown.enter.prevent="onButtonEnter()" aria-expanded="true" aria-haspopup="true" x-bind:aria-expanded="open.toString()" @keydown.arrow-up.prevent="onArrowUp()" @keydown.arrow-down.prevent="onArrowDown()">
      <span class="sr-only">Open accounts menu</span>
      <svg class="w-6 h-6" x-description="Heroicon name: outline/user" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
      </svg>
  </div>

  <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95" class="origin-top-right absolute right-0 mt-7 w-56 superbutton_dropdown_items" x-ref="menu-items" x-description="Dropdown menu, show/hide based on menu state." role="menu" aria-orientation="vertical" aria-labelledby="color-scheme-button" tabindex="-1" @keydown.arrow-up.prevent="onArrowUp()" @keydown.arrow-down.prevent="onArrowDown()" @keydown.tab="open = false" @keydown.enter.prevent="open = false" @keyup.space.prevent="open = false">
    {% if object.is_authenticated %}
      <div class="dropdown_item_container" role="none">
        <a href="{{ object.get_absolute_url }}" class="theme_option w-full flex dropdown_item" role="button" @click="open = false">Profile</a>
        <a href="{% url 'account_logout' %}" class="theme_option w-full flex dropdown_item" role="button" @click="open = false">Log out</a>
      </div>

      {% if object.is_superuser %}
        <div class="dropdown_item_container" role="none">
          <a href="{{ object.get_absolute_toggle_secure_mode_status_url }}" class="theme_option w-full flex dropdown_item" >Secure Mode Status</a>
        </div>
      {% endif %}
    {% else %}
      <div class="dropdown_item_container" role="none">
        <a href="{% url 'account_login' %}" class="theme_option w-full flex dropdown_item" role="button" @click="open = false">Log in</a>
        <a href="{% url 'account_signup' %}" class="theme_option w-full flex dropdown_item" role="button" @click="open = false">Sign up</a>
      </div>
    {% endif %}
  </div>
</div>
