@import 'variables';

@import 'mixins';

$primary: cv(primary);
$secondary: cv(secondary);
$success: cv(success);
$danger: cv(danger);
$warning: cv(warning);
$info: cv(info);

$dark: $palette_dark;

$link-color: $link-color;
$link-hover-color: $link-hover-color;

$font-family-sans-serif: $sans-serif;
$font-family-monospace: $monospace;

@import '../../vendor/node_modules/bootstrap/scss/bootstrap.scss';

/* Elements personalization */

.active {
    @include color('text');
    @include background-color('bg');
    @include border-color('border-color');
}
// .active {
//     background-color: $palette_dark !important;
//     border-color: cv(secondary) !important;
//     color: $white !important;
// }

.nav-link.text-muted:hover {
    text-decoration: underline;
}

.card {
    @include color('text');
    @include background-color('bg');
    @include border-color('border-color');

    & .card-link {
        @include color('link');

        &:hover {
            text-decoration: underline;
        }
    }
}

.modal-content {
    @include color('text');
    @include background-color('bg');
    @include border-color('border-color');

    & .modal-footer,
    & .modal-header,
    & .modal-body,
    & .nav-tabs {
        @include border-color('border-color');
    }
}

.navbar {
    @include background-color('bg');
    @include border-color('border-color');

    & .nav-link,
    & .navbar-brand {
        @include color('menu-link');

        &:hover {
            text-decoration: underline;
        }
    }
}

form {
    & *,
    & .form-control {
        @include color('text');
        @include background-color('bg');
    }

    & .input-group-text {
        border: 1px solid;
        @include border-color('border-color');
    }

    & .form-control {
        border: 1px solid;
        @include border-color('border-color');

        &:hover,
        &:active {
            @include color('text');
            @include background-color('bg');
        }
    }
}
