@import 'variables';

$primary: cv(primary);
$secondary: cv(secondary);
$success: cv(success);
$danger: cv(danger);
$warning: cv(warning);
$info: cv(info);

$dark: $palette_dark;

$link-color: $link-color;
$link-hover-color: $link-hover-color;

$font-family-sans-serif: $sans-serif;
$font-family-monospace: $monospace;

@import '../../vendor/node_modules/bootstrap/scss/bootstrap.scss';

/* Elements personalization */

.active {
    background-color: $palette_dark !important;
    border-color: cv(secondary) !important;
    color: $white !important;
}

.nav-link.text-muted:hover {
    text-decoration: underline;
}
