@import 'variables';
@import '../../vendor/node_modules/bootstrap/scss/variables';

/* SCSS Mixins */
@import 'mixins';

/* Text and stuff */

// Texte if empty
.empty {
    @include rfs(1.5rem);
    color: $white;
}

// Ellipsis
.text-ellipsis {
    @include ellipsis;
}

// Word Wrap
.text-word-wrap {
    @include word-wrap;
}

// Large text
.text-large {
    @include rfs(1.25rem);
}

// Medium text
.text-medium {
    @include rfs(1rem);
}

// Small text
.text-small {
    @include rfs(0.75rem);
}

// White text
.text-white {
    color: $white;
}

// Black text
.text-black {
    color: $black;
}

/* Génération de classes par couleur */
// Palette
@each $name, $color in $colors {

    .gradient-#{$name} {
        @include khoblog-gradient(cv($color), $color);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .gradient-#{$name}-i {
        @include khoblog-gradient($color, cv($color));
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .gradient-text-#{$name} {
        background: -webkit-radial-gradient(cv($color), $color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .gradient-text-#{$name}-i {
        background: -webkit-radial-gradient($color, cv($color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .btn-#{$name} {
        color: $white;
        background-color: $color;

        &:hover {
            color: $white !important;
            background-color: darken($color, 10%);
        }
    }

    .text-#{$name} {
        color: $color;
    }

    .hr-#{$name} {
        border: 2px solid $color;
    }

    @each $name-variation, $variation in $variations {

        .gradient-#{$name}-#{$name-variation} {
            @include khoblog-gradient(cv($color, $name-variation), $color);
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        
        .gradient-#{$name}-#{$name-variation}-i {
            @include khoblog-gradient($color, cv($color, $name-variation));
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        
        .gradient-text-#{$name}-#{$name-variation} {
            background: -webkit-radial-gradient(cv($color, $name-variation), $color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .gradient-text-#{$name}-#{$name-variation}-i {
            background: -webkit-radial-gradient($color, cv($color, $name-variation));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        .btn-#{$name}-#{$name-variation} {
            color: $white;
            background: cv($color, $name-variation);
            
            &:hover {
                color: $white !important;
            }
        }
        
        .text-#{$name}-#{$name-variation} {
            color: cv($color, $name-variation);
        }
        
        .hr-#{$name}-#{$name-variation} {
            border: 2px solid cv($color, $name-variation);
        }
    }
}
