@import "variables";
@import "../../vendor/node_modules/bootstrap/scss/variables";

/* SCSS Mixins */
@import "mixins";

/* Text and stuff */

// Texte if empty
.empty {
  @include rfs(1.5rem);
  color: $white;
}

// Ellipsis
.text-ellipsis {
  @include ellipsis;
}

// Word Wrap
.text-word-wrap {
  @include word-wrap;
}

// Large text
.text-large {
  @include rfs(1.25rem);
}

// Medium text
.text-medium {
  @include rfs(1rem);
}

// Small text
.text-small {
  @include rfs(0.75rem);
  font-weight: 500;
  font-family: "Montserrat";
}

// White text
.text-white {
  color: $white;
}

// Text inherit
.active .text-inherit {
  color: inherit !important;
}

// Black text
.text-black {
  color: $black;
}

/* Formcards */
.card.formcard {
  border: none !important;

  .card-body {
    padding: 0 !important;
  }
}

.formcard .card-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.formcard .card-footer {
  font-size: 1rem;
  padding-left: 0;
}

.formcard .card-header,
.formcard .card-footer {
  background-color: transparent;
  border: none;
}

// Arrière-plan transparent et blanc
.bg-wt {
  background-color: rgba(255, 255, 255, 0.25);
}

.bg-wt-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-wt-75 {
  background-color: rgba(255, 255, 255, 0.75);
}

.bg-wt-85 {
  background-color: rgba(255, 255, 255, 0.85);
}

// Arrière-plan transparent et noir
.bg-bt {
  background-color: rgba(0, 0, 0, 0.25);
}

/* Infocards */

// Infocard
.card.infocard {
  border: none !important;
  border-radius: 5px;
  margin-left: 0;
  cursor: pointer;
  min-width: 100%;
  width: 100%;
  @include media-breakpoint-up(sm) {
    min-width: 75%;
    width: 75%;
  }
  @include media-breakpoint-up(md) {
    min-width: 50%;
    width: 50%;
  }
  @include media-breakpoint-up(lg) {
    min-width: 37.5%;
    width: 37.5%;
  }
  @include media-breakpoint-up(xl) {
    min-width: 25%;
    width: 25%;
  }
}

// En-tête des infocards
.infocard .card-header h1,
.infocard .card-header h2,
.infocard .card-header h3,
.infocard .card-header h4,
.infocard .card-header h5,
.infocard .card-header h6 {
  display: block;
  @include ellipsis();
  font-weight: bold;
}

.infocard .card-img {
  height: 30%;
  max-height: 30%;
  overflow: hidden;
  object-fit: cover;
}

.infocard .card-header,
.infocard .card-footer {
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

.infocard .card-header {
  border-bottom: 1px solid $white;
}

.infocard .card-footer {
  background-color: transparent;
}

.infocard .card-body {
  background-color: transparent;
}

/* Génération de classes par couleur */
// Palette
@each $name, $color in $colors {
  .gradient-#{$name} {
    @include khoblog-gradient(cv($color), $color);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .gradient-#{$name}-i {
    @include khoblog-gradient($color, cv($color));
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .gradient-text-#{$name} {
    background: -webkit-radial-gradient(cv($color), $color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradient-text-#{$name}-i {
    background: -webkit-radial-gradient($color, cv($color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .btn-#{$name} {
    color: $white;
    background-color: $color;

    &:hover {
      color: $white !important;
      background-color: darken($color, 10%);
    }
  }

  .text-#{$name} {
    color: $color;
  }

  .hr-#{$name} {
    border: 2px solid $color;
  }

  @each $name-variation, $variation in $variations {
    .gradient-#{$name}-#{$name-variation} {
      @include khoblog-gradient(cv($color, $name-variation), $color);
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .gradient-#{$name}-#{$name-variation}-i {
      @include khoblog-gradient($color, cv($color, $name-variation));
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .gradient-text-#{$name}-#{$name-variation} {
      background: -webkit-radial-gradient(cv($color, $name-variation), $color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .gradient-text-#{$name}-#{$name-variation}-i {
      background: -webkit-radial-gradient($color, cv($color, $name-variation));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .btn-#{$name}-#{$name-variation} {
      color: $white;
      background: cv($color, $name-variation);

      &:hover {
        color: $white !important;
      }
    }

    .text-#{$name}-#{$name-variation} {
      color: cv($color, $name-variation);
    }

    .hr-#{$name}-#{$name-variation} {
      border: 2px solid cv($color, $name-variation);
    }
  }
}
