{% load static %}
{% load project_tags %}

<div class="card formcard auth-card">
    <div class="card-body">
        <form action="{{ form_action }}" method="post" novalidate>
            <div class="text-danger">
                {{ form.non_field_errors }}
            </div>

            {% form form %}

            <button type="submit" class="btn btn-primary">{{ title }}</button>
        </form>
    </div>
    <div class="card-footer">
        <p class="text-right">Already have an account? <a href="{% url 'account_login' %}{% if next %}?next={{ next }}{% endif %}" rel="nofollow">Log in</a></p>
    </div>
</div>
