{% extends 'tailwind/base.html' %}
{% load static project_tags compress %}

{% block additional_js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock additional_js %}

{% block additional_css %}
  {% compress css %}
  <link rel="stylesheet" href="{% static 'khoBlog/css/selectize.default.css' %}">
  {% endcompress css %}
{% endblock additional_css %}

{% block content %}
  <form enctype="multipart/form-data" method="post" novalidate="novalidate">
    <div class="text-red-600 dark:text-flamingo-600">
      {{ form.non_field_errors }}
    </div>

    {% form form %}

    <button type="submit" class="flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-cornflower-600 hover:bg-cornflower-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cornflower-500">{{ title }}</button>
  </form>
  {{ form.media }}
{% endblock content %}
