$centPourcent: 100%;
$positionZero: 0;
$important: !important;
$white: #fff;
$black: #000;
$darkGrayBase: #555;
$lightGrayBase: #ddd;
$easeOut: ease-out;
$easeInOut: ease-in-out;

.w3-theme-l5 {
    color: $black $important;
    background-color: #f5f5f5 $important;
}
.w3-theme-l4 {
    color: $black $important;
    background-color: $lightGrayBase $important;
}
.w3-theme-l3 {
    color: $black $important;
    background-color: #bbbbbb $important;
}
.w3-theme-l2 {
    color: $white $important;
    background-color: #989898 $important;
}
.w3-theme-l1 {
    color: $white $important;
    background-color: #767676 $important;
}
.w3-theme-d1 {
    color: $white $important;
    background-color: #4c4c4c $important;
}
.w3-theme-d2 {
    color: $white $important;
    background-color: #434343 $important;
}
.w3-theme-d3 {
    color: $white $important;
    background-color: #3b3b3b $important;
}
.w3-theme-d4 {
    color: $white $important;
    background-color: #323232 $important;
}
.w3-theme-d5 {
    color: $white $important;
    background-color: #2a2a2a $important;
}

.w3-theme-light {
    color: $black $important;
    background-color: #f5f5f5 $important;
}
.w3-theme-dark {
    color: $white $important;
    background-color: #2a2a2a $important;
}
.w3-theme-action {
    color: $white $important;
    background-color: #2a2a2a $important;
}

.w3-theme {
    color: $white $important;
    background-color: $darkGrayBase $important;
}
.w3-text-theme {
    color: $lightGrayBase $important;
}
.w3-border-theme {
    border-color: $darkGrayBase $important;
}

.w3-hover-theme:hover {
    color: $white $important;
    background-color: $darkGrayBase $important;
}
.w3-hover-text-theme:hover {
    color: #777 $important;
    background-color: transparent $important;
}
.w3-hover-border-theme:hover {
    border-color: $darkGrayBase $important;
}

.w3-color-font {
    color: $darkGrayBase;
}

.w3-color-font-l1 {
    color: #999;
}

.w3-leftbar-l1 {
    border-left: 6px solid #999;
}
