{% extends "sub_base.html" %}
{% load bootstrap5 %}

{% block title %} - {{ title }}{% endblock title %}

{% block page_top_title %}
    <h2>{{ title }}</h2>
{% endblock page_top_title %}

{% block content %}
    <form method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary mt-2">Change Password</button>
        {% endbuttons %}
    </form>
{% endblock content %}