{% extends 'tailwind/base.html' %}
{% load socialaccount %}

{% block content %}
  {% if form.accounts %}
    <div class="text-xl">You can sign in to your account using any of the following third party accounts:</div>

    <form method="post" action="{% url 'socialaccount_connections' %}">
      {% csrf_token %}

      <fieldset>
        {% if form.non_field_errors %}
          <div id="errorMsg">{{ form.non_field_errors }}</div>
        {% endif %}

        {% for base_account in form.accounts %}
          {% with base_account.get_provider_account as account %}
            <div class="mb-1">
              <label for="id_account_{{ base_account.id }}">
                <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{ account.get_brand.name }}</span>
                {{ account }}
              </label>
            </div>
          {% endwith %}
        {% endfor %}

        <button type="submit" class="kho-button-forms kho-button-submit-delete">Remove</button>
      </fieldset>
    </form>

  {% else %}
    <p>You currently have no social network accounts connected to this account.</p>
  {% endif %}

  <div class="text-xl mt-2">Add a 3rd Party Account</div>

  {% include "socialaccount/snippets/login_extra.html" %}
  <p><a class="hover:underline no-underline" href="{% provider_login_url 'google' process='connect' next='/' %}">Connect a Gmail Account</a></p>
  <p><a class="hover:underline no-underline" href="{% provider_login_url 'discord' process='connect' next='/'  %}">Connect a Discord Account</a></p>
  <p><a class="hover:underline no-underline" href="{% provider_login_url 'github' process='connect' next='/'  %}">Connect a Github Account</a></p>

{% endblock content %}
