{% extends 'tailwind/base.html' %}
{% load widget_tweaks socialaccount project_tags %}

{% block content %}
  {% if user.id == object.id %}
    <form enctype="multipart/form-data" method="post" novalidate="novalidate">
      {% csrf_token %}

      <div class="non-field-errors">
        {{ form.non_field_errors }}
      </div>

      <div class="hidden-fields-errors">
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field.errors }}
          {{ hidden_field }}
        {% endfor %}
      </div>

      <div class="text-red-600 dark:text-flamingo-600">
        {{ form.non_field_errors }}
      </div>

      <div id="profile-fields">
        <h4 class="mb-0">Basic profile</h4>
        <p class="text-sm">Some basic profile data</p>

        <div id="visible-profile-fields">
          <h5>These fields are shown on your Profile page</h5>

          <div class="field mb-2">
            <div class="form-floating">
              {{ form.username|add_class:"form-control"|attr:"placeholder: Username" }}
              {{ form.username.label_tag }}
            </div>
            {% if form.username.help_text %}
              <span class="text-sm">{{ form.username.help_text }}</span>
            {% endif %}
            {% for error in form.username.errors %}
              <small class="text-red-600 dark:text-flamingo-600">{{ error }}</small>
            {% endfor %}
          </div>

          <div class="field mb-2">
            {{ form.profile_pic.label_tag }}
            {{ form.profile_pic|add_class:"form-control"|attr:"placeholder:Profile picture" }}
            {% if form.profile_pic.help_text %}
              <span class="text-sm">{{ form.profile_pic.help_text }}</span>
            {% endif %}
            {% for error in form.profile_pic.errors %}
              <small class="text-red-600 dark:text-flamingo-600">{{ error }}</small>
            {% endfor %}
          </div>

          <div class="field mb-2">
            <div class="form-floating">
              {{ form.bio|add_class:"form-control"|attr:"placeholder:Bio" }}
              {{ form.bio.label_tag }}
            </div>
            {% if form.bio.help_text %}
              <span class="text-sm">{{ form.bio.help_text }}</span>
            {% endif %}
            {% for error in form.bio.errors %}
              <small class="text-red-600 dark:text-flamingo-600">{{ error }}</small>
            {% endfor %}
          </div>
        </div>

        <hr/>

        <div id="personal-profile-fields">
          <h5>These fields are never shown</h5>

          <div class="field mb-2">
            <div class="input-group">
              <span class="input-group-text">Name</span>
              {{ form.first_name|add_class:"form-control"|attr:"placeholder:First name" }}
              {{ form.last_name|add_class:"form-control"|attr:"placeholder:Last name" }}
            </div>
            {% if form.first_name.help_text %}
              <span class="text-sm">{{ form.first_name.help_text }}</span>
            {% endif %}
            {% if form.last_name.help_text %}
              <span class="text-sm">{{ form.last_name.help_text }}</span>
            {% endif %}
            {% for error in form.first_name.errors %}
              <small class="text-red-600 dark:text-flamingo-600">{{ error }}</small>
            {% endfor %}
            {% for error in form.last_name.errors %}
              <small class="text-red-600 dark:text-flamingo-600">{{ error }}</small>
            {% endfor %}
          </div>

          <div class="field mb-2">
            <div class="form-floating">
              {{ form.email|add_class:"form-control"|attr:"placeholder:Email" }}
              {{ form.email.label_tag }}
            </div>
            {% if form.email.help_text %}
              <span class="text-sm">{{ form.email.help_text }}</span>
            {% endif %}
            {% for error in form.email.errors %}
              <small class="text-red-600 dark:text-flamingo-600">{{ error }}</small>
            {% endfor %}
          </div>

          <div class="field mb-2">
            <div class="form-floating">
              {{ form.password|add_class:"form-control"|attr:"placeholder:Password" }}
              {{ form.password.label_tag }}
            </div>
            {% if form.password.help_text %}
              <span class="text-sm">{{ form.password.help_text|safe }}</span>
            {% endif %}
            {% for error in form.password.errors %}
              <small class="text-red-600 dark:text-flamingo-600">{{ error }}</small>
            {% endfor %}
          </div>
        </div>
      </div>

      <hr/>

      <div id="advanced-fields">
        <h4 class="mb-0">More advanced Profile Fields</h4>
        <p class="text-sm">These fields aren't meant to be changed at first. You can change them here, and changing them won't break anything, but make sure to know what each field is before changing it</p>
        <div class="field row mb-2">
          <div class="input-group col-auto">
            <span class="input-group-text">https://{{ request.get_host }}/accounts/profile/</span>
            {{ form.slug|add_class:"form-control"|attr:"placeholder:Slug" }}
          </div>
          {% if form.slug.help_text %}
            <span class="text-sm">{{ form.slug.help_text }}</span>
          {% endif %}
          {% for error in form.slug.errors %}
            <small class="text-red-600 dark:text-flamingo-600">{{ error }}</small>
          {% endfor %}
        </div>
      </div>

      <hr/>

      <div id="customization-fields">
        <h4 class="mb-0">Customization</h4>
        <p class="text-sm">Some fields that change the design of the website, some of the texts on it, only affects you</p>
        <div class="field mb-2">
          <div class="form-floating">
            {{ form.welcome_message|add_class:"form-control"|attr:"placeholder:Welcome message" }}
            {{ form.welcome_message.label_tag }}
          </div>
          {% if form.welcome_message.help_text %}
            <span class="text-sm">{{ form.welcome_message.help_text }}</span>
          {% endif %}
          {% for error in form.welcome_message.errors %}
            <small class="text-red-600 dark:text-flamingo-600">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="field mb-2">
          {{ form.show_github.label_tag }}
          <div class="form-check">
            {{ form.show_github|add_class:"form-check-input" }}
          </div>
          {% if form.show_github.help_text %}
            <span class="text-sm">{{ form.show_github.help_text }}</span>
          {% endif %}
          {% for error in form.show_github.errors %}
            <small class="text-red-600 dark:text-flamingo-600">{{ error }}</small>
          {% endfor %}
        </div>
      </div>

      <button type="submit" class="kho-button-forms kho-button-submit">{{ title }}</button>
    </form>
  {% else %}
    <p>This isn't your profile. <a href="{{ user.get_absolute_update_url }}">Edit your profile</a></p>
  {% endif %}
{% endblock content %}
