{% extends "sub_base_main_block.html" %}
{% load i18n widget_tweaks project_tags %}

{% block content %}
  {% if user.emailaddress_set.all %}
    <div class="text-xl">You can sign in to your account using any of the following third party accounts:</div>

    <form action="{% url 'account_email' %}" class="email_list form" method="post">
      {% csrf_token %}
      <fieldset class="blockLabels">

        {% for emailaddress in user.emailaddress_set.all %}
          <div class="ctrlHolder">
            <label for="email_radio_{{forloop.counter}}" class="form-check-label {% if emailaddress.primary %}primary_email{%endif%}">

              <input id="email_radio_{{forloop.counter}}" class="form-check-input" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %} checked="checked" {%endif %} value="{{emailaddress.email}}"/>

              {{ emailaddress.email }}
              {% if emailaddress.verified %}
                <span class="verified">{% trans "Verified" %}</span>
              {% else %}
                <span class="unverified">{% trans "Unverified" %}</span>
              {% endif %}
              {% if emailaddress.primary %}
                <span class="primary">{% trans "Primary" %}</span>{% endif %}
            </label>
          </div>
        {% endfor %}

        <div class="mt-2 buttonHolder">
          <button type="submit" class="kho-button-forms kho-button-submit mb-2" name="action_primary">{% trans 'Make Primary' %}</button>
          <button type="submit" class="kho-button-forms kho-button-submit mb-2" name="action_send">{% trans 'Re-send Verification' %}</button>
          <button type="submit" class="kho-button-forms kho-button-submit-delete" name="action_remove">{% trans 'Remove' %}</button>
        </div>

      </fieldset>
    </form>

  {% else %}
    <p>
      <strong>{% trans 'Warning:'%}</strong>
      {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>
  {% endif %}

  {% if can_add_email %}
    <div class="text-xl mt-2">{% trans "Add E-mail Address" %}</div>

    <form method="post" action="{% url 'account_email' %}" class="form add_email">
      {% csrf_token %}
      {% form form %}

      <button type="submit" class="kho-button-forms kho-button-submit">{% trans "Add E-mail" %}</button>
    </form>
  {% endif %}

{% endblock %}

{% block extra_body %}
  <script type="text/javascript">
    (function () {
      var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
      var actions = document.getElementsByName('action_remove');
      if (actions.length) {
        actions[0].addEventListener("click", function (e) {
          if (!confirm(message)) {
            e.preventDefault();
          }
        });
      }
    })();
  </script>
{% endblock %}
