{% extends "sub_base_main_block.html" %}
{% load i18n account project_tags %}

{% block content %}
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

  <form enctype="multipart/form-data" method="post" novalidate="novalidate">
    <div class="text-red-600 dark:text-flamingo-600">
      {{ form.non_field_errors }}
    </div>

    {% form form %}

    <button type="submit" class="kho-button-forms kho-button-submit">{{ title }}</button>
  </form>

  <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
