{% extends "base.html" %}
{% load bootstrap4 %}
{% load account %}

{% block title %} - {{ title }} • {{ object.username }}{% endblock title %}

{% block content %}
    <h2>Profile</h2>
    <h2>{% user_display object %}
        {% if object.profile_pic %}
            <img src="{{ object.profile_pic.url }}" alt="Profile Pic of {{ object.username }}" width="50"/>
        {% endif %}

        <hr class="bg-secondary">
    </h2>

    <h4>Username</h4>
    <p>{% user_display object %}</p>

    {% if object.first_name or object.first_name %}
        {% if object.id == user.id and view_as == "self" or view_as == "self" and user.is_superuser %}
            <h4>Name</h4>
            <p><span>{{ object.first_name }} {{ object.last_name }}</span></p>
        {% endif %}
    {% endif %}

    <h4>Role</h4>
    <p>
        {% if object.is_superuser %}
            {% if object.owner %}
                Website Owner
            {% else %}
                Admin
            {% endif %}
        {% elif object.is_staff %}
            Staff
        {% else %}
            User
        {% endif %}
    </p>

    {% if object.bio %}
        <h4>Bio</h4>
        {{ object.bio }}
    {% endif %}

    <hr class="bg-secondary">

    {% for comment in comments %}
        {% if comment.author_logged.id == object.id %}
            <p class="mb-0"><a href="{{ comment.get_absolute_url }}#comment-{{ comment.id }}">{{ comment.related_post }} - {{comment.message}}</a></p>
        {% endif %}
    {% endfor %}

    {% if user.is_superuser %}
        {% if view_as == "self" %}
            <div class="table-responsive mt-2">
                <table class="table table-sm table-dark shadow mb-2">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            {% if user.id != object.id %}
                                <tr>
                                    <th scope="row">{{ user.id }}</th>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td><a href="{{ user.get_absolute_url }}">{{ user.username }}</a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endif %}

    {% if object.id == user.id and view_as == "self" or view_as == "self" and user.is_superuser %}
        <hr class="bg-secondary">

        <p><a class="btn btn-primary" href="{% url 'accounts:edit_profile' slug=object.slug %}">Edit Profile</a></p>
        <p><a class="btn btn-primary" href="{% url 'accounts:edit_connections' slug=object.slug %}">Edit Connections</a></p>
    {% endif %}

    {% if object.id == user.id and view_as == "self" %}
        <hr class="bg-secondary">

        <p><a class="btn btn-primary" href="?view_as=guest">View as Guest</a></p>
    {% elif object.id == user.id and view_as == "guest" %}
        <hr class="bg-secondary">
        <div>
            <a class="btn btn-outline-light p-2" href="{% url 'accounts:profile' slug=object.slug %}">
                Leave Guest View
            </a>
        </div>
    {% endif %}

{% endblock content %}