{% extends "base.html" %}
{% load bootstrap4 %}
{% load account %}

{% block title %} - Profile | {{ object.username }}{% endblock title %}

{% block content %}
    <h2>Profile</h2>
    <h2>{% user_display object %}'s Profile
        {% if object.profile_pic %}
            <img src="{{ object.profile_pic.url }}" alt="profile pic" width="50"/>
        {% endif %}
    </h2>

    {% if user.is_authenticated %}
        {% if object.id == user.id or user.is_superuser %}
            <a class="mb-2 btn btn-primary" href="{% url 'edit_profile' slug=object.slug %}">Edit Profile</a>
            <br>
            <a class="btn btn-primary" href="{% url 'edit_connections' slug=object.slug %}">Edit Connections</a>
        {% endif %}
    {% endif %}

{% endblock content %}