{% extends 'blog/base_post.html' %}
{% load static %}

{% block title %}
  Error 400 Bad Request
{% endblock title %}

{% block page_top_title %}
  Error 400 Bad Request
{% endblock page_top_title %}

{% block page_top_end %}
  <a class="btn btn-primary float-end" href="{% url 'blog:latest' %}">
    Latest Post
  </a>
{% endblock page_top_end %}

{% block content_main %}
  <br/>

  <a class="btn btn-danger" href="{% url 'pages:kheee' %}">Error 400 Bad Request</a>
{% endblock content_main %}

{% block pagination %}{% endblock pagination %}
