{% load static %}
{% load socialaccount %}
{% load default_app_theme_set %}
{% load footer_set %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% if not debug_flag %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-V7PT0XGK3G"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'G-V7PT0XGK3G');
        </script>

        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-ND43ZGJ');</script>
        <!-- End Google Tag Manager -->
    {% endif %}

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="canonical" href="{{ CANONICAL_PATH }}">
    <link rel="shortlink" href="{{ CANONICAL_PATH }}">

    <meta property="og:site_name" content="Hello There !"/>
    <meta property="og:image" content="{% static 'khoBlog/img/RuthinkkTooBig.png' %}">
    <meta property="twitter:image" content="{% static 'khoBlog/img/RuthinkkTooBig.png' %}">

    {% block page_head %}
        <!-- Primary Meta Tags -->
        <meta name="title" content="{{ title }}">
        <meta name="description"
              content="Khodok's Blog was a simple test for Django for school at first before Khodok (the dev of this stupid website) started to like it and continued it as a personal project">

        <!-- Open Graph / Facebook -->
        <meta property="og:title" content="{{ title }}">
        <meta property="og:url" content="{{ CANONICAL_PATH }}"/>
        <meta property="og:description"
              content="Khodok's Blog was a simple test for Django for school at first before Khodok (the dev of this stupid website) started to like it and continued it as a personal project">

        <!-- Twitter -->
        <meta property="twitter:title" content="{{ title }}">
        <meta property="twitter:url" content="{{ CANONICAL_PATH }}">
        <meta property="twitter:description"
              content="Khodok's Blog was a simple test for Django for school at first before Khodok (the dev of this stupid website) started to like it and continued it as a personal project">
    {% endblock page_head %}

    <meta name="theme-color" content="#B362FF">
    <link type="application/json+oembed" href="https://blog.khodok.xyz/static/khoBlog/js/oembed/oembed.json"
          title="oEmbed Profile: JSON">

    <title>
        Khodok's Blog
        {% block title %}
        {% endblock title %}
    </title>

    <link rel="stylesheet" href="{% static 'vendor/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">

    <script src="{% static 'vendor/node_modules/jquery/dist/jquery.slim.min.js' %}"></script>

    {% block rel %}
        <!-- base! favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'khoBlog/img/favicon.ico' %}"/>

        <!-- rel! Fonts / Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

        <!-- rel! Themes -->
        <link rel="stylesheet" href="{% static 'khoBlog/css/highlight.css' %}">
        <link rel="stylesheet" href="{% static 'khoBlog/css/main.css' %}">
    {% endblock rel %}

    {% if not debug_flag %}
        <meta name="google-site-verification" content="KZMs6ddQ5vepSstnuHhhjh_4IhiS0hPZfSvqPH98wrI"/>
    {% endif %}
</head>

<body class="wrapper {% if user.is_authenticated %}{{ user.default_theme }}{% else %}{% spaceless %}{% dt_setting themes %}{% endspaceless %}{% endif %}">
    {% if not debug_flag %}
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ND43ZGJ"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow-sm" aria-label="Main navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'blog:post_list' %}">Khodok's Blog</a>
            <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="top_navbar">
                <div class="d-block d-lg-none">
                    {% block nav %}
                    {% endblock nav %}
                </div>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-none d-md-flex">
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:post_new' %}">New Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:post_draft_list' %}">Drafts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:post_scheduled_list' %}">Scheduled</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:post_withdrawn_list' %}">Withdrawn</a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:signup' %}">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% provider_login_url 'google' %}">Log in with Google</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% provider_login_url 'discord' %}">Log in with Discord</a>
                        </li>

                    {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#themes_dropdown" id="themes_dropdown" data-bs-toggle="dropdown" aria-expanded="false">Themes</a>
                        <ul class="dropdown-menu dropdown-menu-dark controls" aria-labelledby="themes_dropdown">
                            <li><a class="controls dropdown-item{% if user.is_authenticated and user.default_theme == 'default' %} disabled{% endif %}" data-theme="default">Default</a></li>
                            <li><a class="controls dropdown-item{% if user.is_authenticated and user.default_theme == 'uglybanana' %} disabled{% endif %}" data-theme="uglybanana">Funny banana</a></li>
                            <li><a class="controls dropdown-item{% if user.is_authenticated and user.default_theme == 'banana' %} disabled{% endif %}" data-theme="banana">Pretty banana</a></li>
                            <li><a class="controls dropdown-item{% if user.is_authenticated and user.default_theme == 'cherry' %} disabled{% endif %}" data-theme="cherry">Hot cherry</a></li>
                            <li><a class="controls dropdown-item{% if user.is_authenticated and user.default_theme == 'sop' %} disabled{% endif %}" data-theme="sop">Shades of Purple</a></li>
                            <li><a class="controls dropdown-item{% if user.is_authenticated and user.default_theme == 'leaf' %} disabled{% endif %}" data-theme="leaf">Smooth leaf</a></li>
                            <li><a class="controls dropdown-item{% if user.is_authenticated and user.default_theme == 'nightsky' %} disabled{% endif %}" data-theme="nightsky">Night sky</a></li>
                        </ul>
                    </li>

                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#accounts_dropdown" id="accounts_dropdown" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="accounts_dropdown">
                                <li><a class="dropdown-item" href="{% url 'accounts:profile' slug=user.slug %}">Your Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'accounts:edit_profile' slug=user.slug %}">Edit your Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'accounts:profile' slug=user.slug %}?view_as=guest">View Profile as Guest</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a></li>
                            </ul>
                        </li>

                        {% if user.is_superuser or user.is_staff %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#settings_dropdown" id="settings_dropdown" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="settings_dropdown">
                                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                                    {% if user.is_superuser %}
                                        <li><a class="dropdown-item" href="{% url 'api-root' 'v1' %}">API V1</a></li>
                                        <li><a class="dropdown-item" href="https://eu.pythonanywhere.com">Pythonanywhere</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>

                {% include 'includes/nav/search/big_search.html' %}
            </div>
        </div>
    </nav>

    {% include 'includes/nav/undernav.html' %}

    <main role="main" class="container-fluid mb-2">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-auto">

                <h2 class="row clearfix">
                    <div class="col col-sm-auto">
                        <div>
                            {% block page_top_title %}
                                {{ title }}
                            {% endblock page_top_title %}
                        </div>
                    </div>
                    <div class="col d-none d-sm-block">
                        <form action="{{ search_url }}" method="get">
                            <input type="text" class="form-control" id="search_title" placeholder="Search" name="q"
                                aria-label="search" aria-describedby="search">
                        </form>
                    </div>
                    <div class="col-auto">
                        {% block page_top_end %}
                            <a class="btn btn-primary float-end" href="{% url 'blog:search' %}">
                                Search
                            </a>
                        {% endblock page_top_end %}
                    </div>
                </h2>

                {% block content %}
                {% endblock content %}

            </div>

            <aside class="col-xl-3 col-lg-3 d-none d-lg-block">
                <h2>Menus</h2>
                {% block aside %}
                {% endblock aside %}
            </aside>
        </div>
    </main>

    <footer class="blog-footer">
        <div class="container-fluid">
            <div class="row align-items-center">
                {% footer_setting footers %}
            </div>
        </div>
    </footer>

    <!-- rel! js -->
    <script src="{% static 'khoBlog/js/scripts/dynamic.js' %}"></script>
    <script src="{% static 'vendor/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'khoBlog/js/scripts/offcanvas.js' %}"></script>

    <script>
        (function(exports) {
            var themeChanger = {
                settings: {
                    wrapper: $('.wrapper'),
                    buttons: $('.controls .controls')
                },

                init: function () {
                    var _self = this;
                    this.settings.buttons.on('click', function () {
                        var $node = $(this),
                            theme = $node.data('theme');
                        _self.settings.wrapper.removeClass().addClass('wrapper ' + theme);
                        _self.settings.buttons.removeClass('disabled');
                        $node.toggleClass('disabled');
                    });
                }
            };

            themeChanger.init();
        }(window));
    </script>

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

</body>
</html>
