{% extends 'sub_base_main.html' %}
{% load static %}

{% block main %}

    {% block page_top %}
        {{ block.super }}
    {% endblock page_top %}

    {% block content_main %}
    {% endblock content_main %}

    {% block pagination %}
        <nav class="blog-pagination">
            {% if is_paginated %}
                <ul class="pagination mb-0">
                    {% if page_obj.has_previous %}
                        <li class="page-item bg-primary"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link">Previous</a></li>
                    {% endif %}

                    {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
                        {% if page_obj.number == i %}
                            <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                        {% else %}
                            {% if i == page_obj.paginator.ELLIPSIS %}
                                <li class="page-item"><span class="page-link">{{ i }}</span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link">Next</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </nav>
    {% endblock pagination %}

{% endblock main %}
