{% extends 'base.html' %}

{% block nav %}

    {% include 'includes/nav/nav_about.html' %}

    {% include 'includes/nav/nav_auth.html' %}

    {% block inside_nav %}
    {% endblock inside_nav %}

    {% include 'includes/nav/nav_list.html' %}
{% endblock nav %}

{% block aside %}
    {% include 'includes/nav/nav_about.html' %}

    {% include 'includes/nav/nav_auth.html' %}

    {% block inside_aside %}
    {% endblock inside_aside %}

    {% include 'includes/nav/nav_list.html' %}
{% endblock aside %}
