{% extends 'base.html' %}
{% load side_menu_set %}
{% load project_tags %}

{% block nav %}
    {% sm_setting sides %}

    {% block inside_nav %}
    {% endblock inside_nav %}

{% endblock nav %}

{% block aside %}

    {% if filter %}
        <div class="card p-4 mb-2 rounded shadow">
            <form class="card formcard" method="get">
                <h4 class="fst-italic">Filters</h4>
                <div class="text-danger">
                    {{ form.non_field_errors }}
                </div>

                {% form_get filter.form %}

                <input class="btn btn-primary" type="submit" />
            </form>
        </div>
    {% endif %}

    {% sm_setting sides %}

    {% block inside_aside %}
    {% endblock inside_aside %}

{% endblock aside %}
