{% extends 'sub_base.html' %}

{% block content %}
    {% for thing in things %}
        <div class="card mb-2">
            <div class="card-body">
                <div class="card-text">
                    <div class="row">
                <div class="col-auto">
                    {% for field in thing %}
                        <p class="mb-0">{{field}}:</p>
                    {% endfor %}
                </div>
                <div class="col-auto">
                    {% for value in thing.values %}
                        <p class="mb-0">{{ value }}</p>
                    {% endfor %}
                </div>
            </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
