{% extends 'sub_base_main.html' %}
{% load widget_tweaks project_tags %}

{% block main %}
    {% if user.is_superuser %}
        <h3>Approve: {{ comment.related_post }} - {{comment.body}}</h3>
        <form method="POST" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {% form form %}

            <button type="submit" class="btn btn-primary mt-2">{{ title }}</button>
        </form>
    {% else %}
        <p>You aren't allowed to do this</p>
    {% endif %}
{% endblock main %}
