{% extends 'sub_base_main.html' %}
{% load bootstrap5 %}

{% block main %}
    {% if comment.author_logged.id == user.id or user.is_superuser %}
        <h3>Delete: {{ comment.related_post }} - {{comment.body}}</h3>
        <form method="POST" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary mt-2">{{ title }}</button>
            {% endbuttons %}
        </form>
        {{ form.media }}
    {% else %}
        <p>You aren't allowed to do this</p>
    {% endif %}
{% endblock main %}
