@import 'variables';

$primary: $palette_primary;
$secondary: $palette_secondary;
$success: $palette_success;
$danger: $palette_danger;
$warning: $palette_warning;
$info: $palette_info;

$dark: $palette_dark;

$link-color: $link-color;
$link-hover-color: $link-hover-color;

$font-family: $font-family-base;

@import '../vendor/node_modules/bootstrap/scss/bootstrap.scss';
