$palette_primary: #6358eb;
$palette_secondary: #4a486b;
$palette_danger: #eb4034;
$palette_success: #5ced4c;
$palette_warning: #f5ef45;
$palette_info: #45def5;

$palette_light: #a59fee;
$palette_attenuation: #4c44b8;
$palette_dark: #2c286b;

$font-family-sans-serif: 'Montserrat' !default;
$font-family-base: $font-family-sans-serif !default;
