$palette_primary: rgb(95, 69, 117);
$palette_secondary: #444749;
$palette_danger: #a74646;
$palette_success: #5ced4c;
$palette_warning: #c0bc40;
$palette_info: #45def5;

$palette_light: #a59fee;
$palette_attenuation: #7872d4;
$palette_dark: #212121;

$link-color: $palette_light;
$link-hover-color: $palette_attenuation;

$font-family-sans-serif: Roboto !default;
$font-family-base: $font-family-sans-serif !default;
