{% load about_set %}

<div class="card p-4 mb-2 rounded shadow">
    {% setting abouts %}

    <div class="btn-group-vertical d-block mb-2" role="group" aria-label="Group Interesting Links">
        <a class="btn btn-primary" href="{% url 'blog:latest' %}">Latest Post</a>
        <a class="btn btn-primary" href="{% url 'blog:category_list' %}">Category List</a>
        <a class="btn btn-primary" href="{% url 'portfolio:project_list' %}">Portfolio</a>

        {% if user.is_authenticated %}
            {% if perms.polls.view_question %}
                <a class="btn btn-primary" href="{% url 'polls:index' %}">Polls</a>
            {% endif %}
            {% if user.is_superuser %}
                <a class="btn btn-primary" href="{% url 'todo:index' %}">Todo</a>
            {% endif %}
        {% endif %}

    </div>

    {% include 'includes/nav/search/small_search.html' %}

</div>
